{% extends 'backoffice/base.html' %}
{% load url from future %}
{% load i18n course %}

{% block extr_js %}
<script>
    {% if course_infos %}
    $(document).ready(function() {
        $('#courses-list').DataTable({
            paging:   false,
            searching: false,
            info: false,
        });
    });
    {% endif %}
</script>
{% endblock %}

{% block content %}

    <div>
        <h1>{% trans "Courses" %}</h1>

        <div class="col-xs-4">
            <form method="GET" action=".">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">{% trans 'Search' %}</span>
                    <input type="text" class="form-control" placeholder="{% trans 'university or course name' %}" aria-describedby="sizing-addon1" value="{{ pattern|default:'' }}" name="search">
                </div>
            </form>
        </div>
        <div class="col-xs-4">
            <form action="." method="POST">{% csrf_token %}
                <button type="submit" class="btn btn-info">{% trans "Download" %}</button>
            </form>
        </div>

        <div class="col-xs-4">
            {{ course_infos|length }} {% blocktrans %}courses{% endblocktrans %}{% if pattern %} {% trans "for your search pattern" %}{% endif %}
        </div>

        <table class="table table-striped table-hover" id="courses-list">
            <thead>
                <tr>
                    <th>{% trans 'Ident' %}</th>
                    <th>{% trans 'University' %}</th>
                    <th>{% trans 'Title' %}</th>
                    <th>{% trans 'Start' %}</th>
                    <th>{% trans 'End' %}</th>
                    <th>{% trans 'Enrollment start' %}</th>
                    <th>{% trans 'Enrollment end' %}</th>
                    <th>{% trans 'See' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for course_info in course_infos %}
                <tr>
                    <td>
                        <a href="{% url 'backoffice:course-detail' course_info.key %}">{{ course_info.key }}</a>
                        {% if course_info.show_in_catalog %}
                            <span class="label label-success">{% trans "Visible" %}</span>
                        {% else %}
                            <span class="label label-primary">{% trans "Invisible" %}</span>
                        {% endif %}
                    </td>

                    <td>
                        {{ course_info.university_display_name }}
                    </td>
                    <td>{{ course_info.title }}</td>
                    <td data-order="{{ course_info.course.start_date|date:'ymd' }}">{{ course_info.start_date|date:'d/m/y' }}</td>
                    <td data-order="{{ course_info.end_date|date:'ymd' }}">{{ course_info.end_date|date:'d/m/y' }}</td>
                    <td data-order="{{ course_info.enrollment_start_date|date:'ymd' }}">{{ course_info.enrollment_start_date|date:'d/m/y' }}</td>
                    <td data-order="{{ course_info.enrollment_end_date|date:'ymd' }}">{{ course_info.enrollment_end_date|date:'d/m/y' }}</td>
                    <td>
                        <a target="_blank" href="//{{ lms_base }}/courses/{{ course_info.key }}/about" title="{% trans 'See course' %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="20">
                {% if pattern %}
                    {% trans 'No result for this search pattern' %}
                {% endif %}
                {% endfor %}
                </td></tr>
            </tbody>
        </table>


    </div>


{% endblock %}
