{% extends 'backoffice/courses/base-detail.html' %}
{% load url from future %}
{% load i18n course staticfiles %}

{% block extra_head %}
{% endblock %}


{% block tab_content %}
    <div class="row">
        <div class="col-md-12">

            <div class="container">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{% trans 'User' %}</th>
                            <th>{% trans 'ProcterU Id' %}</th>
                            <th>{% trans 'ProctorNotes' %}</th>
                            <th>{% trans 'Reservation Nb' %}</th>
                            <th>{% trans 'Checked Id' %}</th>
                            <th>{% trans 'Exam start date' %}</th>
                            <th>{% trans 'Authenticated' %}</th>
                            <th>{% trans 'IncidentReport' %}</th>
                            <th>{% trans 'Escalated' %}</th>
                            <th>{% trans 'Exam grade' %}</th>
                            <th>{% trans 'Exam Passed' %}</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for student_id, reports in students.items %}
                            {%if reports %}
                            <tr>
                                {# User #}
                                <td class="user" style="vertical-align: middle;">
                                    {% if reports.0.fun_user_url %}
                                    <a href="{{ reports.0.fun_user_url}}">
                                        {{ reports.0.Student }}
                                    </a>
                                    {% else %}
                                        {{ reports.0.Student }}
                                    {% endif %}
                                </td>

                                {# ProctorU Id #}
                                <td class="proctorU-id" style="vertical-align: middle;">{{ student_id }}</td>

                                {# ProctorNotes #}
                                <td class="proctor-notes" style="vertical-align: middle;">
                                    <ul class="list-group" style="margin-top: 1em;">
                                    {% for report in reports %}
                                                {% if "cancelled" in report.ProctorNotes %}
                                                    <li class="list-group-item list-group-item-warning"> {{  report.ProctorNotes }} </li>
                                                {% else %}
                                                    <li class="list-group-item list-group-item-success"> {{  report.ProctorNotes }} </li>
                                                {% endif %}
                                            {% endfor %}
                                    </ul>
                                </td>

                                {# ReservationNo #}
                                <td class="reservation-no" style="vertical-align: middle;">
                                    <ul class="list-group" style="margin-top: 1em;">
                                    {% for report in reports %}
                                        {% if "cancelled" in report.ProctorNotes %}
                                            <li class="list-group-item list-group-item-warning"> {{  report.ReservationNo }} </li>
                                        {% else %}
                                            <li class="list-group-item list-group-item-success"> {{  report.ReservationNo }} </li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </td>

                                {# Check Id (bool)#}
                                <td class="check-id" style="vertical-align: middle;">
                                    {% if reports.0.CheckID %}
                                        <span class="label label-success">{{ reports.0.CheckID }}</span>
                                    {% else %}
                                        <span class="label label-warning">{{ reports.0.CheckID }}</span>
                                    {% endif %}
                                </td>

                                {# Exam start date #}
                                <td class="start-date" style="vertical-align: middle;">
                                    {{ reports.0.StartDate }}
                                </td>

                                {# Authenticated (bool) #}
                                <td class="authenticated" style="vertical-align: middle;">
                                    {% if reports.0.Authenticated %}
                                        <span class="label label-success">{{ reports.0.Authenticated }}</span>
                                    {% else %}
                                        <span class="label label-warning">{{ reports.0.Authenticated }}</span>
                                    {% endif %}
                                </td>

                                {# IncidentReport (bool) #}
                                <td class="incident-report" style="vertical-align: middle;">
                                    {% if not reports.0.IncidentReport %}
                                        <span class="label label-success">{{ reports.0.IncidentReport }}</span>
                                    {% else %}
                                        <span class="label label-warning">{{ reports.0.IncidentReport }}</span>
                                    {% endif %}
                                </td>

                                {# Escalated (bool) #}
                                <td class="escalated" style="vertical-align: middle;">
                                    {% if not reports.0.IncidentReport %}
                                        <span class="label label-success">{{ reports.0.Escalated }}</span>
                                    {% else %}
                                        <span class="label label-warning">{{ reports.0.Escalated }}</span>
                                    {% endif %}
                                </td>

                                {# Exam grade (number) #}
                                <td class="exam_grade" style="vertical-align: middle;">
                                    {{ reports.0.fun_exam_grade }}
                                </td>

                                {# Exam passed (bool) #}
                                <td class="exam_passed" style="vertical-align: middle;">
                                    {% if not reports.0.fun_exam_pass %}
                                        <span class="label label-warning">{{ reports.0.fun_exam_pass }}</span>
                                    {% else %}
                                        <span class="label label-success">{{ reports.0.fun_exam_pass }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                      {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>
    </div>
{% endblock tab_content %}