## mako
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from courses_api.routers import CourseAPIRouter
%>

<%inherit file="/funsite/parts/base-fluid.html" />

<%block name="title">${_("Courses")}</%block>

<%block name="js_extra">

<%def name="static_include(path)">
    <%
    from django.template.loaders.app_directories import _loader
    source, template_path = _loader.load_template_source(path)
    %>
    ${source}
</%def>


% for template_name in ['small-course-block', 'criterion-value', 'filter']:
<script type="text/template" id="${template_name}-tpl">
    ${static_include("courses_api/js/" + template_name + ".underscore")}
</script>
% endfor

<script>


require(["jquery", "underscore", "backbone"],
    function ($, _, Backbone) {

        var loadTemplate = function(name) {
            var templateSelector = '#' + name + '-tpl',
                templateText = $(templateSelector).text();
            if (!templateText) {
                console.error('Failed to load ' + name + ' template');
            }
            return _.template(templateText);
        };

        var filters = [
            {title: "${_('Availability')}", name: 'availability', type: 'select', select: '#availability-select', values: [
                {value: 'enrollment-ends-soon', title: "${_('Imminent end of enrollment')}", count: ${courses_count_end_soon}},
                {value: 'start-soon', title: "${_('Starts soon')}", count: ${courses_count_start_soon}},
                {value: 'new', title: "${_('New')}", count: ${courses_count_new}},
            ]},
            {title: '${_("Themes")}', name: 'subject', type: 'select', max: 8, all_button: "${_('All themes')}", overlay: '#all-themes-overlay', select: '#theme-select', values: [
                %for course_subject in course_subjects:
                {value: "${course_subject.slug}", title: "${course_subject.get_short_name()}", count: ${course_subject.public_courses_count}},
                %endfor
            ]},
            {title: "${_('Universities')}", name: 'university', type: 'select', max: 10, all_button: "${_('All universities')}", overlay: '#all-universities-overlay', select: '#university-select', values: [
                %for university in universities:
                {value: "${university.code}", title: "${university.get_short_name()}", count: ${university.public_courses_count}},
                %endfor
            ]},
            /*
            {title: '${_("Certified training")}', name: 'certificate', type: 'checkbox', values: [
                {value: "certificat", title: "Certificate", count: 50 },
            ]},
            {title: '${_("Language")}', name: 'language', type: 'select', values: [
                {value: 'fr', title: "Français", image: 'french-flag', count: 12},
                {value: 'en', title: "English", image: 'english-flag', count: 12},
                {value: 'de', title: "Deutsch", image: 'german-flag', count: 12},
                {value: 'es', title: "Español", image: 'spanish-flag', count: 12},
            ]},
            */

        ];

        var AppRouter = Backbone.Router.extend({
            routes: {
                "(filter)": "initializeFilter",
                "filter(/:name/:slug)(?page=:page&rpp=:rpp)": "filter",
            },
            initialize: function(options) {
                this.criterioncollection = options.criterioncollection;
                this.filter = options.filter;
                this.listenTo(this.filter, 'change', this.updateUrl);
            },
            updateUrl: function() {
                var url = "";
                var selected = this.filter.get("selected");
                var page = this.filter.get("currentPage");
                var rpp = this.filter.get("resultsPerPage");
                if (selected) {
                    url += '/' + selected.criterionName() +
                           '/' + selected.get('value');
                }
                if ((page && page != "1") || (rpp && rpp != "50")) {
                    url += '?' + $.param([
                        {name: "page", value: page},
                        {name: "rpp", value: rpp}
                    ]);
                }
                if (url) {
                    url = "filter" + url;
                }

                this.navigate(url, {trigger: false});
            },
            initializeFilter: function() {
                this.filter.trigger("initialized")
            },
            filter: function(name, slug, page, rpp) {
                if (name && name !== 'page') {
                    var criterion = this.criterioncollection.findWhere({'name': name});
                    var value = criterion.getValue(slug);
                    var $select = $('select[id^="' + name + '"]');
                    $select.val(slug);
                    this.filter.set('selected', value);
                }
                if (rpp) {
                    this.filter.set("resultsPerPage", parseInt(rpp));
                }
                if (page) {
                    this.filter.set("currentPage", parseInt(page));
                }
            },
        });


        var Value = Backbone.Model.extend({
            criterionName: function() {
                return this.collection.criterion.get("name");
            }
        });
        var ValueCollection = Backbone.Collection.extend({
            model: Value,
            initialize: function(models, options) {
                this.criterion = options.criterion;
            },
        });
        var ValueView = Backbone.View.extend({
            tagName: 'li',
            className: "criterion",
            template: loadTemplate("criterion-value"),

            initialize: function() {},

            events: {"click": "onClick"},

            isCheckbox: function() {
                return this.model.collection.criterion.get('type') === 'checkbox';
            },
            render: function() {
                // if an image is provided we add some CSS classes
                var image = this.model.get('image');
                if (image) {
                    this.$el.addClass('icon ' + image);
                } else if (this.isCheckbox()) {
                    this.$el.addClass('filter-checkbox');
                }

                this.$el.html(this.template(this.model.toJSON()));
                return this;
            },
            onClick: function(event) {
                if (this.isCheckbox()) {
                    this.$el.toggleClass('checked');
                    this.model.set('value', this.$el.hasClass('checked') ? 'certificate' : '');
                }
                this.model.collection.trigger('valueSelected', this.model);
            }
        });
        var SelectValueView = ValueView.extend({
            tagName: 'option',
            className: '',
            render: function() {
                this.$el.attr('value', this.model.get('value'));
                this.$el.text(this.model.get('title'))
                return this;
            }
        })


        // only display `max` items in filter columns (others will be displayed when `all` button clicked)
        var ShortValueCollectionView = Backbone.View.extend({
            tagName: 'ul',
            className: "criteria",

            initialize: function(options) {
                this.listenTo(this.collection, 'add', this.addOne);
                this.listenTo(this.collection, 'valueSelected', this.valueSelected);
                this.max = options.max;
                this.count = 0;
            },
            valueSelected: function(value) {
                // ShortValueCollectionView and LongValueCollectionView use the same collection,
                // so this event will be triggered for both display
                this.collection.criterion.collection.trigger('criterionSelected', value)
                $('.hide-on-escape-key').hide();
            },
            addOne: function(item) {
                if (this.count < this.max) {
                    var view = new ValueView({model: item});
                    this.$el.append(view.render().el);
                    this.count += 1;
                }
            },

        });

        // Collection view that stores the value views listed whenever we click
        // on a "all" button.
        var LongValueCollectionView = Backbone.View.extend({
            initialize: function() {
                this.listenTo(this.collection, 'add', this.addOne);
                this.sortedViews = [];
            },
            viewTitle: function(index) {
                return this.sortedViews[index].model.get("title");
            },
            createView: function(model) {
                var view = new ValueView({model: model});
                return view;
            },
            addOne: function(item) {
                // Insert view at the proper position, sorted by title
                var view = this.createView(item);
                var insertBeforeIndex;
                for (insertBeforeIndex=0; insertBeforeIndex < this.sortedViews.length; insertBeforeIndex++) {
                  if (this.viewTitle(insertBeforeIndex) > item.get('title')) {
                      break;
                  }
                }
                if (insertBeforeIndex === this.sortedViews.length) {
                    this.$el.append(view.render().$el);
                } else {
                    this.sortedViews[insertBeforeIndex].$el.before(view.render().$el);
                }
                this.sortedViews.splice(insertBeforeIndex, 0, view);
            },
        });

        var SelectValueCollectionView = LongValueCollectionView.extend({
            events: {"change": "onChange"},
            initialize: function(options) {
                SelectValueCollectionView.__super__.initialize.apply(this);
                this.$el.append($('<option>').text(options.title));
            },
            createView: function(model) {
                var view = new SelectValueView({model: model});
                return view;
            },
            onChange: function(event) {
                var model = this.collection.findWhere({value: event.target.value});
                this.collection.criterion.collection.trigger('criterionSelected', model);
                // reset other selects
                $('.small-device-filter select').not('#' + this.$el.attr('id')).prop('selectedIndex', 0);
            },
        });

        var Criterion = Backbone.Model.extend({
            defaults: {
                // if no max value, we use a big one to display all items (and save JS LOC)
                "max":  100
            },
            initialize: function() {
                this.valuecollection = new ValueCollection([], {criterion: this});
            },
            getValue: function(value) {
                return this.valuecollection.findWhere({value: value});
            }
        });

        var CriterionView = Backbone.View.extend({
            tagName: 'div',

            initialize: function() {
                this.valuecollectionview = new ShortValueCollectionView({
                        collection: this.model.valuecollection,
                        max: this.model.get('max')});

                this.selectvaluecollectionview = new SelectValueCollectionView({
                        el: this.model.get('select'),
                        collection: this.model.valuecollection,
                        title: this.model.get('title')});

                if (this.model.get('all_button')) {
                    this.longvaluecollectionview = new LongValueCollectionView({
                            el: this.model.get('overlay') + ' ul',
                            collection: this.model.valuecollection});

                    // Hide overlay on click outside of overlay
                    var overlay = $(this.model.get("overlay"));
                    var that = this;
                    var onBodyClick = function(e) {
                      if (!overlay.is(e.target) && !that.$(".all-items").is(e.target)) {
                          overlay.hide();
                      }
                    }
                    $('body').on("click", onBodyClick);
                };
                this.model.valuecollection.add(this.model.get("values"))
            },

            render: function() {
                // We don't use a template here
                this.$el.html($('<h2>').text(this.model.get('title')));
                this.$el.append(this.valuecollectionview.render().el);
                if (this.model.get('all_button')) {
                    this.$el.append($('<span>').attr(
                            {'class': 'btn btn-transparent btn-dark-bg btn-block btn-padded all-items'}).text(this.model.get('all_button')))
                }

                return this;
            },

            events: {
                'click span.all-items': 'toggleAllItemsOverlay'
            },

            toggleAllItemsOverlay: function(event) {
                var overlay = $(this.model.get('overlay'));
                overlay.toggle();

                if (overlay.is(':visible')) {
                    /* Calculate vertical overlay's position regarding clicked button */
                    var top =  $(event.currentTarget).prev().prev().offset().top - 68;
                    overlay.css('top', top + 'px');

                    /* Calculate vertical UL's height regarding the number of items and columns as Chrome seems to fail to do it right */
                    var height = Math.ceil(overlay.find('li').length / overlay.find('ul').css('column-count'));
                    var li_height = $('li.criterion').outerHeight(true);
                    li_height +=3;  // quick fix to compensate university names which use 2 lines... We have to use shorter name
                    overlay.find('ul').css('height', (height * li_height) + 'px');
                }
            },
        })

        var CriterionCollection = Backbone.Collection.extend({
            model: Criterion,
        });

        var CriterionCollectionView = Backbone.View.extend({
            initialize: function() {
                this.listenTo(this.collection, 'add', this.addOne);
            },
            addOne: function(criterion) {
                var view = new CriterionView({model: criterion});
                this.$el.append(view.render().el);
            },

        });

        var Filter = Backbone.Model.extend({
            defaults: {
                selected: null,
                resultsPerPage: 50,
                resultsPerPageChoices: [20, 50, 100, -1],
                currentPage: 1,
            },
            startNewSearch: function(value) {
                if (value !== this.get("selected")) {
                    this.set({
                        selected: value,
                        currentPage: 1,
                    });
                }
            }
        });
        var ResultStats = Backbone.Model.extend({
            defaults: {
                totalCount: null,
            }
        });
        var FilterView = Backbone.View.extend({
            initialize: function(options) {
                this.resultstats = options.resultstats;
                this.listenTo(this.model, 'change', this.render);
                this.listenTo(this.resultstats, 'change', this.render);
            },
            events: {
                "click .glyphicon-remove": "clearSelectedValue",
                "change .results-per-page": "changeResultsPerPage",
                "click .result-page": "changeCurrentPage",
            },
            template: loadTemplate("filter"),
            clearSelectedValue: function() {
                this.model.startNewSearch(null);
                $('.small-device-filter select').prop('selectedIndex', 0);  // reset selects
            },
            changeResultsPerPage: function(e) {
                var resultsPerPage = parseInt(e.target.selectedOptions[0].value);
                this.model.set("resultsPerPage", resultsPerPage);
            },
            changeCurrentPage: function(e) {
                this.model.set("currentPage", parseInt($(e.target).attr("data-page")));
            },
            render: function() {
                var context = this.model.toJSON();
                context.totalCount = this.resultstats.get("totalCount");
                context.totalPageCount = Math.ceil(context.totalCount / context.resultsPerPage);
                this.$el.html(this.template(context));
                return this;
            }
        });

        var Course = Backbone.Model.extend({});
        var CourseView = Backbone.View.extend({
            tagName: 'li',
            template: loadTemplate("small-course-block"),
            initialize: function() {
                this.listenTo(this.model, "destroy", this.remove);
                this.listenTo(this.model, "remove", this.remove);
            },
            render: function() {
                var context = this.model.toJSON();
                context.course_about = '/courses/'+ context.key + '/about';
                this.$el.html(this.template(context));
                return this;
            },
        });
        var CourseCollection = Backbone.Collection.extend({
            model: Course,
            initialize: function(models, options) {
                this.filter = options.filter;
                this.resultstats = options.resultstats;
            },
            url: function() {
                // build query parameters
                var parameters = [];
                var selectedValue = this.filter.get("selected");
                if (selectedValue) {
                    parameters.push({
                        name: selectedValue.criterionName(),
                        value: selectedValue.get("value")
                    });
                }
                if (this.filter.get("resultsPerPage") >= 0) {
                    parameters.push({
                        name: "rpp",
                        value: this.filter.get("resultsPerPage"),
                    })
                }
                parameters.push({
                    name: "page",
                    value: this.filter.get("currentPage"),
                })
                return "${reverse('fun-courses:%s-list' % CourseAPIRouter.BASENAME)}" + '?' + $.param(parameters);
            },
            parse: function (response) {
               this.resultstats.set("totalCount", response.count);
               return response.results;
            },
        });
        var CourseCollectionView = Backbone.View.extend({
            initialize: function(data) {
                this.listenTo(this.collection, 'add', this.addOne);
            },
            addOne: function(item) {
                var view = new CourseView({model: item});
                this.$el.append(view.render().el);
            },
            render: function() {
                /* add some fake blocks to get correct alignment on last line */
                this.$el.find('.fake').remove();  // clear previousely added fake blocks
                for (var i = 5; i >= 0; i--) {
                    this.$el.append($('<li>').attr('class', 'small-course fake'));
                };
                return this;
            }
        });

        var AppView = Backbone.View.extend({
            initialize: function(data) {
                // filtering criteria
                var criterioncollection = new CriterionCollection;
                var criterioncollectionview = new CriterionCollectionView({
                    el: this.$(".criterions"),
                    collection: criterioncollection
                });

                this.listenTo(criterioncollection, 'criterionSelected', this.criterionSelected)
                criterioncollection.add(data.filters)

                // result stats
                var resultstats = new ResultStats;

                // selected filter
                this.filter = new Filter;
                this.filterview = new FilterView({
                    model: this.filter,
                    el: this.$('.result-navigation'),
                    resultstats: resultstats,
                });
                this.listenTo(this.filter, 'change', this.refreshCourses);
                this.listenTo(this.filter, 'initialized', this.refreshCourses);

                var approuter = new AppRouter({
                    criterioncollection: criterioncollection,
                    filter: this.filter
                });

                // course list
                this.coursecollection = new CourseCollection([], {filter: this.filter, resultstats: resultstats});
                this.coursecollectionview = new CourseCollectionView({
                    el: this.$('#course-filtering-results'),
                    collection: this.coursecollection
                });
                this.listenTo(this.coursecollection, 'sync', this.courseCollectionSynced)

                Backbone.history.start();
            },
            criterionSelected: function(value) {
                this.filter.startNewSearch(value);
            },

            refreshCourses: function(){
                // Empty collection
                while (this.coursecollection.length > 0) {
                    this.coursecollection.pop();
                }
                // Fill collection
                this.coursecollection.fetch();
            },
            courseCollectionSynced: function(){
                this.coursecollectionview.render()
            }
        });

        var App = new AppView({
            el: $('#course-search'),
            filters: filters
        });
    });


</script>
</%block>

<%block name="content">

<div class="courses-page">
    <div class="row-fluid">
        <div class="col-lg-36 text-center">
            <h2 class="big-title">${_("Courses")}</h2>
        </div>
    </div>


    <div class="row-fluid">

        <div id="course-search" class="course-list">

            <div class="course-list-table">

                <div class="left hidden-xs">
                    <div class="filters criteria-block">
                        <div class="title">${_("Refine search results")}</div>
                        <div class="criterions"></div>
                    </div>

                </div>



                <div class="right row">
                    <div class="small-device-filter row visible-xs">
                        <div class="title">${_("Refine search results")}</div>
                        <select id="availability-select">
                        </select>
                        <select id="university-select">
                        </select>
                        <select id="theme-select">
                        </select>

                    </div>

                    <div class="result-navigation">
                    </div>

                    <div class="list">
                        <ul id="course-filtering-results"></ul>
                    </div>

                    <div class="result-navigation hide-search-filter"></div>

                    <div id="all-themes-overlay" class="criteria-overlay criteria-block hide-on-escape-key overlay">
                        <div class="pull-right">
                            <span class="close-overlay glyphicon glyphicon-remove"></span>
                        </div>
                        <h2>${_("All themes")}</h2>
                        <ul class="criteria"></ul>
                    </div>

                    <div id="all-universities-overlay" class="criteria-overlay criteria-block hide-on-escape-key overlay">
                        <div class="pull-right">
                            <span class="close-overlay glyphicon glyphicon-remove"></span>
                        </div>
                        <h2>${_("All universities")}</h2>
                        <ul class="criteria"></ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</%block>
