## mako
<%!
from django.utils import timezone
from django.utils.translation import pgettext, ugettext as _
from django.core.urlresolvers import reverse

from courseware.courses import course_image_url, get_course_about_section
from microsite_configuration import microsite

from fun.utils import get_fun_course, get_teaser, registration_datetime_text
%>

<%inherit file="/funsite/parts/base-fixed-width.html" />

<%block name="js_extra">

<script type="text/javascript">
(function() {
    // Configure video teaser player
    $('.video-button').on('click', function() {
        var teaserHtml = '${get_teaser(get_course_about_section(course, "video"))}';
        $('#video-modal').modal('show');
        $('#video-modal .inner-wrapper').html(teaserHtml);
    })
    $('#video-modal').on('hide.bs.modal', function() {
        $('#video-modal .inner-wrapper').html("");
    });

    $('div.teacher-image img').addClass('img-circle');

    // Open social links included by course designers in their syllabus in a
    // different tab.
    $('.social-networks div>a').attr('target', '_blank');

    $(".register").click(function(event) {
        var url = '${reverse("change_enrollment")}',
            course_id = '${course.id | h}',
            csrf_token = '${ csrf_token }';
        $.ajax({
            method: 'POST',
            url: url,
            data: {
                'course_id': course_id,
                'enrollment_action': 'enroll',
                'csrfmiddlewaretoken': csrf_token
                },
            success: function(response) {
                if (response == "") {
                  location.href = "${reverse('dashboard')}";
                }
                else {
                  location.href = response;  // !! ??
                };
            },
            error: function(response) {
                if (response.status == 403) {
                    location.href = "${reverse('register_user')}?course_id=${course.id | u}&enrollment_action=enroll";
                } else {
                    $('.register-error').html(
                        (response ? response : "${_('An error occurred. Please try again later.')}")
                    ).css("display", "block");
                };
            }
        });
        event.preventDefault();
    });
    % if can_add_course_to_cart:
      add_course_complete_handler = function(jqXHR, textStatus) {
        if (jqXHR.status == 200) {
          location.href = "${cart_link}";
        }
        if (jqXHR.status == 400) {
          $("#register_error")
            .html(jqXHR.responseText ? jqXHR.responseText : "${_("An error occurred. Please try again later.")}")
            .css("display", "block");
        }
        else if (jqXHR.status == 403) {
            location.href = "${reg_then_add_to_cart_link}";
        }
      };
      $("#add_to_cart_post").click(function(event){
        $.ajax({
          url: "${reverse('add_course_to_cart', args=[course.id.to_deprecated_string()])}",
          type: "POST",
          data: {
              'csrfmiddlewaretoken': '${ csrf_token }'
          },
          complete: add_course_complete_handler
        })
        event.preventDefault();
      });
    % endif

})();

</script>

</%block>

<%block name="meta_extra">
    <%
    fun_course = get_fun_course(course)
    %>
    <meta property="og:site_name" content="France Université Numérique"/>
    <meta property="og:url" content="//www.france-universite-numerique-mooc.fr${reverse('about_course', args=[fun_course.key])}" />
    <meta property="og:title" content="${get_course_about_section(course, 'title')}" />
    <meta property="og:description" content="${get_course_about_section(course, 'short_description')}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:image" content="//www.france-universite-numerique-mooc.fr${ fun_course.get_thumbnail_url('facebook') }" />

</%block>

<%block name="title">${get_course_about_section(course, 'title')}</%block>
<%namespace name="breadcrumbs" file="/funsite/parts/breadcrumbs.html"/>


<%block name="content">

<%
    fun_course = get_fun_course(course)

    # FUN: from themes/fun/templates/courseware/course_about.html
    # TODO: improve
    site_domain = microsite.get_value('site_domain', settings.SITE_NAME)
    platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)

    # Translators: This text will be automatically posted to the student's
    # Twitter account. {url} should appear at the end of the text.
    tweet_text = _("I just registered for {title} through {account}: {url}").format(
        title=get_course_about_section(course, 'title'),
        account=microsite.get_value('course_about_twitter_account', settings.PLATFORM_TWITTER_ACCOUNT),
        url=u"http://{domain}{path}".format(
            domain=site_domain,
            path=reverse('about_course', args=[course.id.to_deprecated_string()])
        )
    ).replace(u" ", u"+")
    tweet_action = u"http://twitter.com/intent/tweet?text={tweet_text}".format(tweet_text=tweet_text)

    facebook_link = microsite.get_value('course_about_facebook_link', settings.PLATFORM_FACEBOOK_ACCOUNT)

    email_subject = u"mailto:?subject={subject}&body={body}".format(
        subject=_("Take a course with {platform} online").format(platform=platform_name),
        body=_("I just registered for {title} through {platform} {url}").format(
            title=get_course_about_section(course, 'title'),
            platform=platform_name,
            url=u"http://{domain}{path}".format(
                domain=site_domain,
                path=reverse('about_course', args=[course.id.to_deprecated_string()]),
            )
        )
    ).replace(u" ", u"%20")
%>

<div class="course-about main-content compensate-right-column">

    <div class="row">

        <div class="col-lg-15 col-sm-10 col-lg-push-21 col-sm-push-26 no-gutter-left no-padding">

            <div class="right">

                <div class="text-center hidden-sm hidden-md hidden-lg">
                    ${breadcrumbs.breadcrumbs(get_course_about_section(course, 'title'))}
                    <h1 class="big-title">
                        ${get_course_about_section(course, 'title')}
                    </h1>
                </div>

                <div class="line text-center hidden-sm hidden-md hidden-lg">
                    <span></span>
                </div>
                <div class="course-image hidden-lg hidden-sm hidden-md hidden-lg">
                    <div class="video-button"></div>
                    <img src="${ fun_course.get_thumbnail_url('about') }" class="img-responsive">
                </div>

                <div class="course-about-university-logo">

                    <%
                    first_university = fun_course.get_first_university()
                    %>
                    % if first_university:
                        % if first_university.detail_page_enabled:
                            <a href="${first_university.get_absolute_url()}">
                                <img src="${first_university.get_logo_thumbnail()}">
                            </a>
                        % else:
                            <img src="${first_university.get_logo_thumbnail()}">
                        % endif
                    % endif
                </div>

                <div class="course-image hidden-md hidden-sm hidden-xs">
                    <div class="video-button"></div>
                    <img src="${ fun_course.get_thumbnail_url('about') }">
                </div>

                %if user.is_authenticated() and registered:
                    <div class="register-course-button already-registered">
                        <div>${_("You are registered for this course")}</div>
                        <a href="${course_target}"><span>${_("View Courseware")}</span></a>
                    </div>
                %else:
                    %if can_enroll:
                        %if can_add_course_to_cart:
                            % if in_cart:
                                <div class="register-course-button course-has-price">
                                <a href="${ cart_link }">${pgettext("course-about", "Already in your cart")}</a>
                                </div>
                            %else:
                                <%
                                if user.is_authenticated():
                                    reg_href = "#"
                                    reg_element_id = "add_to_cart_post"
                                else:
                                    reg_href = reg_then_add_to_cart_link
                                    reg_element_id = "reg_then_add_to_cart"
                                %>
                                <div class="register-course-button course-has-price">
                                    <a href="${reg_href}" class="add-to-cart" id="${reg_element_id}">
                                        ${_("Add course to Cart ({price})").format(price=course_price)}
                                    </a>
                                </div>
                            %endif
                        %else:
                            <div class="register-course-button">
                                <a href="#" class="register"><span>${_("Register")}</span></a>
                            </div>
                        %endif
                        <div class="register-error"></div>
                    %else:
                        <div class="register-course-button registration-closed">
                            <span>${pgettext("course-about", "Enrollment is closed")}</span>
                        </div>
                    %endif
                %endif

                <div class="blue-zone">
                    <div class="row">
                        <div class="col-sm-36 social-networks">
                            <a href="${facebook_link}" target="_blank">
                                <span class="facebook"></span>
                            </a>
                            <a href="${tweet_action}" target="_blank">
                                <span class="twitter"></span>
                            </a>
                            <a href="${email_subject}" target="_blank">
                                <span class="email"></span>
                            </a>
                        </div>
                        <div class="col-xxs-36 col-xs-18 col-sm-36 col-lg-18">
                            <div class="course-info calendar">
                                <ul>
                                <li>
                                    <strong>${_("End of Registration")}</strong>
                                </li>
                                <li>
                                    % if course.enrollment_end:
                                        % if course.enrollment_end < timezone.now():
                                            ${_("Registration closed")}
                                        %else:
                                            ${registration_datetime_text(course, course.enrollment_end)}
                                        % endif
                                    % endif
                                </li>
                                </ul>
                            </div>
                            <div class="course-info calendar">
                                <ul>
                                <li>
                                    <strong>${_("Classes Start")}</strong>
                                </li>
                                <li>
                                    ${course.start_datetime_text()}
                                </li>
                                </ul>
                            </div>
                            <div class="course-info calendar">
                                <ul>
                                <li>
                                    <strong>${pgettext("course-about", "Classes End")}</strong>
                                </li>
                                <li>
                                    % if get_course_about_section(course, "end_date") or course.end:
                                         % if get_course_about_section(course, "end_date"):
                                            ${get_course_about_section(course, "end_date")}
                                        % else:
                                            ${course.end_datetime_text()}
                                        % endif
                                    % endif
                                </li>
                                </ul>
                            </div>


                        </div>
                        <div class="col-xxs-36 col-xs-18 col-sm-36 col-lg-18">

                            % if get_course_about_section(course, "effort"):
                            <div class="course-info letter">
                                <ul>
                                <li>
                                    <strong>${_("Estimated Effort")}</strong>
                                </li>
                                <li>
                                    ${get_course_about_section(course, "effort")} ${_("h/week")}
                                </li>
                                </ul>
                            </div>
                            % endif

                            % if get_course_about_section(course, "prerequisites"):
                            <div class="course-info letter">
                                <ul>
                                <li>
                                    <strong>${_("Prerequisites")}</strong>
                                </li>
                                <li>
                                    ${get_course_about_section(course, "prerequisites")}
                                </li>
                                </ul>
                            </div>
                            % endif

                            % if fun_course.language:
                            <div class="course-info bubble">
                                <ul>
                                <li>
                                    <strong>${_("Language")}</strong>
                                </li>
                                <li class="icon ${fun_course.language}-flag">
                                    ${fun_course.get_language_display()}
                                </li>
                                </ul>
                            </div>
                            % endif
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="col-sm-26 col-lg-21 col-sm-pull-10 col-lg-pull-15 no-gutter-left no-gutter-right">
            <div class="left">

                ${breadcrumbs.breadcrumbs(get_course_about_section(course, 'title'))}
                % if False:
                <table>
                <thead><th colspan="2">DEBUG</th></thead>
                <tr><td>is_cosmetic_price_enabled:</td><td> ${ is_cosmetic_price_enabled }</td></tr>
                <tr><td>course_price:</td><td> ${ course_price }</td></tr>
                <tr><td>in_cart:</td><td> ${ in_cart }</td></tr>
                <tr><td>reg_then_add_to_cart_link:</td><td> ${ reg_then_add_to_cart_link }</td></tr>
                <tr><td>active_reg_button:</td><td> ${ active_reg_button }</td></tr>
                <tr><td>can_add_course_to_cart:</td><td> ${ can_add_course_to_cart }</td></tr>
                <tr><td>cart_link:</td><td> ${ cart_link }</td></tr>
                <tr><td>staff_access:</td><td> ${ staff_access }</td></tr>
                <tr><td>registered:</td><td> ${ registered }</td></tr>
                <tr><td>course_target:</td><td> ${ course_target }</td></tr>
                <tr><td>is_course_full:</td><td> ${ is_course_full }</td></tr>
                <tr><td>can_enroll:</td><td> ${ can_enroll }</td></tr>
                <tr><td>invitation_only:</td><td> ${ invitation_only }</td></tr>
                <tr><td>is_shib_course:</td><td> ${ is_shib_course }</td></tr>
                <tr><td>pre_requisite_courses:</td><td> ${ pre_requisite_courses }</td></tr>
                </table>
                % endif

                <div class="text-center hidden-xs">
                    <h1 class="big-title">
                        ${get_course_about_section(course, 'title')}
                    </h1>
                </div>
                <div class="line text-center hidden-xs">
                    <span></span>
                </div>

                % if staff_access and studio_url is not None:
                <div class="text-right">
                      <a class="color-light-gray" href="${studio_url}">${_("View About Page in studio")}</a>
                </div>
                % endif

                % if fun_course.subjects.all():
                <div class="subjects">
                    <ul>
                        <li>
                            ${_(u"Thematics")}
                        </li>
                        % for subject in fun_course.subjects.all():
                        <li>
                            <a href="${reverse('fun-courses:filter', kwargs={'subject': subject.slug})}"><span class="white blue-cell">
                                ${subject.name}
                            </span></a>
                        </li>
                        % endfor
                    </ul>
                </div>
                % endif


                <div class="course-image hidden-lg hidden-xs">
                    <div class="video-button"></div>
                    <img src="${ fun_course.get_thumbnail_url('about') }" class="img-responsive">
                </div>


                <div class="description">

                    ${get_course_about_section(course, 'overview')}

                </div>


            </div>
        </div>



    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="transform: none;">
        <div class="modal-content">
            <div class="inner-wrapper"></div>
        </div>
    </div>
</div>

</%block>
