{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link href="{{ STATIC_URL }}selftest/css/raw-theme.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}selftest/css/table.css" rel="stylesheet">
    <title>FUN - {% block title %}{% endblock %}</title>
</head>
<body>
<div class="top-block">
    <div class="">
        <img class="logo" src="{{ STATIC_URL }}selftest/images/logo-funmooc.png" alt="Login FUN">
    </div>
</div>


<div class="menu-block">
    <h1 class="title">Page de diagnostic</h1>
</div>


<div class="message-block">

{% block content %}{% endblock %}

</div>

</body>
