{% extends 'selftest/base.html' %}
{% load url from future %}
{% block title %}Page de diagnostique{% endblock %}

{% block content %}

{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

<table>
<tr><th colspan="2">Divers</th></tr>
<tr><td>settings.SITE_NAME</td><td>{{ settings.SITE_NAME }}</td></tr>
<tr><td>platform.node()</td><td>{{ misc.platform_node }}</td></tr>

<tr><th colspan="2">Revisions</th></tr>
{% for repo, revision in revisions.items %}
    <tr><td>{{ repo }}</td><td>{{ revision }}</td></tr>
{% endfor %}

<tr><th colspan="2">Environement</th></tr>
<tr><td>environ.DJANGO_SETTINGS_MODULE</td><td>{{ environ.DJANGO_SETTINGS_MODULE }}</td></tr>
<tr><td>environ.SERVICE_VARIANT</td><td>{{ environ.SERVICE_VARIANT }}</td></tr>

<tr><th colspan="2">Django</th></tr>
<tr><td>translation.get_language()</td><td>{{ misc.get_language }}</td></tr>
<tr><td>settings.STATICFILES_STORAGE</td><td>{{ settings.STATICFILES_STORAGE }}</td></tr>
<tr><td>settings.DEFAULT_FILE_STORAGE</td><td>{{ settings.DEFAULT_FILE_STORAGE }}</td></tr>

<tr><th colspan="2">Settings</th></tr>
<tr><td>settings.DEBUG</td><td>{{ settings.DEBUG }}</td></tr>
<tr><td>settings.LANGUAGE_CODE</td><td>{{ settings.LANGUAGE_CODE }}</td></tr>
<tr><td>settings.STATIC_URL</td><td>{{ settings.STATIC_URL }}</td></tr>
<tr><td>settings.STATIC_ROOT</td><td>{{ settings.STATIC_ROOT }}</td></tr>
<tr><td>settings.STATIC_ROOT_BASE</td><td>{{ settings.STATIC_ROOT_BASE }}</td></tr>

<tr><th colspan="2">edX</th></tr>
<tr><td>settings.LMS_BASE</td><td>{{ settings.LMS_BASE }}</td></tr>
<tr><td>settings.CMS_BASE</td><td>{{ settings.CMS_BASE }}</td></tr>
<tr><td>settings.BROKER_URL</td><td>{{ settings.BROKER_URL }}</td></tr>
<tr><td>settings.COMMENTS_SERVICE_URL</td><td>{{ settings.COMMENTS_SERVICE_URL }}</td></tr>
<tr><td>settings.FEATURES['ENABLE_MKTG_SITE']</td><td>{{ settings.FEATURES.ENABLE_MKTG_SITE }}</td></tr>

<tr><th colspan="2">Liens</th></tr>
<tr><td>404</td><td><a href="{% url 'self-test-404' %}">404</a></td></tr>
<tr><td>500</td><td><a href="{% url 'self-test-500' %}">500</a></td></tr>


<tr><th colspan="2">Email</th></tr>
<tr><td>settings.EMAIL_BACKEND</td><td>{{ settings.EMAIL_BACKEND }}</td></tr>
<tr><td>Send test email</td><td>
    <form method="POST" action=".">
        <table>
            {{ emailform }}
        </table>
        {% csrf_token %}<button type="submit">submit</button>
    </form>
</td></tr>


</table>
{% endblock %}
