{% extends 'fun/emails/base_email.html' %} 

{% block content %}
<tr>
    <td colspan="2" class="title" style="font-size: 18px; text-align: center; padding:6px; border: 0;">
        {{ subject }}
    </td>
</tr>

    {% for course in report %}
    <tr class="course">
        <td class="name">
            {{ course.0 }}
        </td>
        <td class="value">
            {{ course.1 }}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">
            No course to process
        </td>
    </tr>
    {% endfor %}



{% endblock %}