##mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<%inherit file="funsite/parts/simple-content.html" />

<%namespace name="breadcrumbs" file="/funsite/parts/breadcrumbs.html"/>

<%block name="title">
    ${_("Log in to your {platform_name} account").format(platform_name=platform_name)}
</%block>

<%block name="page_content">
    ${breadcrumbs.breadcrumbs(_("Login"))}

<div class="login-row single-column">
    <h2 class="color-regal-blue">${_("Please log in to access your account and courses")}</h2>
    <a href="/keycloak-login" class="btn btn-primary btn-lg btn-block" role="button">
        ${_('Login with SSO')}
    </a>
</div>
</%block>
