## mako
## We override edx-platform/lms/templates/navigation.html to simplify its structure
## and allow the customization of courseware header and footer without using theme
##

<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query, stanford_theme_enabled"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<%! from ccx.overrides import get_current_ccx %>

<%block name="navigation_top" />



  <header id="global-navigation" class="global ${"slim" if course else ""}" >
    <nav aria-label="${_('Global')}">

    <h1 class="logo">
      <span id="sandwich-menu"></span>
    </h1>

    <%include file="funsite/parts/sandwich-overlay.html" />

    <h1 class="logo">
      <a href="${marketing_link('ROOT')}">
        <%block name="navigation_logo">
            <img src="${static.url('funsite/images/logos/fun61.png')}" alt="FUN"/>
        </%block>
      </a>
    </h1>

    % if course:
    <h2><span class="provider">${course.display_org_with_default | h}:</span>
      ${course.display_number_with_default | h}
      <%
        display_name = course.display_name_with_default
        if settings.FEATURES.get('CUSTOM_COURSES_EDX', False):
          ccx = get_current_ccx()
          if ccx:
            display_name = ccx.display_name
      %>
      ${display_name}</h2>
    % endif

    % if user.is_authenticated():
    <ol class="left nav-global authenticated">
      <%block name="navigation_global_links_authenticated">

          <li class="nav-global-01">
            <a href="${marketing_link('COURSES')}">${_('Find Courses')}</a>
          </li>

        %if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_superuser:
          <li>
            ## Translators: This is short for "System administration".
            <a href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
          </li>
        %endif
      </%block>
    </ol>
    <ol class="user">
      <li class="primary">
        <a href="${reverse('dashboard')}" class="user-link">
          <i class="icon fa fa-home" aria-hidden="true"></i>
          <span class="sr">${_("Dashboard for:")}</span>
          <div>
          ${user.username}
          </div>
        </a>
      </li>
      <li class="primary">
        <a href="#" class="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr">${_("More options dropdown")}</span><i class="fa fa-sort-desc" aria-hidden="true"></i></a>
        <ul class="dropdown-menu" aria-label="More Options" role="menu">
          <%block name="navigation_dropdown_menu_links" >
            <li><a href="${reverse('account_settings')}">${_("Account Settings")}</a></li>
            <li><a href="${reverse('learner_profile', kwargs={'username': user.username})}">${_("My Profile")}</a></li>
          </%block>
          <li><a href="${reverse('logout')}" role="menuitem">${_("Sign Out")}</a></li>
        </ul>
      </li>
    </ol>

    % else:  ## user is not authenticated


    <ol class="right nav-courseware">
    <li class="nav-courseware-01">
       <a class="cta cta-login" href="/login${login_query()}">${_("Sign in")}</a>
    </li>
    </ol>
    % endif
  </nav>
</header>


% if course:

<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${_('<strong>Warning:</strong> Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.').format(chrome_link='<a href="https://www.google.com/chrome" target="_blank">Chrome</a>', ff_link='<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>')}</div>
<![endif]-->
% endif

%if not user.is_authenticated():
  <%include file="forgot_password_modal.html" />
%endif


<%include file="help_modal.html"/>
