<%!
from django.utils.translation import ugettext as _
%>

<%inherit file="funsite/parts/simple-content.html" />

<%namespace name="breadcrumbs" file="/funsite/parts/breadcrumbs.html"/>

<%block name="title">
    ${_(u"Register for {platform_name}").format(platform_name=platform_name)}
</%block>

<%block name="page_content">
    ${breadcrumbs.breadcrumbs(_(u"Register"))}
    <div class="register-page ">
        <div class="row">
            <div class="col-xs-36 text-center">
                <h2 class="color-regal-blue">
                    ${_(u"Sign up to {platform_name}").format(platform_name=platform_name)}
                </h2>
            </div>
        </div>

        <div class="row row-form">
            <div class="col-md-30 col-md-offset-3  col-lg-18 col-lg-offset-9" >
                <a href="/keycloak-register" class="btn btn-primary btn-lg btn-block" role="button">
                    ${_(u'Register with SSO')}
                </a>
            </div>
        </div>
    </div>
</%block>
