## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import pgettext, ugettext as _
from util.date_utils import strftime_localized
%>

<%page args="course"/>
<div class="course-block big-course center-block">
	<a  href="${course.get_absolute_url()}">
		% if course.has_verified_course_mode:
		<span class="verified"></span>
		% endif
		<div class="top">
			% if course.session_display:
				<div class="type">
					${ course.session_display }
				</div>
			% else:
				<div class="type transparent"></div>
			% endif
				<img class="img-responsive" src="${ course.get_thumbnail_url('big') }">
		</div>
		<div class="middle">
			<div class="title">
				${course.title}
			</div>
			<div class="universities">
				<span>
					${course.university_name}
				</span>
			</div>
		</div>
		<%include file="footer.html" args="course=course,type='big'"/>
	</a>
</div>
