## mako
<%!
from django.utils.translation import ugettext as _
%>


<%page args="course,type"/>
<div class="bottom">
    <div class="footer row">
        <div class="date ${'col-xs-20' if type=='small' else 'col-xs-22'}">
                <%include file="start-end-date.html" args="course=course,type=type"/>
        </div>
            <div class="register ${'col-xs-16' if type=='small' else 'col-xs-14'} ${'closed' if course.enrollment_ended else '' }">
                ${_(u"Learn more")}
            </div>
    </div>
</div>
