## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<%page args="course"/>
<div class="course-block small-course center-block">
    % if course.has_verified_course_mode:
    <span class="verified"></span>
    % endif
    <div class="top">
        % if course.session_display:
            <div class="type">
                <a class="no-decoration" href="${course.get_absolute_url()}">${ course.session_display }</a>
            </div>
        % else:
            <div class="type transparent"></div>
        % endif
        <a href="${course.get_absolute_url()}">
            <img class="img-responsive" src="${ course.get_thumbnail_url('small') }">
        </a>
    </div>
    <div class="middle">
        <div class="title">
            <a class="no-decoration" href="${course.get_absolute_url()}">${course.title}</a>
        </div>
        <div class="universities">
            <span>
                <a class="no-decoration" href="${course.get_absolute_url()}">${course.university_name}</a>
            </span>
        </div>
    </div>
    <%include file="footer.html" args="course=course,type='small'"/>
</div>
