## mako
<%!
from django.utils.translation import pgettext
%>


<%page args="course,type"/>
    % if course.course_ended:
        % if course.enrollment_end_date_display:
            ${pgettext('course-block', u"Archived")}
        % else:
            ${pgettext('course-block', u"Browsable")}
        % endif
    % elif course.course_started:
        % if course.enrollment_end_date_display:
            % if course.enrollment_ended:
                ${pgettext('course-block', u"Registration closed")}
            % else:
                ${pgettext('course-block', u"Open until")}
                ${'<br>' if type == 'small' else ''}
                ${course.enrollment_end_date_display}
            % endif
        % else:
            ${pgettext('course-block', u"Open")}
        % endif
    % else:
        ${pgettext('course-block', u"Starts on")}
        ${'<br>' if type == 'small' else ''}
        ${course.start_date_display}
    % endif
