## mako

<%inherit file="base.html" />
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>

<%block name="extra_js">

<script>

// TODO put in a separate file
  
$(function() {

var current_id = ''

function display_results (xml_data){
  console.log(xml_data)
  console.log(current_id)
  $('#' + current_id).html(xml_data)
}

$('.get-answers').button().click(function(event) {

var ajax_url = $('.get-answers').data().url;

var module_id = event.target.getAttribute('data-module-id');

current_id = module_id;

var data = {'problem_module_id': module_id}

$.get(ajax_url, data, display_results)
  });
});

</script>

</%block>

<%block name="content">
% for problem_module in problem_modules:
<div class="panel panel-default">
  <div class="panel-heading">
    <ol class="breadcrumb">
      <li>${problem_module.ancestors_names['great_grandparent']}</li>
      <li>  ${problem_module.ancestors_names['parent']}</li>
      <li>  ${problem_module.ancestors_names['grandparent']}</li>
      <li class="active">  ${problem_module.display_name}</li>
      <li>  <a  data-url=" ${reverse('course-dashboard:get-answers-to-problem-module', kwargs={'course_id': course_id})}" data-module-id="${problem_module.scope_ids.usage_id.name}" class="btn btn-primary get-answers" >${_("Get answers")}</a></li>
    </ol>
  </div>
  <div class="panel-body">
    <div id="${problem_module.scope_ids.usage_id.name}" class="results"> </div>
  </div>
</div>
% endfor

</%block>
