## mako

<%inherit file="base.html" />

<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>

<%block name="extra_js">
    <script src="${STATIC_URL}course_dashboard/js/answers_distribution.js"></script>
    <script>
     answers_distribution('${STATIC_URL}',
                          '${reverse('course-dashboard:get-answers-to-problem-module',
                             kwargs={'course_id': course_id})}',
                          '${_('Refresh')}') 
    </script>
</%block>

<%block name="content">
    % for problem_module in problem_modules:
        <div class="problem-module">
            <div class="row problem-path" module-id="${problem_module.scope_ids.usage_id.name}" clicked='false'>
                <ol class="breadcrumb col-lg-12">
                    <li class=" glyphicon glyphicon-chevron-right ${problem_module.scope_ids.usage_id.name}"> </li>
                    <li> ${problem_module.ancestors_names['great_grandparent']}</li>
                    <li>  ${problem_module.ancestors_names['grandparent']}</li>
                    <li>  ${problem_module.ancestors_names['parent']}</li>
                    <li class="active">${problem_module.display_name}</li>
                </ol>
            </div>
            <div class="row">
                <div id="${problem_module.scope_ids.usage_id.name}" class="results"></div>
            </div>
        </div>
    % endfor
</%block>
