## mako
<%inherit file="base_course.html" />
<%! from django.utils.translation import ugettext as _ %>
<%! from course_dashboard.problem_stats.utils import percentage %>


<%block name="extra_head">
    <style>
        table.centered td, .centered{
            text-align: center;
        }
    </style>
</%block>


<%block name="content">
    %if total:
        <table class="table centered">
            <tr class="centered">
                <th></th>
                <th class="centered" colspan="2">${_("Enrollment mode")}</th>
                <th></th>
            </tr>

            <tr class="centered">
                <th></th>
                <th class="centered">${_("Verified")}</th>
                <th class="centered">${_("Honor")}</th>
                <th class="centered">${_("Total")}</th>
            </tr>

            <tr>
                <th>${_("Number of passing students")}</th>
                <td id="verified-passing">${verified["passing"] }</td>
                <td id="honor-passing">${honor["passing"] }</td>
                <td id="total-passing">${passing}</td>
            </tr>

            <tr>
                <th>${_("Number of non-passing students")}</th>
                <td id="verified-not-passing">${verified["not_passing"] }</td>
                <td id="honor-not-passing">${honor["not_passing"] }</td>
                <td id="total-not-passing">${not_passing}</td>
            </tr>

            <tr>
                <th>Total</th>
                <td id="total-verified">${verified["passing"] + verified["not_passing"]}</td>
                <td id="total-honor">${honor["passing"] + honor["not_passing"]}</td>
                <td id="total">${total}</td>
            </tr>
        </table>
    %else:
        ${_("Certificates have not been generated yet.")}
    %endif

</%block>
