## mako
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>


<%inherit file="/funsite/parts/base.html" />

<%block name="title">${ university.name }</%block>


<%block name="content">

<div class="full-content">


    <div class="university-page simple-content-page">

        <div class="row">
            <div class="col-lg-offset-3 col-lg-30 col-sm-36">

                <section class="university">

                    <section class="header">
                        <h1>${ university.name }</h1>


                        <div class="logo">
                            <img src="${ university.get_logo_thumbnail() }" class="center-block">
                        </div>

                        <div class="space-40px"></div>

                        <div class="banner">
                            <img src="${ university.get_banner() }" class="img-responsive center-block">
                        </div>

                        <div class="space-40px"></div>

                    </section>

                    <section class="description">
                        <p>
                            ${ university.description }
                        </p>
                    </section>

                </section>

                <div class="col-lg-36 big-title text-center">
                    <h2 class="big-margin">${ _(u"Courses") }</h2>
                </div>


                <section class="courses">

                    <ul class="primary-highlight">
                    % for course in university.courses.all():
                        <li>
                            <%include file="/funsite/parts/course-block/big.html" args="course=course"/>
                        </li>
                    % endfor
                    </ul>

                </section>
            </div>
        </div>
    </div>

</div>
</%block>
