## mako
<%!
from django.utils.translation import ugettext as _
%>

<%inherit file="/funsite/parts/base-fixed-width.html" />

<%namespace name="breadcrumbs" file="/funsite/parts/breadcrumbs.html"/>

<%block name="title">${ university.name }</%block>


<%block name="content">


<div class="university-page simple-content-page">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-30 col-sm-36">
            ${breadcrumbs.breadcrumbs(university.name)}

            <section class="university">

                <section class="header">
                    <h1>${ university.name }</h1>


                    <div class="logo">
                        <img src="${ university.get_logo_thumbnail() }" class="center-block">
                    </div>

                    <div class="space-40px"></div>

                    <div class="banner">
                        <img src="${ university.get_banner() }" class="img-responsive center-block">
                    </div>

                    <div class="space-40px"></div>

                </section>

                <section class="description">
                    <p>
                        ${ university.description }
                    </p>
                </section>

            </section>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-offset-3 col-lg-30 col-sm-36">
        <section class="course-list">
            <div class="col-lg-36 text-center">
                <h2 class="big-title">${ _(u"Courses") }</h2>
            </div>
            <div class="list">
                <ul class="">
                % for course in courses:
                    <li class="hidden-xs">
                        <%include file="/course_pages/course-block/big.html" args="course=course"/>
                    </li>
                    <li class="hidden-sm hidden-md hidden-lg">
                        <%include file="/course_pages/course-block/small.html" args="course=course"/>
                    </li>
                % endfor
                ##  Add some fake course blocks at the end to get correct alignment on the last line
                % for fake in xrange(3):
                    <li class="hidden-xs">
                        <div class="course-block big-course fake">
                        </div>
                    </li>
                    <li class="hidden-sm hidden-md hidden-lg">
                        <div class="course-block small-course fake">
                        </div>
                    </li>
                % endfor

                </ul>
            </div>
        </section>
    </div>
</div>
</%block>
