## mako
<%!
from django.utils.translation import ugettext as _

%>

<%inherit file="/funsite/parts/base.html" />

<%block name="title">${_("Institutions")}</%block>


<%block name="content">

<div class="full-content">


            <div class="universities universities-page simple-content-page">

                <div class="row">
                    <div class="col-lg-offset-3 col-lg-30 col-md-36">

                        <div class="introduction">
                            <h1>${_("The universities and schools")}</h1>
                            <h3>${_("Offer courses and trainings on {platform_name}").format(platform_name=settings.PLATFORM_NAME)}</h3>

                            <p>
                                ${_("{platform_name}'s goal is to allow universities and schools to publish their courses online. The list of institutions proposing courses on {platform_name} is continuously getting larger:").format(platform_name=settings.PLATFORM_NAME)}
                              </p>
                        </div>

                        <div class="space-40px"></div>

                        <ul class="universities-list">

                        % for university in universities:
                            <li>
                                <a href="${ university.get_absolute_url()}">
                                    <div class="university-logo center-block">
                                        <img src="${ university.get_logo_thumbnail() }" alt="${ university.name }" title="${ university.name }" />
                                    </div>
                                </a>
                            </li>
                        % endfor

                        </ul>

                        <div class="space-40px"></div>

                    </div>
                </div>
            </div>
</div>






</%block>
