## mako
<%!
from django.utils.translation import ugettext as _
%>

<%inherit file="/funsite/parts/base.html" />


<%block name="title">${_("Institutions")}</%block>



<section class="university-list">
  <header>
    <h1>${_("The universities and schools")}</h1>
    <h2>${_("Offer courses and trainings on {platform_name}").format(platform_name=settings.PLATFORM_NAME)}</h2>
  </header>
</section>

  <section class="university-list container">
  <p>${_("{platform_name}'s goal is to allow universities and schools to publish their courses online. The list of institutions proposing courses on {platform_name} is continuously getting larger:").format(platform_name=settings.PLATFORM_NAME)}</p>

    <ul>
      % for university in universities:
      <li><a href="${ university.get_absolute_url()}">
        % if university.logo:
        <img src="${ university.logo.url }" alt="${ university.name }" title="${ university.name }" />
        % endif
      </a></li>
      % endfor
    </ul>
  </section>
</section>


