## mako
<%!
import platform

from django.core.urlresolvers import reverse
from django.conf import settings
from django.utils.translation import get_language_bidi, ugettext as _

from microsite_configuration import microsite

dir_rtl = 'rtl' if get_language_bidi() else 'ltr'
%>
<%namespace name='static' file='/static_content.html'/>
<!DOCTYPE html>
<!--[if IEMobile 7]><html class="iem7" lang="${settings.LANGUAGE_CODE}" dir="${dir_rtl}"><![endif]-->
<!--[if lte IE 6]><html class="lte-ie9 lt-ie9 lt-ie8 lt-ie7" lang="${settings.LANGUAGE_CODE}" dir="${dir_rtl}"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lte-ie9 lt-ie9 lt-ie8" lang="${settings.LANGUAGE_CODE}" dir="${dir_rtl}"><![endif]-->
<!--[if IE 8]><html class="lte-ie9 lt-ie9" lang="${settings.LANGUAGE_CODE}" dir="${dir_rtl}"><![endif]-->
<!--[if IE 9]><html class="lte-ie9" lang="${settings.LANGUAGE_CODE}" dir="${dir_rtl}"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html lang="${settings.LANGUAGE_CODE}" dir="${dir_rtl}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="platform.node" CONTENT="${platform.node()}">
    <meta name="description" content="${_(u'Higher Education Excellence. Online, Free and Open Courses')}">

    <%block name="meta_extra" />

    <link rel="icon" type="image/x-icon" href="${static.url(microsite.get_value('favicon_path', settings.FAVICON_PATH))}" />
    <link href="${static.url('funsite/bootstrap/css/bootstrap.min.css')}" rel="stylesheet">
    <link rel="stylesheet" href="${static.url('funsite/owl.carousel/assets/owl.carousel.css')}">
    <link href="${static.url('fun/css/cookie-banner.css')}" rel="stylesheet">
    <link href="${static.url('funsite/css/header.css')}" rel="stylesheet">
    <link href="${static.url('funsite/css/fun.css')}" rel="stylesheet">
    <link href="${static.url('funsite/css/footer.css')}" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="${_('FUN courses RSS feed')}" href="${reverse('fun-courses:feed')}" />
    <link rel="alternate" type="application/rss+xml" title="${_('FUN news RSS feed')}" href="${reverse('newsfeed-rss')}" />
    <link title="${_('FUN course search')}" rel="search" type="application/opensearchdescription+xml" href="${reverse('searchprovider.xml')}">

    <%block name="css_extra" />

    <title>FUN - <%block name="title" /></title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
<body>

<%include file="menu.html" args="base_application='funsite'"/>


<%block name="content_fullwidth"></%block>

<div class="<%block name='main_div_class'></%block>">

    <%include file="forget-password-modal.html" />

    <div class="container-fluid drop-down">

        <%block name="content"></%block>

    </div> <!-- bootstrape container -->

</div>  <!-- main-width -->

<%block name="content_fullwidth2"></%block>


<%include file="footer.html" args="base_application='funsite'"/>
    <script type="text/javascript" src="${static.url('funsite/jquery/dist/jquery.min.js')}"></script>
    <script type="text/javascript" src="${static.url('funsite/bootstrap/js/bootstrap.min.js')}"></script>
    <script type="text/javascript" src="${static.url('funsite/owl.carousel/owl.carousel.min.js')}"></script>

    <script type="text/javascript" src="/i18n.js"></script>
    <script type="text/javascript" src="${static.url('js/src/utility.js')}"></script>
    <script type="text/javascript" src="${static.url('funsite/js/fun.js')}"></script>
    <script type="text/javascript" src="${static.url('funsite/js/header.js')}"></script>
    <script type="text/javascript" src="${static.url('fun/js/cookie-banner.js')}"></script>

% if request.META and request.META.get("HTTP_HOST"):
    %if "fun-mooc.fr" in request.META["HTTP_HOST"]:
        <script  type="text/javascript" src="//tag.aticdn.net/602676/smarttag.js"></script>
    % else:
        <script  type="text/javascript" src="//tag.aticdn.net/602677/smarttag.js"></script>
    % endif
% endif
    <%block name="js_extra"/>

% if request.META and request.META.get("HTTP_HOST"):
    <script type="text/javascript">
        (function () {
            if (window.ATInternet) {
                // Check for presence of tracking cookie acceptation
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1, c.length);
                    }
                    if (c.indexOf("acceptCookieFun=") === 0) {
                        % if "fun-mooc.fr" in request.META["HTTP_HOST"]:
                            var tag = new ATInternet.Tracker.Tag({ site: 602676 });
                        % else:
                            var tag = new ATInternet.Tracker.Tag({ site: 602677 });
                        % endif
                        tag.page.set({});
                        tag.dispatch();
                    }
                }
            }
        })();
    </script>
% endif
</body>
</html>



