## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from microsite_configuration import microsite

from staticfiles.storage import staticfiles_storage
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%block name="meta_extra" />

    <link rel="icon" type="image/x-icon" href="${staticfiles_storage.url(microsite.get_value('favicon_path', settings.FAVICON_PATH))}" />
    <link href="${staticfiles_storage.url('funsite/bootstrap/css/bootstrap.min.css')}" rel="stylesheet">
    <link rel="stylesheet" href="${staticfiles_storage.url('funsite/owl.carousel/assets/owl.carousel.css')}">
    <link href="${staticfiles_storage.url('fun/css/cookie-banner.css')}" rel="stylesheet">
    <link href="${staticfiles_storage.url('funsite/css/header.css')}" rel="stylesheet">
    <link href="${staticfiles_storage.url('funsite/css/fun.css')}" rel="stylesheet">
    <link href="${staticfiles_storage.url('funsite/css/footer.css')}" rel="stylesheet">
    <%block name="css_extra" />

    <title>FUN - <%block name="title" /></title>

    <!-- Bootstrap -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    </style>

    <%include file="/google_analytics.html" />
  </head>
<body>

<%include file="menu.html" args="base_application='funsite'"/>


<div class="container-fluid">

    <%block name="content_fullwidth"></%block>

</div>

<div class="<%block name='main_div_class'></%block>">

    <%include file="forget-password-modal.html" />

    <div class="container-fluid drop-down">



        <%block name="content"></%block>

    </div> <!-- bootstrape container -->

</div>  <!-- main-width -->
<%include file="footer.html" args="base_application='funsite'"/>
    <script src="${staticfiles_storage.url('funsite/jquery/dist/jquery.min.js')}"></script>
    <script src="${staticfiles_storage.url('funsite/bootstrap/js/bootstrap.min.js')}"></script>
    <script src="${staticfiles_storage.url('funsite/owl.carousel/owl.carousel.min.js')}"></script>
    <script type="text/javascript" src="${staticfiles_storage.url('js/vendor/require.js')}"></script>
    <script type="text/javascript" src="${staticfiles_storage.url('require-config-lms.js')}"></script>
    <script>
        require.config({paths: {
                underscore: '/static/js/vendor/underscore-min',
                backbone: '/static/js/vendor/backbone-min',
            }});
    </script>

    <script type="text/javascript" src="/jsi18n/"></script>
    <script type="text/javascript" src="${staticfiles_storage.url('js/src/utility.js')}"></script>
    <script type="text/javascript" src="${staticfiles_storage.url('funsite/js/fun.js')}"></script>
    <script type="text/javascript" src="${staticfiles_storage.url('funsite/js/header.js')}"></script>
    <script type="text/javascript" src="${staticfiles_storage.url('fun/js/cookie-banner.js')}"></script>
    <%block name="js_extra"/>
  </body>
</html>
