## mako
<%!
from django.conf import settings
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from staticfiles.storage import staticfiles_storage
%>

<%page args="base_application"/>

<div class="fun-footer">
    <div class="${'funsite-footer-width' if base_application=='funsite' else 'courseware-width'}">

        <ul class="top-footer">
            <div class="left-md-footer">
                <li>
                    <a href="${reverse('about')}">
                        ${_("About...")}
                    </a>
                </li>
                <li>
                    <a href="${reverse('faq:index')}">
                        ${_("Help")}
                    </a>
                </li>
                <li>
                    <a href="${reverse('contact:contact')}">
                        ${_("Contact")}
                    </a>
                </li>
                <li>
                    <a href="${reverse('tos')}">
                        ${_("Terms of use")}
                    </a>
                </li>
            </div><div class="right-md-footer">
                <li>
                    <a href="${reverse('honor')}">
                        ${_("Usage policy")}
                    </a>
                </li>
                <li>
                    <a href="${reverse('privacy')}">
                        ${_("Privacy policy")}
                    </a>
                </li>
                <li>
                    <a href="${reverse('legal')}">
                        ${_("Terms and conditions")}
                    </a>
                </li>
            </div>
        </ul>
        <div class="bottom-footer">
                <a class='logo-fun' href="/">
                    <img  src="${staticfiles_storage.url('funsite/images/logos/fun45.png')}" alt="Logo France Université Numérique">
                </a>
                <div class="fun-social-networks">
                    <a class='logo-facebook' href="${settings.PLATFORM_FACEBOOK_ACCOUNT}" target="_blank">
                        <img src="${staticfiles_storage.url('funsite/images/logos/facebook32.png')}" alt="Facebook">
                    </a>
                    <a class='logo-twitter' href="https://twitter.com/${settings.PLATFORM_TWITTER_ACCOUNT}" target="_blank">
                        <img src="${staticfiles_storage.url('funsite/images/logos/twitter32.png')}" alt="Twitter">
                    </a>
                </div>
        </div>
    </div>
</div>
