## mako
<%!
from django.conf import settings
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%page args="base_application"/>
<div class="fun-footer">
    <div class="${'funsite-footer-width' if base_application=='funsite' else 'courseware-width'}">

        <ul class="top-footer">
            <div class="left-md-footer">
                <li>
                    <a href="${reverse('about')}">
                        ${_("About...")}
                    </a>
                </li>
                <li>
                    <a href="${reverse('faq:index')}">
                        ${_("Help")}
                    </a>
                </li>
                <li>
                    <a href="${reverse('contact')}">
                        ${_("Contact")}
                    </a>
                </li>
                <li>
                    <a href="${reverse('tos')}">
                        ${_("Terms of use")}
                    </a>
                </li>
            </div><div class="right-md-footer">
                <li>
                    <a href="${reverse('honor')}">
                        ${_("Usage policy")}
                    </a>
                </li>
                <li>
                    <a href="${reverse('privacy')}">
                        ${_("Privacy policy")}
                    </a>
                </li>
                <li>
                    <a href="${reverse('legal')}">
                        ${_("Terms and conditions")}
                    </a>
                </li>
            </div>
        </ul>
        <div class="bottom-footer">
            <ul class="fun-footer-icons" >
                <li>
                    <a class="logo-fun" href="/">
                        <img  src="${static.url('funsite/images/logos/fun45.png')}" alt="Logo FUN">
                    </a>
                </li>
                <li>
                    <a class="logo-facebook logo-social" href="${settings.PLATFORM_FACEBOOK_ACCOUNT}" target="_blank" rel="noreferrer">
                        <img src="${static.url('funsite/images/logos/facebook32.png')}" alt="Facebook">
                    </a>
                </li>
                <li>
                    <a class="logo-twitter logo-social" href="https://twitter.com/${settings.PLATFORM_TWITTER_ACCOUNT}" target="_blank" rel="noreferrer">
                        <img src="${static.url('funsite/images/logos/twitter32.png')}" alt="Twitter">
                    </a>
                </li>
            </ul>

            <div>
                <a class="logo-edx" href="https://edx.org" target="_blank">
                    <img src="${static.url('funsite/images/logos/edx-openedx-logo-tag-dark140.png')}" alt="edX.org">
                </a>
            </div>

        </div>
    </div>
</div>
