## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>
<nav id="top-menu" class="navbar navbar-default navbar-fixed-top light-shadow">
  <div class="container-fluid">

    <div class="row ">

        <div class="col-md-4">
            <div class="pull-left">
                <span id="sandwich-menu">sandwich</span>
            </div>
        </div>

        <div class="col-md-4">

            <div class="text-center">
                logo FUN
            </div>
        </div>

        <div class="col-md-4">

            <div class="pull-right">
                connexion
            </div>
        </div>
    </div>
</div>
</nav>