## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>
<nav id="top-menu" class="navbar navbar-default navbar-fixed-top light-shadow">
    <div class="container-fluid">

        <div class="row ">

            <div class="col-sm-12">
                <div class="pull-left">
                    <span id="sandwich-menu"></span>
                </div>
            </div>

            <div class="col-sm-12">

                <div class="text-center">

                </div>
            </div>

            <div class="col-sm-12">

                <div class="pull-right connexion
                %if request.user.is_authenticated():
                    connected
                %else:
                    not-connected
                %endif
                ">
                    %if request.user.is_authenticated():
                        <a href="${reverse('dashboard')}">${request.user.profile.name}</a>
                    %else:
                        ${_(u"Connexion")}
                    %endif
                </div>

                <%include file="login-overlay.html" />

            </div>



        </div>
    </div>
</nav>