## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

%>

<%inherit file="/funsite/parts/base.html" />



## mako
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>

<%inherit file="/funsite/parts/base.html" />

<%block name="content">

<div class="full-content">

    <div class=" simple-content-page">

        <div class="row">
            <div class="col-lg-offset-3 col-lg-30 col-sm-36">

                <%block name="page_content"></%block>

            </div>
        </div>
    </div>

</div>
</%block>

