## mako

<%inherit file="/course_dashboard/base_course.html" />

<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>

<%block name="extra_js">
    <script src="${STATIC_URL}course_dashboard/js/answers_distribution.js"></script>
    <script>
     answers_distribution('${STATIC_URL}',
                          '${reverse('course-dashboard:problem-stats:get-stats',
                             kwargs={'course_id': course_id})}',
                          '${_('Refresh')}') 
    </script>
</%block>

<%block name="content">
    <div class="row answers-distribution-reports">
        <div class="col-xs-12 text-right">
            <a href='${reverse('course-dashboard:reports-manager:dashboard',
                       kwargs={'course_id': course_id})}'
               class='btn btn-info'>${_("Answers distribution reports")}</a>            
        </div>
    </div>
    % for problem in problems:
        <div class="problem-module" id="${problem.scope_ids.usage_id.name}">
            <div class="row problem-path">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        % for ancestor_name in problem.ancestors_names:
                            <li> ${ancestor_name}</li>
                        % endfor
                        <li class="active">${problem.display_name}</li>
                    </ol>
                </div>
                <div class="col-xs-1 col-get-anwers-button">
                    <a href='${reverse('course-dashboard:reports-manager:generate',
                             kwargs={'course_id': course_id,
                                     'problem_id' : problem.scope_ids.usage_id.name})}'
                       class='glyphicon glyphicon-list-alt get-answers-button'></a>
                </div>
                <div class="col-xs-1 col-md-1 col-glyphicon">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
            </div>
            <div class="results">
                <div class="row data"></div>
                <div class="row control">
                    <div class="data-results col-xs-12 text-right"></div>
                </div>
            </div>
        </div>
    % endfor

</%block>
