## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from staticfiles.storage import staticfiles_storage
%>

<%inherit file="/funsite/parts/simple-content.html" />

<%block name="title">${article['name']}</%block>


<%block name="page_content">
<section class="faq-article">
    <section class="courses-container">


    <ul class="breadcrumbs">
        <li><a href="${reverse('faq:index')}">${_("Help")}</a></li>
        <li><a href="${reverse('faq:index')}#${article['category']['id']}">${article['category']['name']}</a></li>
        <li><a href="${reverse('faq:index')}#${article['section']['id']}">${article['section']['name']}</a></li>
    </ul>

    <div class="article">
        <h1>${article['name']}</h1>
        <p>
            ${article['body']}
        </p>
    </div>

    </section>
</section>
</%block>
