## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from django.utils.formats import date_format
%>

<%namespace name='static' file='../static_content.html'/>

<%block name="bodyclass">view-course-list</%block>
<%block name="title"><title>${_("Courses")}</title></%block>

<%inherit file="../main.html" />

<%block name="headextra">

<style>

ul.faq-categories > li {
    list-style-type: none;
}
ul.faq-sections > li {
    list-style-type: none;
}
ul.faq-articles > li {
    list-style-type: disc;
    line-height: 24px;
}

.fun-faq h1 {
    text-align: left;
    font-size: 28px;
    color: #555;
    text-transform: uppercase;
    line-height: 20px;
    margin-top: 32px;
}

.fun-faq h2 {
    font-size: 22px;
    color: #888;
    line-height: 18px;
    margin-top: 26px;
}

.fun-faq a.article {
    color: black;
}

.faq-last-update {
    text-align: right
}
.faq-last-update label {
    font-size: 12px;
    color: #888;
}
.faq-last-update span {
    font-size: 12px;
    color: #666;
}
</style>
</%block>


<section class="fun-faq">
    <section class="courses-container">
        % if article_tree:
            <div class="">
                <ul class="faq-categories">
                    % for category in article_tree:
                        <li><a id="${category['id']}"><h1>${category['name']}</h1></a>
                            <ul class="faq-sections">
                            % for section in category['sections']:
                                <li><a id="${section['id']}"><h2>${section['name']}</h2></a>
                                <ul class="faq-articles">
                                    % for article in section['articles']:
                                        <li>
                                            <a class="article" href="${reverse('faq:article', args=[article['id']])}">${article['name']}</a>
                                        </li>
                                    % endfor
                                </ul>
                                </li>
                            % endfor
                            </ul>
                        </li>
                    % endfor
                </ul>
            </div>

            <div class="faq-last-update">
                <label>${_(u"Last update: ")}</label><span>${date_format(article['last_document_update'])}</span>
            </div>
        % else:
            <div><ul class="faq-categories"><li><h2>${_(u"FUN's help page is not currently available")}</h2></li></ul></div>
        % endif

    </section>

</section>
