## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from django.utils.formats import date_format
from staticfiles.storage import staticfiles_storage
%>

<%inherit file="/funsite/parts/simple-content.html" />

<%block name="title">${_("Help")}</%block>


<%block name="page_content">
<section class="fun-faq">
    <section class="courses-container">
        % if article_tree:
            <div class="">
                <ul class="faq-categories">
                    % for category in article_tree:
                        <li><a id="${category['id']}"><h1>${category['name']}</h1></a>
                            <ul class="faq-sections">
                            % for section in category['sections']:
                                <li><a id="${section['id']}"><h2>${section['name']}</h2></a>
                                <ul class="faq-articles">
                                    % for article in section['articles']:
                                        <li>
                                            <a class="article" href="${reverse('faq:article', args=[article['id']])}">${article['name']}</a>
                                        </li>
                                    % endfor
                                </ul>
                                </li>
                            % endfor
                            </ul>
                        </li>
                    % endfor
                </ul>
            </div>

            <div class="faq-last-update">
                <label>${_(u"Last update: ")}</label><span>${date_format(article['last_document_update'])}</span>
            </div>
        % else:
            <div><ul class="faq-categories"><li><h2>${_(u"FUN's help page is not currently available")}</h2></li></ul></div>
        % endif

    </section>

</section>

</%block>
