## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from django.utils.formats import date_format
from staticfiles.storage import staticfiles_storage
%>

<%inherit file="/funsite/parts/simple-content.html" />

<%namespace name="breadcrumbs" file="/funsite/parts/breadcrumbs.html"/>

<%block name="title">${_("Help")}</%block>


<%block name="page_content">
% if article_tree:
    ${breadcrumbs.breadcrumbs(article_tree[0]['name'])}

    <section class="fun-faq">
        <section class="courses-container">
            <div class="">
                <ul class="faq-categories">
                    % for category in article_tree:
                        <li>
                            <a id="${category['id']}" class="faq-anchor">
                                ## WARNING: Page title comes from zendesk (main category)
                                <h1 class="color-oxford-blue">
                                    ${category['name']}
                                </h1>
                            </a>
                            <ul class="faq-sections">
                            % for section in category['sections']:
                                <li>
                                    <a id="${section['id']}" class="faq-anchor">
                                        <h3 class="color-oxford-blue">
                                            ${section['name']}
                                        </h3>
                                    </a>
                                <ul class="faq-articles">
                                    % for article in section['articles']:
                                        <li>
                                            <a class="article" href="${reverse('faq:article', args=[article['id']])}">
                                                ${article['name']}
                                                </a>
                                        </li>
                                    % endfor
                                </ul>
                                </li>
                            % endfor
                            </ul>
                        </li>
                    % endfor
                </ul>
            </div>

            <div class="faq-last-update">
                <label>${_(u"Last update: ")}</label><span>${date_format(article['last_document_update'])}</span>
            </div>
        </section>
    </section>
% else:
    ${breadcrumbs.breadcrumbs('')}

    <section class="fun-faq">
        <section class="courses-container">
            <div><ul class="faq-categories"><li><h2>${_(u"FUN's help page is not currently available")}</h2></li></ul></div>
        </section>
    </section>

% endif

</%block>
