## mako

<%!
from django.core.urlresolvers import reverse
from django.utils.formats import date_format
%>

<%def name="news_block(article, title, size, classes='')">
    <article class="${size} ${classes}">
        <img src="/media/${article.get_thumbnail(size)}">
        <div>
            <h3><a href="${reverse('newsfeed-article', args=[article.slug])}">${title}</a></h3>
            <p>
                ${article.get_lead_paragraph()}
            </p>
            %if not 'home' in classes and size != 'primary':
                <div class="footer">
                    <div class="row">
                        <div class="col-sm-18">
                            % if article.category:
                                <span class="tag">${article.category.name}</span>
                            % endif
                        </div>
                        <div class="col-sm-18">
                            <span class="date">${date_format(article.created_at, 'SHORT_DATE_FORMAT')}</span>
                        </div>
                    </div>
                </div>
            % endif
        </div>
    </article>
</%def>

