## mako

<%!
from django.core.urlresolvers import reverse
from django.utils.formats import date_format
%>

<%def name="news_block(article, size, classes='')">
    % if article:
        <article class="${size} ${classes}">
            <a href="${reverse('newsfeed-article', args=[article.slug])}">
                <img src="/media/${article.get_thumbnail(size)}" class="img-responsive">
            </a>
            <div>
                <a class="no-decoration" href="${reverse('newsfeed-article', args=[article.slug])}">
                    <h3 class="color-regal-blue heavy-weight">${article.title}</h3>
                    <p class="light-weight">
                        ${article.get_lead_paragraph()}
                    </p>
                </a>
                %if not 'home' in classes:
                    <div class="footer">
                        <div class="row">
                            <div class="col-sm-18">
                                % if article.category:
                                    <span class="tag">${article.category.name}</span>
                                % endif
                            </div>
                            <div class="col-sm-18">
                                <span class="date">
                                    ${date_format(article.created_at, 'SHORT_DATE_FORMAT')}
                                </span>
                            </div>
                        </div>
                    </div>
                % endif
            </div>
        </article>
    % endif
</%def>

