## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext_lazy as _
from django.utils.formats import date_format
%>


<%inherit file="/funsite/parts/base.html" />


<%block name="meta_extra">
    <meta property="og:site_name" content="France Université Numérique"/>
    <meta property="og:url" content="//www.france-universite-numerique-mooc.fr${reverse('newsfeed-article', args=[article.slug])}" />
    <meta property="og:title" content="${article.title}" />
    <meta property="og:description" content="${article.get_lead_paragraph()}" />
    <meta property="og:locale" content="${article.language}" />
</%block>


<%block name="title">${article.title}</%block>



<%block name="content">

<section class="container news-article">
    <a href="${reverse('newsfeed-article', kwargs={'slug': article.slug})}"><h2>${article.title}</h2></a>
    <section class="subtitle">
        ${_("Posted on")} ${date_format(article.created_at)}
    </section>

    <p>${article.text}</p>

    <p>Related Articles:</p>
    % for related_article in article.related():
    <br />${ related_article.title } - ${ related_article.published }
    % endfor

    <p>Related Courses:</p>
    % for related_course in article.courses.public():
    <br />${ related_course.title }
    % endfor

    <p>Links:</p>
    % for link in article.links.all():
    <br />${ link.name } | ${ link.url }
    % endfor

</section>

</%block>




