## mako

<%!
from django.core.urlresolvers import reverse
from django.utils.formats import date_format
from django.utils.translation import ugettext_lazy as _
from django.template.defaultfilters import truncatechars

from staticfiles.storage import staticfiles_storage

from newsfeed.models import Article

newsfeed = Article.objects.all()

%>

<%inherit file="/funsite/parts/base.html" />

<%def name="news_block(article, size, classes='')">
    <article class="${size} ${classes}">
        <img src="/media/${article.get_thumbnail(size)}">
        <div>
            <h3><a href="${reverse('newsfeed-article', args=[article.slug])}">${article.title}</a></h3>
            <p>
                ${article.get_lead_paragraph()}
            </p>
            %if not 'home' in classes and size != 'primary':
                <div class="footer">
                    <div class="row">
                        <div class="col-sm-18">
                            % if article.category:
                                <span class="tag">${article.category.name}</span>
                            % endif
                        </div>
                        <div class="col-sm-18">
                            <span class="date">${date_format(article.created_at, 'SHORT_DATE_FORMAT')}</span>
                        </div>
                    </div>
                </div>
            % endif
        </div>
    </article>
</%def>

<%block name="title">${_(u"Let's learn, get trained and succeed!")}</%block>

<%block name="content">

<h1 class="big-title big-margin text-center">
    ${_(u"All FUN news")}
</h1>

<div class="fun-news">

## featured news (only one, displayed regarding resolution)

    % if len(newsfeed) > 0:
    <div class="row hidden-960">
        <div class="col-md-36">
            ${news_block(newsfeed[0], 'big')}
        </div>
    </div>

    <div class="row hidden-1280 hidden-1900 visible-960">
        <div class="col-sm-36">
            ${news_block(newsfeed[0], 'primary')}
        </div>
    </div>
    % endif


## chronologically displayed news (on 2 columns)
    <div class="row">
        <div class="col-sm-36 col-md-18 no-padding">
            % for article in newsfeed[1:12:2]:
                ${news_block(article, 'secondary', 'left')}
            % endfor
        </div>
        <div class="col-sm-36 col-md-18 no-padding">
            % for article in newsfeed[2:12:2]:
                ${news_block(article, 'secondary', 'right')}
            % endfor
        </div>
    </div>



</div>


</%block>
