{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load i18n course %}

{% block extra_head %}
<style>
#generate_test_certificate_button, #generate_certificate_button, .panel {
  margin : 15px;} 
</style>
{% endblock %}

{% block extr_js %}
<script src="{% static 'backoffice/js/pending_tasks.js' %}"></script>
{% endblock %}

{% block content %}
<h2>{{ course.display_name_with_default }}</h2>

<a class="btn btn-primary"  id="generate_test_certificate_button" href="{% url 'generate-test-certificate' course.id %}"> {% trans 'Generate test certificate' %}</a>
<button class="btn btn-danger" id="generate_certificate_button" data-toggle="modal" data-target="#certificate-generation-modal">  {% trans 'Generate certifiate'%} </button>


<!-- First Panel : pending certificate generations tasks -->

{% if instructor_tasks and instructor_tasks|length > 0 %}
  <div class="panel panel-danger">
    <!-- Default panel contents -->
    <div class="panel-heading">  {% trans "Pending Certificate Tasks"%}</div>
      <!-- Table -->
      <div id="task-progress-wrapper">
        <table class="table">
          <tr>
            <th>{% trans "Certificate"%}</th>
            <th>{% trans "Enrolled students"%}</th>
            <th>{% trans "Students with certification"%}</th>
            <th>{% trans "Students without certification"%}</th>
            <th>{% trans "Task State"%}</th>
            <th>{% trans "Task Start" %}</th>
            <th>{% trans "Total Duration (sec)"%}</th>
            <th>{% trans "Requester"%}</th>
          </tr>
          {% for instructor_task in instructor_tasks %}
            <tr id="task-progress-entry-{{forloop.counter}}" class="task-progress-entry"
              data-task-id="{{instructor_task.task_id}}"
              data-in-progress="true">
              <td class="task-certificate-sample">LINK</td>
              <td class="task-enrolled-students">{{instructor_task.task_output.total}}</td>
              <td class="task-certified-students">{{instructor_task.task_output.downloadable}}</td>
              <td class="task-not-certified-students">{{instructor_task.task_output.notpassing}}</td>
              <td class="task-state">{{instructor_task.task_state}}</td>
              <td>{{instructor_task.created}}</td>
              <td class="task-duration">{% trans "unknown" %}</td>
              <td>{{instructor_task.requester}}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
  </div>
{% endif %}

<!-- Second Panel : Previous certificate generations tasks -->

{% if instructor_tasks_history and instructor_tasks_history|length > 0 %}
  <div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">  {% trans "Previous Certificate Tasks"%}</div>
      <!-- Table -->
      <div id="task-progress-wrapper-history">
        <table class="table">
          <tr>
            <th>{% trans "Certificate"%}</th>
            <th>{% trans "Enrolled students"%}</th>
            <th>{% trans "Students with certification"%}</th>
            <th>{% trans "Students without certification"%}</th>
            <th>{% trans "Task State"%}</th>
            <th>{% trans "Task Start" %}</th>
            <th>{% trans "Requester"%}</th>
          </tr>
          {% for instructor_task in instructor_tasks_history %}
            <tr id="task-progress-entry-{{forloop.counter}}" class="task-progress-entry"
              data-task-id="{{instructor_task.task_id}}"
              data-in-progress="true">
              <td class="task-certificate-sample">LINK</td>
              <td class="task-enrolled-students">{{instructor_task.task_output.total}}</td>
              <td class="task-certified-students">{{instructor_task.task_output.downloadable}}</td>
              <td class="task-not-certified-students">{{instructor_task.task_output.notpassing}}</td>
              <td class="task-state">{{instructor_task.task_state}}</td>
              <td>{{instructor_task.created}}</td>
              <td>{{instructor_task.requester}}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
  </div>
{% endif %}

<!-- Modal call when #generate_certificate_button is pressed -->

<form action="{% url 'generate-certificate' course.id %}" method="GET">
<div class="modal fade" id="certificate-generation-modal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> {% trans "Generate certificate" %} </h4>
      </div>
      <div class="modal-body">
        {% trans "Please confirm you really want to generare a certificate for course:" %}<br>
        <h4>{{ course.display_name_with_default }}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button type="submit" class="btn btn-danger">{% trans "Generate" %}</button>
      </div>
    </div>
  </div>
</div>
</form>

{% endblock %}
