{% extends 'backoffice/base.html' %}
{% load url from future %}
{% load i18n course %}

{% block content %}

<style>
  label.required :after {
     content:" *";
     color:red;
  }
</style>

<h1>{{ course.display_name_with_default }}</h1>
<h2>{% trans 'Certificate generation' %}</h2>
<form class="" action="." method="post">
  <fieldset>
    <legend>{% trans 'Student' %}</legend>
    <div class="form-group {% if student_form_certificate.full_name.errors %}has-error{% endif %}">
      <label class="control-label required"><span>{{ student_form_certificate.full_name.label }}</span></label>
      {{ student_form_certificate.full_name }}
      {% if student_form_certificate.full_name.errors %}
        {% for error in student_form_certificate.full_name.errors %}
          <p class="control-label">{{ error|escape }}</p>
        {% endfor %}
      {% endif %}
    </div>
  </fieldset>
  <fieldset>
    <legend >{% trans 'Teachers' %}</legend>

    {{ teachers_form_certificate.management_form }}
    {% csrf_token %}
    {% for teacher_form in teachers_form_certificate %}
      <div class="row">
        {% for field in teacher_form %}

        <div class="col-xs-4">
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="" class="control-label {% if forloop.parentloop.counter == 1 %} required{% endif %}"><span>{{ field.label }}</span></label>
            {{ field }}
            {% if field.errors %}
              {% for error in field.errors %}
                <p class="control-label">{{ error|escape }}</p>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    {% endfor %}

  <input class="btn btn-primary" type="submit" value="{% trans 'Generate test certificate' %}">

</form>

{% endblock %}