{% extends 'backoffice/base.html' %}
{% load url from future %}
{% load i18n course %}

{% block content %}

    <div>
        <h1>{% trans "Courses" %}</h1>

        <form class="" mathod="GET" action=".">
            <div class="col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">{% trans 'Search' %}</span>
                    <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1" value="{{ pattern|default:'' }}" name="search">
                </div>
            </div>
        </form>
        <p>
            {{ courses|length }} {% blocktrans count counter=courses|length %}course{% plural %}courses{% endblocktrans %}{% if pattern %} {% trans "for your search pattern" %}{% endif %}
        </p>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="align-left">{% trans 'Ident' %}</th>
                    <th class="align-left">{% trans 'University' %}</th>
                    <th class="align-left">{% trans 'Title' %}</th>
                    <th colspan="2" class="align-left">{% trans 'Running dates' %}</th>
                    <th colspan="2" class="align-left">{% trans 'Enrollment dates' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>
                        <a href="{% url 'backoffice-course-detail' course.id %}">{{ course.id }}</a>
                        {% if course.ispublic %}<span class="label label-success">{% trans "Published" %}</span>{% endif %}
                        {% if course.is_draft %}<span class="label label-primary">{% trans "Draft" %}</span>{% endif %}
                    </td>
                    <td>{{ course.university }}</td>
                    <td>{{ course.title }}</td>
                    <td>{{ course.start|date:'d/m/y' }}</td>
                    <td>{{ course.end|date:'d/m/y' }}</td>
                    <td>{{ course.enrollment_start|date:'d/m/y' }}</td>
                    <td>{{ course.enrollment_end|date:'d/m/y' }}</td>

                </tr>
                {% empty %}
                <tr><td colspan="20">
                {% if pattern %}
                    {% trans 'No result for this search pattern' %}
                {% endif %}
                {% endfor %}
                </td></tr>
            </tbody>
        </table>


    </div>


{% endblock %}
