{% extends 'backoffice/base.html' %}
{% load url from future %}
{% load i18n static bootstrap %}

{% block extra_head %}
<style>
.no-border {
    border-top: none !important;
    padding-top: 0 !important;
}
.user-indents h3 {
    margin-bottom: -10px;
}
.user-indents h3 span {
    color: #888;
}
.user-indents h3 strong {
}
</style>
{% endblock %}

{% block extr_js %}
    <script>
     $('#change-grade').on('show.bs.modal', function(e) {
         var course_id = e.relatedTarget.dataset['courseId']
         $('[name=course-id]').attr("value", course_id)
     });
    </script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="user-indents">
            <h3><span>{% trans "Name: " %}</span><strong>{{ userform.instance.profile.name }}</strong></h3>
            <h3><span>{% trans "User name: " %}</span><strong>{{ userform.instance.username }}</strong></h3>
            <h3><span>{% trans "ID: " %}</span><strong>{{ userform.instance.id }}</strong></h3>
        </div>
        {% if disabled %}
        <div class="alert alert-warning" role="alert">
            {% trans "This account is disabled since:" %} {{ disabled.0.standing_last_changed_at }} {% trans "by" %} {{ disabled.0.changed_by }}
        </div>
        {% endif %}

        <form action="." method="POST" class="form-horizontal">
          {% csrf_token %}
            <div class="form-group">
              <label class="col-sm-5 control-label">{% trans "Account created:" %}</label>
              <div class="col-sm-7">
                  <p class="form-control-static">{{ userform.instance.date_joined }}</p>
              </div>
              <label class="col-sm-5 control-label">{% trans "Last connection:" %}</label>
              <div class="col-sm-7">
                  <p class="form-control-static">{{ userform.instance.last_login }}</p>
              </div>
              <label class="col-sm-5 control-label">{% trans "Is active:" %}</label>
              <div class="col-sm-7">
                  <p class="form-control-static">
                  {% if userform.instance.is_active %}
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;<span class="label label-success">{% trans "Email is OK" %}</span>
                  {% else %}
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;&nbsp;<span class="label label-warning">{% trans "User does not validate it email address" %}</span>
                  {% endif %}</p>
              </div>

              {% if userform.instance.is_active and not userform.instance.is_superuser %}
                  <div class="col-sm-5"></div>
                  <div class="col-sm-7">
                      <p><a href="{% url 'backoffice:impersonate-user' userform.instance.username %}">{% trans "Impersonate" %}</a></p>
                  </div>
              {% endif %}

            </div>
            <div class="form-group">
                {{ userform|bootstrap_horizontal:'col-lg-4' }}

                {% if userform.instance.profile %}
                    {{ userprofileform|bootstrap_horizontal:'col-lg-4' }}
                {% else %}
                    {% trans "This user does not have edX profile" %}
                {% endif %}
            </div>

            <div class="form-group">
              <div class="pull-right">
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
              </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <h3>{% trans "Enrollments" %}</h3>
            <table class="table table-condensed">
            <tr>
                <th>{% trans "Course" %}</th>
                <th>{% trans "Opt out" %}</th>
                <th>{% trans "Forum" %}</th>
            </tr>
            {% for title, key, optout, roles in enrollments %}
            <tr>
                <td>{{ title }}</td>
                <td class="text-center">
                    {% if optout %}
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" title="{% trans 'User has opted out key emails' %}"></span>
                    {% endif %}
                </td>
                <td class="text-center">
                    <a target="_blank" href="{% url 'user_profile' key userform.instance.id %}">
                        <span title="{% trans 'See user contributions to course forum' %}"class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="3" class="no-border">
                    <a href="{% url 'about_course' key %}">{{ key }}</a>
                </td>
            </tr>
            {% if roles %}
            <tr>
                <td colspan="3" class="no-border">
                {% for role in roles %}
                    <span class="label label-primary">{{ role }}</span>
                {% endfor %}
                </td>
            </tr>
            {% endif %}

            {% empty %}
                <tr><td colspan="3">{% trans "No course enrollments" %}</td></tr>
            {% endfor %}
            </table>
        </div>

        <div class="col-md-12">

            <button class="btn btn-warning" data-toggle="modal" data-target="#change-password">
                {% trans "Change password" context "change-user-password" %}
            </button>

            {% if request.user != userform.instance %}
                <button class="btn btn-warning" data-toggle="modal" data-target="#ban-user">
                {% if disabled %}
                    {% trans "Unban" %}
                {% else %}
                    {% trans "Ban" %}
                {% endif %}
                </button>
            {% endif %}

            {% if not userform.instance.is_active %}
                <form action="." method="POST" style="display: inline">
                    <input type="hidden" name="action" value="resend-activation">{% csrf_token %}
                    <button class="btn btn-info" type="submit">{% trans "Resend activation email" %}</button>
                </form>
            {% endif %}
        </div>

        <div class="col-md-12">
            <h3>{% trans "Certificates" %}</h3>
            <table class="table table-condensed">
                <tr>
                    <th>{% trans "Course" %}</th>
                    <th>{% trans "Grade" %} </th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Pdf" %}</th>
                </tr>
                {% for certificate in certificates %}
                    <tr>
                        <td>{{ certificate.course_id }}</td>
                        <td> {{ certificate.grade }} <a class="btn"><span id='change-grade-button' data-course-id="{{certificate.course_id}}" class='glyphicon glyphicon-pencil' data-toggle="modal" data-target="#change-grade"></span></a></td>
                        <td>{{ certificate.status }}</td>
                        <td><a href="{{ certificate.download_url }}"><span class='glyphicon glyphicon-download-alt'></span></a></td>
                    </tr>
                {% empty %}
                    <tr><td colspan="4">{% trans "No certificates generated." %}</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% include "backoffice/modal_forms/change_password.html" with modal_id="change-password" %}
{% include "backoffice/modal_forms/ban_user.html" with modal_id="ban-user" %}
{% include "backoffice/modal_forms/change_grade.html" with modal_id="change-grade" %}

{% endblock %}
