## mako
<%!
from django.utils.translation import ugettext as _
%>
<html>
<body>
<p>
    <center>
        <img src="${protocol}${site}${course.get_thumbnail_url('big')}">
        <h1><a href="${protocol}${site}${course.get_absolute_url()}">${course.title}</a></h1>
    </center>
</p>

<p>
% if course.university_name:
    ${ _(u"Proposed by")}: ${course.university_name}
% endif
</p>

<p>
    <strong>
        ${course.short_description}
    </strong>
</p>

<p>
</p>

<p>
    % if course.subjects.exists():
        ${_(u"Course subjects : ")} ${', '.join(course.subjects.all().values_list('name', flat=True))}
    % endif
<p>
    ${_(u"Enrollment starts : ")} ${ course.enrollment_start_date_display}<br>
    ${_(u"Enrollment ends : ")} ${ course.enrollment_end_date_display}<br>
</p>

<p>
    ${_(u"Course starts : ")} ${ course.start_date_display}<br>
    ${_(u"Course ends : ")} ${ course.end_date_display}<br>
</p>
