<%page args="order, course" />
<%!
from django.utils.translation import ugettext as _
from datetime import datetime
import dateutil.parser
%>
<br><br><br>

<table width="100%" style="border-collapse: collapse; border: 1px solid black;">
<tr>
<td width="50%" colspan="2" style="font-family: monospace; font-size: 12px; border: 1px solid #555; padding: 8px">
    <%include file="/funsite/static_templates/fun-address.html"/>
</td>
<td width="50%" colspan="2" style="font-family: monospace; font-size: 12px; border: 1px solid #555; padding: 8px">
    ${_(u"Date:" )} ${dateutil.parser.parse(order['date_placed']).strftime(_('%m/%d/%y %H:%M'))}<br>
    ${_(u"Order No:")} ${order['number']}<br>
    ${_(u"Contact:")} <span class="user-full-name">${user.profile.name or user.email}</span><br>
</td>
</tr>

<tr>
    <td width="40%" style="font-family: monospace; font-size: 12px; border: 1px solid #555; padding: 8px">
    ${_(u"Description")}
    </td>

    <td width="10%" style="font-family: monospace; font-size: 12px; border: 1px solid #555; padding: 8px">
    ${_(u"Quantity")}
    </td>

    <td width="25%" style="font-family: monospace; font-size: 12px; border: 1px solid #555; padding: 8px">
    ${_(u"Unit price")}
    </td>

    <td width="25%" style="font-family: monospace; font-size: 12px; border: 1px solid #555; padding: 8px">
    ${_(u"Price")}
    </td>
</tr>

<tr>
    <td width="40%" style="font-family: monospace; font-size: 12px; border: 1px solid #555; padding: 8px">
    ${_(u"Subscribe to")} <span class="line-1-course-title">${course.title}</span> / <span class="line-1-course-university">${course.get_first_university()}</span>
    </td>

    <td width="10%" style="font-family: monospace; font-size: 12px; border: 1px solid #555; padding: 8px">
    <span class="line-1-quantity">1</span>
    </td>

    <td width="25%" style="font-family: monospace; font-size: 12px; border: 1px solid #555; padding: 8px">
    <span class="line-1-price-excl-tax">${order['total_excl_tax']}</span> €
    </td>

    <td width="25%" style="font-family: monospace; font-size: 12px; border: 1px solid #555; padding: 8px">
    <span class="line-1-price-incl-tax">${order['total_excl_tax']}</span> €
    </td>
</tr>

<tr>
    <td width="50%" colspan="2" style="font-family: monospace; font-size: 12px; border: 1px solid #555; padding: 8px">
        <br>${_(u"VAT not applicable, Exemption. Art. 261-4-4 CGI")}

    </td>

    <td width="25%" style="font-family: monospace; font-size: 12px; border: 1px solid #555; padding: 8px">
    &nbsp;
    </td>

    <td width="25%" style="font-family: monospace; font-size: 12px; border: 1px solid #555; padding: 8px">
    ${_(u"Price excl. tax:")} ${order['total_excl_tax']} €<br>
    ${_(u"Price incl. tax:")} ${total_incl_tax} €<br>
    </td>
</tr>
</table>

<br><br><br>