## mako
<%!
from django.utils.translation import ugettext as _
from django.conf import settings
%>
<%inherit file="/payment/email/base.html" />


<%block name="message">

      <center><h1 style="font-size: 22px; color: #555;" class="title">
        ${_(u"Payment confirmation")}
      </h1></center>

<p>
<strong>
${_(u"Your payment of {total_excl_tax} € for registration in {title} has been taken into account.").format(total_excl_tax=order['total_excl_tax'], title=ordered_course.title)}
${_(u"Your receipt can be found at the end of this email.")}
</strong>
</p>
<br><br>

<p>
${_(u"You have chosen to follow the course <strong>{title}</strong> in order to obtain a certificate.").format(title=ordered_course.title)}
${_(u"Celebrate your achievement through a certificate. This document will help you to demonstrate the skills you have acquired in this MOOC, boost your CV and your career or prepare for further professional development.")}
</p>

<p>${_(u"After the proctored exam integrated into the course, and if successful, you will:")}</p>

<ul>
  <li>${_(u"Obtain a certificate issued by the institution that created the MOOC")}</li>
  <li>${_(u"Be able to add this certificate to your resume, your cover letter or share it directly on social networks.")}</li>
</ul>

${_(u"Here is a brief reminder of the mandatory requirements regarding the proctored exam necessary to obtain the certificate:")}
<ul>
  <li>${_(u"The proctored exam is organized by our provider in a part of the course visible only for students who have selected the certified track")}</li>
  <li>${_(u"You must verify that your equipment is compatible")}</li>
  <li>${_(u"You must be able to provide an official identity document (passport, identity card ...) at the time of examination")}</li>
  <li>${_(u"You must comply with the rules of the examination explained in the course.")}</li>
</ul>

<p>${_(u"Thank you for your continued support, we wish you a good MOOC!")}</p>

<strong>${_(u"FUN Team")}</strong>

<%include file="bill.html" args="order=order, course=ordered_course" />

</%block>
