<%doc>
    We overide this template to load our fork of edX's Markdown editor.
    See themes/fun/static/hightlight

    And override and extend backbone classes to add handling of our custom forum roles
</%doc>
<%namespace name='static' file='../static_content.html'/>

<script type="text/javascript" src="${static.url('js/split.js')}"></script>
<script type="text/javascript" src="${static.url('js/vendor/jquery.truncate.js')}"></script>
<script type="text/javascript" src="${static.url('js/jquery.ajaxfileupload.js')}"></script>
<script type="text/javascript" src="${static.url('forum_contributors/highlight/js/Markdown.Converter.js')}"></script>
<script type="text/javascript" src="${static.url('forum_contributors/highlight/js/Markdown.Sanitizer.js')}"></script>
<script type="text/javascript" src="${static.url('forum_contributors/highlight/js/Markdown.Editor.js')}"></script>
<script type="text/javascript" src="${static.url('js/jquery.autocomplete.js')}"></script>
<script type="text/javascript" src="${static.url('js/vendor/jquery.timeago.js')}"></script>
<script type="text/javascript" src="${static.url('js/src/jquery.timeago.locale.js')}"></script>
<script type="text/javascript" src="${static.url('js/mustache.js')}"></script>
<script type="text/javascript" src="${static.url('js/vendor/URI.min.js')}"></script>
<script type="text/javascript" src="${static.url('js/vendor/backbone-min.js')}"></script>
<script type="text/javascript" src="${static.url('js/src/tooltip_manager.js')}"></script>

<script>
$(document).ready(function(){

    // Extends edx-platform/common/static/coffee/src/discussion/utils.js
    DiscussionUtil.isActive = function(user_id) {
      var active, _ref;
      if (user_id == null) {
        user_id = (_ref = this.user) != null ? _ref.id : void 0;
      }
      active = _.union(this.roleIds['Active']);
      return _.include(active, parseInt(user_id));
    };
    DiscussionUtil.isRecommended = function(user_id) {
      var recommended, _ref;
      if (user_id == null) {
        user_id = (_ref = this.user) != null ? _ref.id : void 0;
      }
      recommended = _.union(this.roleIds['Recommended']);
      return _.include(recommended, parseInt(user_id));
    };
    DiscussionUtil.isOfficial = function(user_id) {
      var official, _ref;
      if (user_id == null) {
        user_id = (_ref = this.user) != null ? _ref.id : void 0;
      }
      official = _.union(this.roleIds['Official Contributor']);
      return _.include(official, parseInt(user_id));
    };

    // Overrides methods from edx-platform/common/static/coffee/src/discussion/views/discussion_content_view.js
      DiscussionContentShowView.prototype.getAuthorDisplay = function() {
        var html, context;
        context = {
          username: this.model.get('username') || null,
          user_url: this.model.get('user_url'),
          is_community_ta: this.model.get('community_ta_authored'),
          is_staff: this.model.get('staff_authored'),

          is_active: this.model.get('community_active'),
          is_recommended: this.model.get('community_recommended'),
          is_official: this.model.get('community_official')
        }
        html = _.template($("#post-user-display-template").html())(context);
        return html
      };

      DiscussionContentShowView.prototype.getEndorserDisplay = function() {
        var endorsement;
        endorsement = this.model.get('endorsement');
        if (endorsement && endorsement.username) {
          return _.template($("#post-user-display-template").html())({
            username: endorsement.username,
            user_url: DiscussionUtil.urlFor('user_profile', endorsement.user_id),
            is_community_ta: DiscussionUtil.isTA(endorsement.user_id),
            is_staff: DiscussionUtil.isStaff(endorsement.user_id),
            is_active: false,
            is_recommended: false,
            is_official: false
          });
        } else {
          return null;
        }
      };

      // lms/static/xmodule_js/common_static/coffe/src/discussion/content.js
      Content.prototype.initialize = function() {
        var userId;

        Content.addContent(this.id, this);
        userId = this.get('user_id');
        if (userId != null) {
          this.set('staff_authored', DiscussionUtil.isStaff(userId));
          this.set('community_ta_authored', DiscussionUtil.isTA(userId));
          this.set('community_active', DiscussionUtil.isActive(userId));
          this.set('community_recommended', DiscussionUtil.isRecommended(userId));
          this.set('community_official', DiscussionUtil.isOfficial(userId));
        } else {
          this.set('staff_authored', false);
          this.set('community_ta_authored', false);
        }
        if (Content.getInfo(this.id)) {
          this.updateInfo(Content.getInfo(this.id));
        }
        this.set('user_url', DiscussionUtil.urlFor('user_profile', userId));
        return this.resetComments(this.get('children'));
      };

})
</script>

<link href="${static.url('css/vendor/jquery.autocomplete.css')}" rel="stylesheet" type="text/css">
