## mako
<%!
import random
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from django.db import models
from courseware.courses import course_image_url, get_course_about_section

from courses.models import CourseSubject
from universities.models import University

course_subjects_by_score = CourseSubject.objects.by_score()
course_subjects_by_name = CourseSubject.objects.by_name()
universities_by_score = University.objects.by_score()
universities_by_name = University.objects.by_name()
%>

<%inherit file="/funsite/parts/base.html" />

<%block name="title">${_("Courses")}</%block>


<%block name="js_extra">

<%def name="static_include(path)">
    <%
    from django.template.loaders.app_directories import _loader
    source, template_path = _loader.load_template_source(path)
    %>
    ${source}
</%def>


% for template_name in ['li']:
<script type="text/template" id="${template_name}-tpl">
  ${static_include("funsite/js/" + template_name + ".underscore")}
</script>
% endfor


<script>


        console.log('require')

require(["jquery", "underscore", "backbone"],
    function ($, _, Backbone) {


        var loadTemplate = function(name) {
            var templateSelector = '#' + name + '-tpl',
                templateText = $(templateSelector).text();
            if (!templateText) {
                console.error('Failed to load ' + name + ' template');
            }
            return _.template(templateText);
        };


        var filters = [
            {name: 'criterion1', type: 'type1', values: ['a', 'b', 'c']},
            {name: 'criterion2', type: 'type1', values: ['d', 'e', 'v']},
            ];

        var Value = Backbone.Model.extend({});
        var Criterion = Backbone.Model.extend({});
        var CriterionView = Backbone.View.extend({
            tagName: 'li',
            className: "criterion",
            template: loadTemplate("li"),
            events: {"click": "onClick"},
            initialize: function() {},

            render: function() {
                this.$el.html(this.template(this.model.toJSON()));
                return this;
            },
            onClick: function() {
                this.model.trigger('selected', this.model);
            }
        })


        var CriterionCollection = Backbone.Collection.extend({
            model: Criterion,
        });

        var CriterionCollectionView = Backbone.View.extend({
            tagName: 'ul',
            initialize: function() {
                this.listenTo(this.collection, 'add', this.addOne);
            },

            addOne: function(item) {
                console.log('addone');
                var view = new CriterionView({model: item});
                this.$el.append(view.render().el);
            },

        })



        var AppView = Backbone.View.extend({

            el: $('#item-app'),
            events: {},
            initialize: function(data) {
                console.log('init');
                var criterioncollection = new CriterionCollection;
                var criterioncollectionview = new CriterionCollectionView({collection: criterioncollection});

                this.$el.append(criterioncollectionview.render().el);


                this.listenTo(criterioncollection, "selected", this.clickItem)

                for (var i = data.filters.length - 1; i >= 0; i--) {
                    console.log('iteration');
                    criterioncollection.add(data.filters[i])
                }

            },
            clickItem: function(item) {
                console.log(item);
            }
        });


        var App = new AppView({filters: filters});




/*


        var AppView = Backbone.View.extend({
            events: {'click': 'onClickUpdate'},
            initialize: function() {
                var courselist = new CourseList();
                courselist.fetch();

            },
            onClickUpdate: function() {
                console.log('test')
            },

        });

        var Course = Backbone.Model.extend({

        });
        var CourseView = Backbone.View.extend({

        });

        var CourseList = Backbone.Collection.extend({
            //url: '/cours/api/',
            parse: function(data) {
                return data.courses;
            },
        });

        console.log('start');
        var appview = new AppView({el: $('.courses-page')});
*/

    });


    var filter = {};
    $('.all-items-button').on('click', function(event) {
        console.log(event);
        $('.hide-on-escape-key').hide();
        var overlay_id = $(this).data('overlay_id')
        $(overlay_id).show();

        /* Calculate vertical overlay's position regarding clicked button */
        var posy =  $(this).prev().prev().offset().top - $('.filters').offset().top - 40;
        $(overlay_id).css('top', posy + 'px');

        /* Calculate vertical UL's height regarding the number of items and columns as Chrome seems to fail to do it right */
        var height = Math.ceil($(overlay_id).find('li').length / $(overlay_id).find('ul').css('column-count'));
        $(overlay_id).find('ul').css('height', (height * $('li.criterion').outerHeight(true)) + 'px');
    });

    $('.criterion').on('click', function(event) {
        $('.hide-on-escape-key').hide();
        var criterion_type = $(this).parent().data('criterion_type');

        if ($(this).hasClass('filter-checkbox')) {
            $(this).toggleClass('checked');
            filter[criterion_type] = $(this).hasClass('checked');
        } else {
            filter[criterion_type] = $(this).data('criterion');
        }
        console.log(filter);
    });


</script>
</%block>

<%block name="content">

<div class="page-image courses-page"></div>


<div class="row">
    <div class="col-lg-36 big-title text-center">
        <h2>Les cours à la une</h2>
    </div>
</div>


<div class="highlighted-courses">

    <div class="row">
        <!-- haute def > 1350: 4 mises en avant principales -->
        <ul class="primary-highlight">
            <li>
                <%include file="/funsite/parts/big-course-block.html" args="id=1"/>
            </li>
            <li>
                <%include file="/funsite/parts/big-course-block.html" args="id=2" />
            </li>
            <li class="hidden-960">
                <%include file="/funsite/parts/big-course-block.html" args="id=3" />
            </li>
            <li class="hidden-1280">
                <%include file="/funsite/parts/big-course-block.html" args="id=3" />
            </li>
        </ul>
    </div>
</div>


    <div id="item-app">

    </div>


    %for course in courses:
          <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
            ${get_course_about_section(course, 'title')}<br>
        </a>
    %endfor


<div class="course-list">

    <div class="row">

        <div class="col-md-12 col-sm-12">
            <!-- <div class="filters" data-spy="affix" data-offset-top="820" data-offset-bottom="90"> -->
            <div class="filters criteria-block">
                <h1>Recherche</h1>
                <h2>Disponibilité</h2>
                <ul class="criteria" data-criterion_type="state">
                    <li class="criterion" data-criterion="new">Nouveau cours<span class="badge pull-right">22</span></li>
                    <li class="criterion" data-criterion="near-end">Fin d'inscription imminente<span class="badge pull-right">5</span></li>
                    <li class="criterion" data-criterion="near-start">Démarre bientôt<span class="badge pull-right">99</span></li>
                    <li class="criterion" data-criterion="demand">A la demande<span class="badge pull-right">27</span></li>
                </ul>

                <h2>Thèmes</h2>
                <ul class="criteria" data-criterion_type="subject">
                    %for course_subject in course_subjects_by_score[:8]:
                    <li class="criterion" data-criterion="${ course_subject.slug }">
                        ${ course_subject.short_name or course_subject.name }
                        <span class="badge pull-right">${ course_subject.courses_count }</span>
                    </li>
                    %endfor
                </ul>
                <span class="all-items-button" data-overlay_id="#all-themes-overlay">Toutes les thèmes</span>

                <h2>Établissements</h2>
                <ul class="criteria" data-criterion_type="university">
                    %for university in universities_by_score[:10]:
                    <li class="criterion" data-criterion="${ university.slug }">
                        ${ university.short_name or university.name }
                        <span class="badge pull-right">${ university.courses_count }</span>
                    </li>
                    %endfor
                </ul>
                <span class="all-items-button" data-overlay_id="#all-universities-overlay">Tous les établissements</span>

                <h2>Formation certifiante</h2>
                <ul class="criteria" data-criterion_type="certificate">
                    <li class="criterion filter-checkbox" data-criterion="">
                        Certificat
                        <span class="badge pull-right">50</span>
                    </li>
                </ul>
                <h2>Langue</h2>
                <ul class="criteria" data-criterion_type="language">
                    <li class="criterion icon french-flag" data-criterion="fr">
                        Français
                        <span class="badge pull-right">103</span>
                    </li>
                    <li class="criterion icon english-flag" data-criterion="en">
                        English
                        <span class="badge pull-right">5</span>
                    </li>
                    <li class="criterion icon german-flag" data-criterion="de">
                        Deutsche
                        <span class="badge pull-right">2</span>
                    </li>
                    <li class="criterion icon spanish-flag" data-criterion="es">
                        Español
                        <span class="badge pull-right">1</span>
                    </li>
                </ul>


            </div>
        </div>

        <div class="col-md-24 col-sm-24">
            <div class="pagination">

            </div>
            <div class="list">
                <ul>
                    %for a in range(30):  ## multiple of 5, 3, 2 and 1
                    <li>
                        <%include file="/funsite/parts/small-course-block.html" args="id=1" />
                    </li>
                    %endfor
                </ul>

            </div>

            <div id="all-themes-overlay" class="criteria-overlay criteria-block hide-on-escape-key">
                <h2>Tous les tèmes</h2>
                <ul class="criteria" data-criterion_type="subject">
                    %for course_subject in course_subjects_by_name:
                    <li class="criterion" data-criterion="${ course_subject.slug }">
                        ${ course_subject.short_name or course_subject.name }
                        <span class="badge pull-right">${ course_subject.courses_count }</span>
                    </li>
                    %endfor
                </ul>

            </div>



            <div id="all-universities-overlay" class="criteria-overlay criteria-block hide-on-escape-key">
                <h2>Tous les établissements</h2>
                <ul class="criteria" data-criterion_type="university">

                    %for university in universities_by_name:
                    <li class="criterion" data-criterion="${ university.slug }">
                        ${ university.short_name or university.name }
                        <span class="badge pull-right">${ university.courses_count }</span>
                    </li>
                    %endfor
                </ul>


        </div>



    </div>

</div>
</%block>
