## mako
<%!
import random
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from django.db import models
from courseware.courses import course_image_url, get_course_about_section

from courses.models import CourseSubject
from universities.models import University

course_subjects_by_score = CourseSubject.objects.by_score()
course_subjects_by_name = CourseSubject.objects.by_name()
universities_by_score = University.objects.by_score()
universities_by_name = University.objects.by_name()
%>

<%inherit file="/funsite/parts/base.html" />

<%block name="title">${_("Courses")}</%block>


<%block name="js_extra">

<%def name="static_include(path)">
    <%
    from django.template.loaders.app_directories import _loader
    source, template_path = _loader.load_template_source(path)
    %>
    ${source}
</%def>


% for template_name in ['li', 'li2']:
<script type="text/template" id="${template_name}-tpl">
  ${static_include("funsite/js/" + template_name + ".underscore")}
</script>
% endfor


<script>



require(["jquery", "underscore", "backbone"],
    function ($, _, Backbone) {


        var loadTemplate = function(name) {
            var templateSelector = '#' + name + '-tpl',
                templateText = $(templateSelector).text();
            if (!templateText) {
                console.error('Failed to load ' + name + ' template');
            }
            return _.template(templateText);
        };


        var filters = [
            {title: "Disponibilité", name: 'state', type: 'select', values: [
                {value: 'new', title: "Nouveau", count: 12},
                {value: 'nead-end', title: "Fin d'inscription imminente", count: 12},
                {value: 'near-start', title: "Démarre bientôt", count: 12},
                {value: 'demand', title: "A la demande", count: 12},
            ]},
            {title: "Thèmes", name: 'subject', type: 'select', values: [
                %for course_subject in course_subjects_by_score[:8]:
                {value: "${ course_subject.slug }", title: "${ course_subject.short_name or course_subject.name }", count: ${ course_subject.courses.count() }},
                %endfor
            ]},
            {title: "Etablissements", name: 'university', type: 'select', values: [
                %for university in universities_by_score[:10]:
                {value: "${ university.slug }", title: "${ university.short_name or university.name }", count: ${ university.courses.count() }},
                %endfor
            ]},
            {title: "Formation certifiante", name: 'certificate', type: 'checkbox', values: [
                {value: "certificat", title: "Certificate", count: 50 },
            ]},
            {title: "Langue", name: 'language', type: 'select', values: [
                {value: 'fr', title: "Français", image: 'french-flag', count: 12},
                {value: 'en', title: "English", image: 'english-flag', count: 12},
                {value: 'de', title: "Deutsche", image: 'german-flag', count: 12},
                {value: 'es', title: "Español", image: 'spanish-flag', count: 12},
            ]},


        ];

        var Value = Backbone.Model.extend({});
        var ValueCollection = Backbone.Collection.extend({
            model: Value
        });
        var ValueView = Backbone.View.extend({
            tagName: 'li',
            className: "criterion",
            template: loadTemplate("li2"),

            events: {"click": "onClick"},

            initialize: function() {},

            render: function() {
                // if an image is provided we add some CSS classes
                var image = this.model.get('image');
                if (image) {
                    this.$el.addClass('icon ' + image);
                } else if (this.model.collection.parent.get('type') == 'checkbox') {

                    this.$el.addClass('filter-checkbox');
                }

                this.$el.html(this.template(this.model.toJSON()));
                return this;
            },
            onClick: function(event) {
                if (this.model.collection.parent.get('type') == 'checkbox') {
                    this.$el.toggleClass('checked');
                }
                console.log(this.model.toJSON());
            }

        });
        var ValueCollectionView = Backbone.View.extend({
            tagName: 'ul',
            className: "criteria",

            initialize: function() {
                this.listenTo(this.collection, 'add', this.addOne);
            },

            addOne: function(item) {
                console.log('value addone');
                var view = new ValueView({model: item});
                this.$el.append(view.render().el);
            },

        })

        var Criterion = Backbone.Model.extend({
            initialize: function() {
                this.valuecollection = new ValueCollection;
                this.valuecollection.parent = this;
            },

        });
        var CriterionView = Backbone.View.extend({
            tagName: 'div',
            //template: loadTemplate("li"),
            events: {},
            initialize: function() {
                //debugger
                this.valuecollectionview = new ValueCollectionView({collection: this.model.valuecollection});

                this.model.valuecollection.add(this.model.get("values"))
            },

            render: function() {
                // on utilise pas de template ici
                this.$el.html($('<h2>').text(this.model.get('title')));
                this.$el.append(this.valuecollectionview.render().el);

                return this;
            },

            events: {"click": "onClick"},

            onClick: function(event) {

                console.log(this.model.toJSON());
            }

        })


        var CriterionCollection = Backbone.Collection.extend({
            model: Criterion,
        });

        var CriterionCollectionView = Backbone.View.extend({

            initialize: function() {
                this.listenTo(this.collection, 'add', this.addOne);
            },

            addOne: function(item) {
                console.log('criterion addone');
                var view = new CriterionView({model: item});
                this.$el.append(view.render().el);
            },

        })



        var AppView = Backbone.View.extend({

            el: $('#item-app'),
            events: {},
            initialize: function(data) {
                console.log('init');
                var criterioncollection = new CriterionCollection;
                var criterioncollectionview = new CriterionCollectionView({collection: criterioncollection});

                this.$el.append(criterioncollectionview.render().el);

                criterioncollection.add(data.filters)

            },
        });


        var App = new AppView({filters: filters});




    });


    var filter = {};
    $('.all-items-button').on('click', function(event) {
        console.log(event);
        $('.hide-on-escape-key').hide();
        var overlay_id = $(this).data('overlay_id')
        $(overlay_id).show();

        /* Calculate vertical overlay's position regarding clicked button */
        var posy =  $(this).prev().prev().offset().top - $('.filters').offset().top - 40;
        $(overlay_id).css('top', posy + 'px');

        /* Calculate vertical UL's height regarding the number of items and columns as Chrome seems to fail to do it right */
        var height = Math.ceil($(overlay_id).find('li').length / $(overlay_id).find('ul').css('column-count'));
        $(overlay_id).find('ul').css('height', (height * $('li.criterion').outerHeight(true)) + 'px');
    });

    $('.criterion').on('click', function(event) {
        $('.hide-on-escape-key').hide();
        var criterion_type = $(this).parent().data('criterion_type');

        if ($(this).hasClass('filter-checkbox')) {
            $(this).toggleClass('checked');
            filter[criterion_type] = $(this).hasClass('checked');
        } else {
            filter[criterion_type] = $(this).data('criterion');
        }
        console.log(filter);
    });


</script>
</%block>

<%block name="content">

<div class="page-image courses-page"></div>


<div class="row">
    <div class="col-lg-36 big-title text-center">
        <h2>Les cours à la une</h2>
    </div>
</div>


<div class="highlighted-courses">

    <div class="row">
        <!-- haute def > 1350: 4 mises en avant principales -->
        <ul class="primary-highlight">
            <li>
                <%include file="/funsite/parts/big-course-block.html" args="id=1"/>
            </li>
            <li>
                <%include file="/funsite/parts/big-course-block.html" args="id=2" />
            </li>
            <li class="hidden-960">
                <%include file="/funsite/parts/big-course-block.html" args="id=3" />
            </li>
            <li class="hidden-1280">
                <%include file="/funsite/parts/big-course-block.html" args="id=3" />
            </li>
        </ul>
    </div>
</div>


    %for course in courses:
        <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
            ${get_course_about_section(course, 'title')}<br>
        </a>
    %endfor


<div class="course-list">

    <div class="row">

        <div class="col-md-12 col-sm-12">
            <!-- <div class="filters" data-spy="affix" data-offset-top="820" data-offset-bottom="90"> -->
            <div class="filters criteria-block">
                <h1>Recherche</h1>

                <div id="item-app">

                </div>

            </div>
        </div>

        <div class="col-md-24 col-sm-24">
            <div class="pagination">

            </div>
            <div class="list">
                <ul>
                    %for a in range(30):  ## multiple of 5, 3, 2 and 1
                    <li>
                        <%include file="/funsite/parts/small-course-block.html" args="id=1" />
                    </li>
                    %endfor
                </ul>

            </div>

            <div id="all-themes-overlay" class="criteria-overlay criteria-block hide-on-escape-key">
                <h2>Tous les tèmes</h2>
                <ul class="criteria" data-criterion_type="subject">
                    %for course_subject in course_subjects_by_name:
                    <li class="criterion" data-criterion="${ course_subject.slug }">
                        ${ course_subject.short_name or course_subject.name }
                        <span class="badge pull-right">${ course_subject.courses_count }</span>
                    </li>
                    %endfor
                </ul>

            </div>



            <div id="all-universities-overlay" class="criteria-overlay criteria-block hide-on-escape-key">
                <h2>Tous les établissements</h2>
                <ul class="criteria" data-criterion_type="university">

                    %for university in universities_by_name:
                    <li class="criterion" data-criterion="${ university.slug }">
                        ${ university.short_name or university.name }
                        <span class="badge pull-right">${ university.courses_count }</span>
                    </li>
                    %endfor
                </ul>


        </div>



    </div>

</div>
</%block>
