## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<%namespace name='static' file='/static_content.html'/>
<%inherit file="/funsite/parts/simple-content.html" />

<%block name="title">${_("About FUN")}</%block>
<%namespace name="breadcrumbs" file="/funsite/parts/breadcrumbs.html"/>

<%block name="page_content">
    ${breadcrumbs.breadcrumbs(_("About FUN"))}
    <section>
      <article>
          <h2>FUN-MOOC</h2>

          <p>Le Groupement d'Intérêt Public (GIP) FUN-MOOC est l'opérateur de la plateforme FUN.</p>
          <p>Ses missions sont les suivantes :</p>
          <ul>
             <li>Accompagner le développement des formations tirant pleinement profit du levier numérique et accessibles au plus grand nombre</li>
             <li>Inciter à placer le numérique au cœur du parcours étudiant et des métiers de l'enseignement supérieur et de la recherche</li>
             <li>Offrir des moyens et services mutualisés en soutien aux initiatives numériques des établissements</li>
             <li>Promouvoir la visibilité de l'offre française de formations et ressources numériques</li>
          </ul>
      </article>
    </section>
    <section>
        <article>
          <h2>FUN, la plateforme en quelques mots</h2>
          <p>Nous avons plus de 50 partenaires en France et à travers le monde. Ils font partie des meilleurs établissements d'enseignement supérieur et nous leur permettons de diffuser la connaissance au plus grand nombre.</p>
          <p>Et ce n'est qu'un début car les chiffres parlent par eux-mêmes : 1 million d'inscriptions à 150 cours disponibles !</p>
          <p>Grâce à l'union et les efforts de nos établissements partenaires, nous proposons un vaste catalogue de cours qui s'enrichit de jour en jour avec des thématiques variées et d'actualité.<br>
             Notre catalogue est composé de cours conçus par des professeurs <a href="/universities/">d'universités et d'écoles françaises et par leurs partenaires académiques internationaux</a>. Les étudiants et internautes peuvent les suivre de <strong>manière interactive et collaborative et à leur rythme</strong>.
          </p>
        </article>
    </section>

    <section>
        <article>
          <h2>Nos origines</h2>
          <p>Lancée par le <a href="http://www.enseignementsup-recherche.gouv.fr/" target="_blank">Ministère de l'Enseignement Supérieur et de la Recherche</a> en octobre 2013, cette initiative vise à fédérer les projets des universités et écoles françaises pour leur donner une visibilité internationale.</p>
          <p>Le catalogue de cours disponibles s'est continuellement enrichi pour proposer une variété de formations répondant aux besoins de tous les publics. Nous sommes partis d'une offre d'une dizaine de cours sur quelques thématiques. Nous avons maintenant une couverture très complète des thématiques et une offre de 150 cours dont certains se sont rejoués quatre fois.</p>
          <p>Nous nous sommes appuyés dès le début sur trois acteurs clé: </p>
          <ul>
		<li>Le <a href="http://www.cines.fr/" target="_blank">CINES</a></li>
		<li>L'<a href="http://www.inria.fr/" target="_blank">Inria</a></li>
		<li>et <a href="http://www.renater.fr/" target="_blank">Renater</a></li>
          </ul>
         <p>FUN-MOOC est désormais un Groupement d'Intérêt Public (GIP) co-financé par ses établissements membres et le ministère.</p>
        </article>
    </section>

    <section>
        <article>
            <h2>A vous!</h2>
            <p></p>
            <p>Tout cela nous le faisons pour vous, pour la diffusion de la connaissance et la formation tout au long de la vie.<br>
            Alors inscrivez-vous si cela n'est pas déjà fait, faites-vous plaisir (l'acronyme FUN n'est pas pour rien), et conseillez à d'autres de s'inscrire !</p>
        </article>
    </section>

  </%block>
