## mako

<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../parts/base.html" />


<%block name="title">Aide</%block>

<section class="container about help-page">

  <img class="illustration" src="${static.url('themes/fun/images/illustrations/help.jpg')}" />

  <section class="faq">
    <section class="responses">
      <h1>Aide</h1>

      <section class="category">
      <a name="edx_basics_faq"></a>
        <h2>FUN : Premiers pas</h2>
        <article class="response">
          <h3>Qui peut s’inscrire à un cours sur FUN&nbsp;?</h3>
          <p>Vous, votre mère, votre petit frère, votre grand père… n'importe qui possédant un accès à Internet peut suivre un cours sur FUN. C’est gratuit.
          </p>
        </article>

        <article class="response">
          <h3>Comment puis-je m'inscrire à un cours&nbsp;?</h3>
          <p>Créez simplement un compte FUN (c'est gratuit) et ensuite inscrivez-vous au(x) cours de votre choix. Suivez les consignes sur le site internet de FUN.
          </p>
        </article>

        <article class="response">
          <h3>Que se passe-t-il si je m'inscris à un cours&nbsp;?</h3>
          <p>Vous allez recevoir un courriel d'activation. Suivez les consignes de ce courrier pour activer votre compte. Vous devrez systématiquement vous enregistrer avec ce compte pour accéder au(x) cours au(x)quel(s) vous vous êtes inscrit(e). Lorsque celui-ci aura débuté, vous pourrez accéder aux documents, devoirs, tutoriaux, etc., semaine par semaine.
          </p>
        </article>

        <article class="response">
          <h3>Les cours sont-ils seulement proposés en français&nbsp;?</h3>
          <p>Quelques cours sur FUN incluent une traduction du cours dans la barre de texte à droite de la vidéo. Certains ont une option spécifique pour demander une autre langue. Vérifiez votre cours pour connaître les options linguistiques.
          </p>
        </article>

        <article class="response">
          <h3>Quand y aura-t-il plus de cours sur d'autres sujets&nbsp;?</h3>
          <p>Les universités et les écoles créent continuellement des cours que nous ajoutons à la plateforme FUN. Visitez le site régulièrement pour connaître les nouveaux cours proposés.
          </p>
        </article>

        <article class="response">
          <h3>Quand débute et finit mon cours&nbsp;?</h3>
          <p>Les dates de début et de fin des cours sont disponibles sur la page de description de chaque cours.
          </p>
        </article>

        <article class="response">
          <h3>Peut-on visiter une session de cours modèle&nbsp;?</h3>
          <p>Il existe des présentations vidéo de chaque cours qui vous donneront un bon aperçu du fonctionnement du cours.
          </p>
        </article>

        <article class="response">
          <h3>Je n'ai pas les pré-requis pour un cours qui m'intéresse. Puis-je quand même suivre le cours&nbsp;?</h3>
          <p>Nous ne vérifions pas les pré-requis des étudiants, donc vous êtes autorisé(e) à suivre le cours. Néanmoins, si vous ne connaissez pas les fondamentaux requis avant de le suivre, vous devrez les apprendre par vous-même simultanément, ce qui peut s'avérer difficile.
          </p>
        </article>

        <article class="response">
          <h3>Que se passe-t-il si je quitte un cours ? Y a-t-il des pénalités ? Pourrai-je suivre un autre cours à l'avenir&nbsp;?</h3>
          <p>Vous pouvez vous désinscrire d'un cours sur FUN n'importe quand, sans pénalité. Vous pourrez vous réinscrire au même cours plus tard, si nous le proposons toujours.
          </p>
        </article>
      </section>


      <section class="category">
        <a name="classes_faq"></a>
        <h2>Les cours</h2>

        <article class="response">
          <h3>Quelle quantité de travail sera nécessaire pour réussir un cours&nbsp;?</h3>
          <p>Le nombre estimé d'heures de travail requis cours pour réussir le cours est décrit sur la page de description spécifique à chaque cours.
          </p>
        </article>

        <article class="response">
          <h3>Quels sont les pré-requis pour un cours&nbsp;?</h3>
          <p>Chaque cours est différent&nbsp;- certains ont des pré-requis, d'autres non. Vérifiez les pré-requis spécifiques à votre cours sur sa page de description. Si vous ne les possédez pas tous, vous pourrez néanmoins suivre le cours.</p>
        </article>

        <article class="response">
          <h3>Je préfère réviser avant le début du cours. Quels livres dois-je lire&nbsp;?</h3>
          <p>Jetez un œil sur les pré-requis spécifiques pour ce cours. Toutes les ressources pédagogiques seront fournies pendant le cours, accessibles depuis votre navigateur. La description du cours peut inclure des ressources additionnelles. Pour des lectures supplémentaires avant ou après le cours, vous pouvez demander des suggestions aux autres participants dans le forum de discussion du cours.
          </p>
        </article>

        <article class="response">
          <h3>Puis-je suivre plusieurs cours à la fois&nbsp;?</h3>
          <p>Vous pouvez suivre plusieurs cours simultanément sur FUN, néanmoins nous vous recommandons de vérifier les pré-requis ou la charge de travail sur la page de description de chaque cours pour déterminer l'adéquation entre votre temps d'étude disponible et celui réclamé par les cours souhaités.
          </p>
        </article>

        <article class="response">
          <h3>Comment puis-je m'inscrire dans une classe FUN&nbsp;?</h3>
          <p>Tous les inscrits à un même cours forment une «&nbsp;classe&nbsp;». Une fois inscrit à un cours et votre compte activé, cliquez sur le bouton "Connectez-vous" sur la page d'accueil du site FUN. Vous devrez taper votre adresse courriel et votre mot de passe FUN à chaque connexion.
          </p>
        </article>

        <article class="response">
          <h3>Quelles sont les heures de cours&nbsp;?</h3>
          <p>Les classes FUN s'adaptent à votre convenance. Vous préférez dormir et étudier plus tard&nbsp;? Pas de problème. Les vidéos et exercices sont disponibles 24 heures sur 24, ce qui signifie que vous pouvez regarder les vidéos et compléter votre travail dès que vous avez du temps de disponible. Vous vous connectez simplement à votre cours par Internet et travaillez avec les ressources pédagogiques, une semaine à la fois. Certains cours incluent des sessions d’échange en direct. Si vous ne pouvez pas y participer, vous pourrez toujours les regarder en différé.
          </p>
        </article>

        <article class="response">
          <h3>Si je rate une semaine, cela va-t-il affecter mon évaluation&nbsp;?</h3>
          <p>Il est certainement possible de réussir un cours FUN en ayant raté une semaine&nbsp;; néanmoins, les enseignants ont prévu une progression pédagogique, donc vous devrez revoir et étudier ce que vous avez manqué. Vous pouvez vérifier sur votre tableau de bord du cours votre progression tout au long du cours si cela vous préoccupe.
          </p>
        </article>

        <article class="response">
          <h3>Comment puis-je rencontrer d'autres étudiants&nbsp;?</h3>
          <p>Tous les cours sur FUN ont des forums de discussion dans lesquels vous pouvez discuter en direct et aider les autres, dans le respect de la charte utilisateur.
          </p>
        </article>

        <article class="response">
          <h3>Comment puis-je échanger avec les professeurs et les tuteurs&nbsp;?</h3>
          <p>Les forums de discussion sont le meilleur endroit pour joindre l'équipe pédagogique FUN de votre classe, et vous n'avez pas à attendre en ligne ou réorganiser votre emploi du temps pour l’adapter à celui de votre professeur&nbsp;: posez simplement vos questions&nbsp;; la réponse n'est pas toujours immédiate, mais généralement assez rapide.
          </p>
        </article>

        <article class="response">
          <h3>Comment puis-je obtenir de l'aide&nbsp;?</h3>
          <p>Pour vous aider, faites appel à la communauté dynamique et globale des apprenants en ligne, disponibles 24h/24 et 7j/7, dans le respect de la charte utilisateur. Vous disposez aussi du soutien des tuteurs qui animent le cours. Jetez un œil au forum de discussion où vous pouvez passer en revue les questions posées, les réponses et commentaires des apprenants en ligne. Vous pouvez également poser des questions.
          </p>
        </article>

        <article class="response">
          <h3>Puis-je suivre un cours à nouveau&nbsp;?</h3>
          <p>Bonne nouvelle : vous pouvez rejouer tant que vous voulez un cours sur FUN. Vous pouvez suivre à nouveau les cours aussi souvent que vous le souhaitez. Vos résultats dans une session du cours n'auront aucune influence sur les futures sessions de quelque cours FUN que ce soit, y compris s'il s'agit du même cours.
          </p>
        </article>

        <article class="response">
          <h3>L'inscription pour un cours qui m'intéresse est encore possible, mais le cours a commencé. Puis-je encore m'inscrire&nbsp;?</h3>
          <p>Oui, mais vous ne pourrez pas valider les examens ou travaux que vous auriez déjà dû rendre.
          </p>
        </article>

        <article class="response">
          <h3>Y a-t-il un examen à la fin ?</h3>
          <p>Chaque cours a sa propre structure. Vérifiez la description du cours pour voir s’il y a un examen ou un projet final.
          </p>
        </article>

        <article class="response">
          <h3>Est-ce que les mêmes cours seront à nouveau offerts à l'avenir&nbsp;?</h3>
          <p>Les cours disponibles sur FUN seront à nouveau offerts, et de nouveaux cours seront ajoutés.
          </p>
        </article>
      </section>


      <section class="category">
        <a name="other_help_faq"></a>
        <h2>Autres questions</h2>

        <article class="response">
          <h3>Mon nom d'utilisateur FUN est déjà utilisé</h3>
          <p>Soyez créatif&nbsp;: essayez un nom d'utilisateur différent, rendez-le unique. Par exemple, essayez d'ajouter un nombre aléatoire à la fin.
          </p>
        </article>

        <article class="response">
          <h3>Pourquoi mon mot de passe s'affiche-t-il sur la page de connexion du MOOC&nbsp;?</h3>
          <p>Oups&nbsp;! Cela doit dépendre de la manière dont vous avez créé votre compte. Par exemple, vous pouvez avoir par erreur tapé votre mot de passe dans la case correspondant à votre identifiant.
          </p>
        </article>

        <article class="response">
          <h3>J'ai des problèmes de connexion (mot de passe/courriel non reconnus)</h3>
          <p>Merci de vérifier les paramètres de votre navigateur pour vous assurer que vous avez la dernière version de votre navigateur, puis essayez à nouveau de vous connecter. Si l'accès est impossible, créez un nouveau compte en utilisant une adresse alternative. Le vieux compte, inutilisé, disparaîtra plus tard.
          </p>
        </article>

        <article class="response">
          <h3>Je n'ai pas reçu de mail d'activation</h3>
          <p>Si vous n'avez pas reçu de mail d'activation, cela peut être parce que&nbsp;:
          </p>
          <ul>
            <li>Il y avait une faute de frappe dans votre adresse email.</li>
            <li>Votre filtre anti-spam a peut-être considéré l’email d’activation comme un spam. Merci de vérifier votre dossier spam.</li>
            <li>Vous utilisez peut-être un ancien navigateur. Nous recommandons de télécharger la version courante de votre navigateur.</li>
            <li>Javascript est peut-être désactivé dans votre navigateur. Vérifiez les paramètres de votre navigateur et confirmez que Javascript est activé.</li>
          </ul>
          <p>Si vous avez des problèmes avec l'activation de votre compte, nous recommandons de créer un nouveau compte. Il n'y a rien à faire avec l'ancien. S'il n'est pas activé via le lien du mail, il disparaîtra plus tard.</p>
        </article>

        <article class="response">
          <h3>Puis-je détruire mon compte&nbsp;?</h3>
          <p>Il n'y a pas besoin de détruire votre compte. Un vieux compte FUN inutilisé, sans MOOC associé, disparaîtra.
          </p>
        </article>

        <article class="response">
          <h3>J'ai fait une erreur en créant mon nom d'utilisateur FUN. Comment puis-je la réparer&nbsp;?</h3>
          <p>Dans la plupart des cas, il est plus simple et plus rapide de créer un nouveau compte. Votre ancien compte disparaîtra naturellement. Si vous découvrez votre erreur beaucoup plus tard, vous devrez nous envoyer une demande de changement détaillée et nous ferons de notre mieux pour modifier votre nom d'utilisateur. Gardez à l'esprit que les identifiants sont uniques, et celui que vous voulez peut être déjà pris.
          </p>
        </article>

        <article class="response">
          <h3>J'ai des problèmes d'affichage. Par exemple, il manque des fonctionnalités ou je ne peux pas voir les vidéos.</h3>
          <p>Vérifiez les paramètres de votre navigateur. Nous recommandons de télécharger la dernière version de votre navigateur. Sinon, vous pouvez vous réinscrire avec un compte courriel alternatif. Il n'y a pas besoin de détruire l’ancien compte, il disparaîtra plus tard s'il est inutilisé.
          </p>
        </article>

      </section>
    </section>

    <nav class="categories">
      <a href="#edx_basics_faq">FUN : Premiers pas</a>
      <a href="#classes_faq">Les cours</a>
      <a href="#other_help_faq">Autres questions</a>
    </nav>
  </section>
</section>

%if user.is_authenticated():
<%include file="../signup_modal.html" />
%endif
