## mako
<%!
from django.core.urlresolvers import reverse
from staticfiles.storage import staticfiles_storage
from django.utils.translation import ugettext as _
%>

<%inherit file="/funsite/parts/simple-content.html" />

<%block name="title">${_("Usage policy")}</%block>
<%namespace name="breadcrumbs" file="/funsite/parts/breadcrumbs.html"/>

<%block name="page_content">

  ${breadcrumbs.breadcrumbs(_("Usage policy"))}

<section>
  <h1>Charte utilisateurs</h1>

    <p>En vous inscrivant sur FUN, vous rejoignez une communauté mondiale d'apprenants. L'ambition de FUN est de fournir un accès aux meilleures formations de l'enseignement supérieur et ce quelle que soit votre localisation géographique.</p>

    <p>Tout utilisateur souhaitant accéder à FUN doit donc avoir préalablement consulté la présente Charte Utilisateurs ainsi que les Conditions Générales d'Utilisation et la Politique de Confidentialité qui décrivent les conditions dans lesquelles FUN donne accès à ses services. </p>

    <p>En s'inscrivant sur FUN, l'utilisateur est réputé avoir accepté, sans restriction ni réserve, les Conditions Générales d'Utilisation, la Charte Utilisateurs et la Politique de Confidentialité.</p>

    <h2>Recommandations aux utilisateurs</h2>

    <p>Sauf contre-indication de l'enseignant du cours, vous êtes encouragés à :</p>
    <ul>
      <li>Participer à l'ensemble des activités d'un cours : lecture des vidéos, exercices, devoirs et travaux pratiques</li>
      <li>Discuter avec les autres apprenants des concepts généraux et des ressources de chaque cours en utilisant les outils collaboratifs mis à disposition</li>
      <li>Proposer des idées et éventuellement proposer les documents que vous pourrez élaborer, aux autres apprenants à des fins de commentaires</li>
      <li>S'assurer que le nom complet est celui que vous souhaitez faire figurer sur vos attestations et certificats (*)</li>
      <li>S'assurer que le nom d'utilisateur est choisi avec soin car il n'est pas modifiable - comme il sera visible des autres participants, il n'est pas nécessaire qu'il reflète votre vrai nom</li>
    </ul>

    <h2>Engagements des utilisateurs</h2>

    <p>En complément des règles de conduite précisées dans les Conditions Générales d'Utilisation, l'utilisateur s'engage à :</p>
    <ul>
      <li>Ne pas tricher pour améliorer ses résultats</li>
      <li>Ne pas améliorer ou dégrader les résultats des autres</li>
      <li>Ne pas publier les réponses aux exercices pris en compte dans l'évaluation finale des étudiants</li>
      <li>Respecter les droits de propriété intellectuelle accordés par la licence d'utilisation attachée à chaque formation en ligne (cf. conditions d'utilisation précisées au moment de l'inscription à la formation)</li>
      <li>Donner accès à l'équipe enseignante à ses données personnelles collectées dans la plateforme pour les besoins du cours suivi</li>
    </ul>

   <p>(*) A noter: une fois les attestations éditées, il n'y aura plus de possibilité de modifier le nom d'utilisateur sur ce document. </p>

</section>

</%block>