## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _, get_language
from payment.models import TermsAndConditions, PAYMENT_TERMS
from django.conf import settings
%>
<%inherit file="/funsite/parts/simple-content.html" />

<%block name="title">${_("Terms and conditions")}</%block>
<%namespace name="breadcrumbs" file="/funsite/parts/breadcrumbs.html"/>

<%block name="page_content">

    ${breadcrumbs.breadcrumbs(_("Terms and conditions"))}

<section>
<div class='hidden-320 hidden-768 cartouche_overlay'>
	${_("In this page")}
	<ul>
		<li>
			<a class=anchor href=#honor>${_("Usage policy")}</a>
		</li>
		<li>
			<a class=anchor href=#tos>${_("Terms of use")}</a>
		</li>
		<li>
			<a class=anchor href=#privacy>${_("Privacy policy")}</a>
		</li>
		<li>
			<a class=anchor href=#legal>${_("Terms and conditions")}</a>
		</li>
	</ul>
</div>


${ TermsAndConditions.get_latest().text |n } 
	



<p><em>${ TermsAndConditions.get_latest().datetime} </em></p>


</section>


</%block>
