## mako
<%! from django.core.urlresolvers import reverse %>
<%inherit file="../parts/base.html" />


<%block name="title">Mentions légales</%block>

<section class="static-container tos">
  <h1>Mentions légales</h1>
  <hr class="horizontal-divider">

  <div class="inner-wrapper">
    <h2>Description du site</h2>

    <p>FUN est une plateforme d’hébergement de MOOC (Massive Open Online Courses, en français « cours en ligne ouvert et massif ») mise à disposition des établissements de l’enseignement supérieur français et de leurs partenaires académiques dans le monde entier.</p>

    <p>Tous les cours présents sur FUN sont conçus par des enseignants-chercheurs, enseignants et chercheurs d’établissements d’enseignement supérieur et d’organismes de recherche français et leurs partenaires académiques internationaux.</p>

    <p>Le catalogue des cours disponibles s’enrichira continuellement pour proposer une variété de formations répondant aux besoins de tous les publics.</p>

    <h2>Éditeur du site</h2>

    <p>Ministère de l’Enseignement supérieur et de la Recherche<br />
    1, rue Descartes - 75231 Paris Cedex 05<br />
    Téléphone : 01 55 55 90 01</p>

    <h2>Directeur de la publication</h2>

    <p>Catherine Mongenet<br />
    Chargée de mission France Université Numérique<br />
    Direction générale pour l'enseignement supérieur et l'insertion professionnelle [DGESIP]</p>

    <h2>Hébergement</h2>

    <p>Centre Informatique National de l’Enseignement Supérieur [CINES]<br />
    950, rue de Saint Priest<br />
    34097 Montpellier Cedex 5, France</p>
 
    <h2>Gestionnaire des statistiques</h2>

    <p>Applied Technologies Internet / Xiti<br />
    85, avenue J.F. Kennedy<br />
    33700 Bordeaux-Mérignac</p>

    <h2>Protection et traitement de données à caractère personnel</h2>

    <p>Conformément à l’article 32 de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous bénéficiez d’un droit d’accès, de rectification des données vous concernant (voir la <a href="/privacy">Politique de confidentialité</a>).</p>

    <p>Ce site a fait l’objet d’un avis de la Commission nationale de l’informatique et des libertés (délibération n° 2014-036 du 23 janvier 2014) et d’un arrêté du ministre de l'Éducation Nationale, de l'Enseignement Supérieur et de la Recherche en date du 24 septembre 2014.</p>

    <h2>Crédits</h2>

    <p>La plateforme expérimentale FUN utilise la technologie open-edX.</p>

    <p>Le projet est sous la <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">licence AGPL</a> et est visible à l’adresse suivante : <a href="https://github.com/openfun" target="_blank">https://github.com/openfun</a></p>

    <ul>
      <li>Hébergement : CINES, 950, rue de Saint Priest, 34097 Montpellier Cedex 5, France</p>
      <li>Réseau : RENATER, 23-25 rue Daviel, 75013 PARIS</li>
      <li>Charte graphique : S.Q.L.I. Group, 268, avenue du Président Wilson - 93210 Saint-Denis</li>
    </ul>
 
    <p>Certaines photographies du site sont soumises à un copyright. <a href="/copyrights">Consulter les copyrights</a>.</p>

    <h2>Réalisations vidéo</h2>

    <p>Les contenus (textes, cours, photographies, vidéos, etc.) diffusés sur FUN ne peuvent être utilisés qu’à des fins strictement personnelles.</p>

    <p>Toute reproduction, diffusion et utilisation collective à quelque titre que ce soit, tout usage commercial, ou toute mise à disposition de tiers, en l’état ou modifiés, de contenus, de cours ou d’œuvres intégrées à ceux-ci sont strictement interdits sauf si les conditions d'utilisation des cours en ligne en disposent autrement.</p>

    <p><em>Mise à jour : 11 juin 2015</em></p>

  </div>
</section>
