## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _, get_language
from payment.models import TermsAndConditions, PAYMENT_TERMS
from django.conf import settings
%>
<%inherit file="/funsite/parts/simple-content.html" />

<%block name="title">${_("Terms and conditions")}</%block>
<%namespace name="breadcrumbs" file="/funsite/parts/breadcrumbs.html"/>

<%block name="page_content">

    ${breadcrumbs.breadcrumbs(_("Terms and conditions"))}

<section>

${ TermsAndConditions.get_latest().text |n } 
	



<p><em>${ TermsAndConditions.get_latest().datetime} </em></p>


</section>


</%block>
