## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from django.conf import settings
%>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/funsite/parts/simple-content.html" />

<%block name="title">${_("About FUN")}</%block>
<%namespace name="breadcrumbs" file="/funsite/parts/breadcrumbs.html"/>

<%block name="page_content">
    ${breadcrumbs.breadcrumbs(_("ProctorU"))}
    <section>
      <article class="proctoru">

<h2>Le service d'examen à distance</h2>

<p>
FUN vous propose de passer des examens à distance en vue d'une certification. FUN utilise le service ProctorU, qui vous permet de passer vos examens, certifications et évaluations à l’heure qui vous convient le mieux, tout en assurant une qualité de surveillance équivalente à un examen en présentiel. Vous pouvez passer un examen depuis votre domicile, votre lieu de travail, ou pratiquement n’importe où, à condition d’avoir un ordinateur, une webcam et une connexion Internet.
</p>
<p>
Cet examen va être enregistré et conservé pour une durée de 6 semaines, de manière à ce que la vidéo, pièce d’identité et photo de l’apprenant puissent être consultés en cas de suspicion de fraude. A l’issue de ces 6 semaines, ces 3 documents seront détruits.
</p>
<p>


<h3>S’inscrire pour passer la certification </h3>
<p>

Le service vous permet de passer un examen sur rendez-vous, en choisissant l’horaire qui vous convient le mieux. Pendant l’épreuve, vous serez en contact avec un surveillant qui vous guidera, et pourra vous aider sur les aspects techniques si besoin.
</p>
<p>

Pour toute question, utilisez le chat en ligne sur <a href="https://www.proctoru.com" target="_blank">proctoru.com</a> , ou appelez le 08 00 90 27 92 (France) ou +33  800 902 792 (International).
</p>
<p>

Dans votre cours, vous pourrez prendre rendez-vous pour un examen une fois que vous aurez effectué le paiement en vue d’obtenir un certificat.
</p>
<p>

Lorsque que vous vous inscrivez à un cours certifiant vous pouvez choisir de suivre le parcours simple (bouton bleu « Suivre ce Cours », ou le parcours certifiant « S’inscrire pour passer une certification », avec le tarif indiqué en euros).
</p>

        <br>
        <img class="center-block" src="${static.url('funsite/images/proctoru/image001.png')}">
        <br>

<p>
Vous n’êtes pas obligés de décider tout de suite. Vous pouvez passer ultérieurement au parcours certifiant. Cette option se trouve sur votre tableau de bord dès que le cours devient certifiant !
</p>
<br>
          <img class="center-block" src="${static.url('funsite/images/proctoru/image002.png')}">
<br>
<h3>Tester le matériel et procéder au règlement </h3>

<p>

Lorsque vous cliquez sur le bouton <i>« S’inscrire pour passer une certification »</i>, vous accédez à la page vous permettant de valider les conditions générales de l’examen et de tester au préalable votre matériel.

</p>
    <br>
          <img class="center-block" src="${static.url('funsite/images/proctoru/image003.png')}">
    <br>

<p>


En premier lieu testez votre configuration matérielle en cliquant sur le lien prévu à cet effet. Vous serez redirigé vers la page <a hre="${settings.PROCTORU_URL_TEST}" target="_blank">${settings.PROCTORU_URL_TEST}</a> qui vous permet de vérifier notamment votre bande passante.

</p>
        <br>
          <img class="center-block" src="${static.url('funsite/images/proctoru/image004.png')}">
        <br>

<p>


Si votre configuration est adéquate et que vous souhaitez donc vous inscrire pour passer un examen surveillé, cochez les cases validant les conditions, dont vous aurez pris connaissance au préalable, puis cliquez sur « Payer » pour accéder au service de paiement en ligne.
Le paiement est possible jusqu’à 15 jours ouvrés (environ 3 semaines) avant la date de début du premier examen.

</p>
        <br>
          <img class="center-block" src="${static.url('funsite/images/proctoru/image005.png')}">
        <br>

<p>



Pour toute question relative au paiement, facturation, remboursement, écrivez à l’adresse paiements@fun-mooc.fr.

</p>

<h3>Prendre rendez-vous</h3>

<p>

Lorsque vous êtes inscrit à la certification, vous accédez à une page à l’intérieur de votre cours (une rubrique spécifique dans le plan du cours) qui vous permet de prendre rendez-vous pour votre examen en choisissant une plage horaire au sein de la période d’examen annoncée par l’équipe pédagogique.
</p>
<p>

Vous devez d’abord compléter des informations nécessaires au passage de l’examen.

</p>
    <br>
          <img class="center-block" src="${static.url('funsite/images/proctoru/image006.jpg')}">
<br>
<p>


Vous pouvez alors choisir une plage horaire dans la liste proposée pour cet examen en prenant bien soin de vérifier le fuseau horaire :
</p>
<br>
          <img class="center-block" src="${static.url('funsite/images/proctoru/image007.jpg')}">
<br>
<p>


Il se peut que seulement certains créneaux soient disponibles. Veuillez faire en sorte de choisir un créneau sur lequel vous êtes absolument sûr d’être disponible et dans des conditions propices à l’examen. Attention aucun rendez ne peut être pris moins de 72 heures à l’avance.

</p>
<p>

<h3>Avant l’examen </h3>

<ol>
<li>Testez de nouveau votre équipement sur <a href="${settings.PROCTORU_URL_TEST}"target="_blank">${settings.PROCTORU_URL_TEST}</a> avant de procéder au paiement de votre examen certifiant, pour vous assurer que votre ordinateur est compatible avec le service. Le site fait un diagnostic automatique de votre système, ou vous met en contact avec un assistant en direct, si besoin. Vous trouverez les caractéristiques techniques ci-après.</li>
<li>Assurez-vous que votre connexion Internet est assez rapide et fiable. Si votre connexion WiFi est parfois intermittente, nous vous recommandons de vous connecter par câble réseau à votre box, pour éviter les interruptions pendant l’examen.</li>
<li>Il est fortement recommandé de passer l’examen depuis une pièce fermée à votre domicile. Si vous devez vous connecter depuis votre lieu de travail, assurez-vous que vous vous isolez dans une salle fermée, et que les pare-feu et sécurités informatiques sont compatibles avec le service ProctorU, notamment le logiciel de partage d’écran. En cas de doute, connectez-vous directement à un surveillant ProctorU en utilisant le chat en ligne.</li>
<li>Certains examens autorisent le papier brouillon. Si c’est le cas, ne prenez que le nombre de pages nécessaires, et soyez prêt à les montrer au surveillant.</li>
<li>Préparez une pièce d’identité officielle (par exemple, passeport, carte d’identité ou de séjour, permis de conduire – pour la liste des pièces acceptées, référez-vous au règlement d’examen). Par sécurité, il est fortement recommandé de se munir de deux pièces d'identité.</li>
<li>Préparez un miroir (ou équivalent comme une tablette), pour permettre au surveillant d’inspecter la pièce, les rebords de l’écran et le clavier.</li>
<li>Demandez à vos proches de ne pas vous déranger le jour de l’examen, et d'éviter de surfer sur Internet pendant vos examens afin de vous garantir un débit optimal.</li>
</ol>

</p>

<h3>Caractéristiques techniques</h3>

<p>

A vous de vérifier que votre équipement remplit les conditions suivantes :
</p>
<p>

<ul>
<li>Ordinateur récent et fiable, sous Windows Vista (ou plus) ou bien MacOS X.10.5 (ou plus)</li>
<li>Webcam, dotée d’une résolution au moins égale à 640x480 pixels</li>
<li>Écouteurs ou haut-parleurs connectés à l’ordinateur</li>
<li>Microphone connecté à l’ordinateur, si possible intégré à la webcam</li>
<li>Navigateur web avec Adobe Flash Player (nous vous recommandons Flash Player 21)</li>
<li>Une connexion Internet haut débit, et stable</li>
<li>Les droits de télécharger et exécuter une « applet », ou programme temporaire, qui permettra de partager l’écran et de dialoguer avec l’surveillant, en particulier si vous passez l’examen sur votre lieu de travail et que des restrictions techniques peuvent être en place sur votre poste de travail.</li>
</ul>
</p>
<p>

Nous vous recommandons de passer un diagnostic complet à l’adresse suivante :
<a href="${settings.PROCTORU_URL_TEST}"target="_blank">${settings.PROCTORU_URL_TEST}</a>
</p>


<h3>Le jour de l’examen</h3>

<p>
<ol>
<li>Éteignez et rangez tous les téléphones et tablettes, ainsi que tous objets connectés ; installez-vous seul, dans une pièce fermée et bien éclairée, ne gardez que ce qui est strictement nécessaire sur votre bureau. Assurez-vous que l’éclairage (fenêtre ou lampe) est derrière l’ordinateur pour éviter les contre-jours et effets d’ombre. Le surveillant doit avoir une vue dégagée des abords et de votre visage, avant de vous autoriser à passer l’examen.</li>

<li>Au jour et à l’heure prévus pour l’examen, connectez-vous sur votre cours, à l’endroit où vous avez fait une réservation pour l’examen.</li>
<br>
          <img class="center-block" src="${static.url('funsite/images/proctoru/image008.jpg')}">
<br>

A l’heure de l’examen, l’écran indique que l’examen est disponible. Cliquez sur le bouton « Commencer l’examen » pour rejoindre la salle d’examen virtuelle.<br>
<br>
          <img class="center-block" src="${static.url('funsite/images/proctoru/image009.png')}">
<br>

Cliquez sur « OK » pour confirmer que vous acceptez d’être enregistré.<br>

    <br>
          <img class="center-block" src="${static.url('funsite/images/proctoru/image010.png')}">
    <br>

</li>


<li>Une nouvelle fenêtre de votre navigateur s’ouvre. Cliquez alors sur le bouton « Cliquer pour télécharger ». Il vous permet de télécharger le fichier (« applet ») de partage d’écran. Les instructions sont adaptées à chaque navigateur. Cliquez également sur « Autoriser » dans la fenêtre de vidéo, pour activer le chat vidéo.</li>

    <br>
          <img class="center-block" src="${static.url('funsite/images/proctoru/image011.png')}">
    <br>

<li>Grâce à ce fichier, ProctorU lance une « applet » ou programme temporaire, qui permet au surveillant de voir votre écran, ainsi que les programmes ouverts pendant la session. Cette « applet » est à usage unique et ne peut être réutilisée après la fermeture de la connexion. Pour plus de facilité, fermez toutes applications et fenêtres qui ne sont pas requises pour l’examen.</li>

<li>A ce stade « l’applet » est installé et vous n’avez pas d’action supplémentaire à effectuer sur cette page : le bouton « Authentifier » ne vous concerne pas. Une fenêtre de chat en direct avec le surveillant s’ouvre et vous devrez autoriser le contrôle à distance (fenêtre popup qui peut varier selon votre système d’exploitation et navigateur).</li>

<br>
          <img class="center-block" src="${static.url('funsite/images/proctoru/image012.png')}">
<br>


<li>Une fois connecté, le surveillant procède aux vérifications (prévoir 5 à 20 minutes). Il vous demande d’abord de présenter votre pièce d’identité devant la webcam. Elle doit être entièrement visible, afin que le nom et la photo puissent être clairement vus par le surveillant.
<br><br>
Il vous demande ensuite de faire tourner votre caméra à 360 degrés dans la pièce où vous vous trouvez, afin qu’il puisse observer son environnement. Si la caméra est intégrée à un ordinateur fixe, le candidat utilise une surface réfléchissante comme un miroir. Le candidat doit également montrer au surveillant les bords de son écran en utilisant le miroir. Cette opération permet de s’assurer qu’aucun matériel non-autorisé ne se trouve sur votre écran.
<br><br>
Dès que le surveillant a constaté que l’écran et l’environnement ne contiennent pas de matériel non-autorisé, il vous demande de retirer tout téléphone portable ou appareil électronique de la zone d’examen. Il est strictement interdit d’avoir des communications (verbales, écrites ou téléphoniques) pendant l’examen.
</li>

<li>Les vérifications étant faites, le surveillant vous donne alors accès à l’examen. L’accès à l’examen est protégé par un mot de passe que seul le surveillant connaît. C’est donc à lui de taper ce mot de passe en prenant le contrôle de votre clavier.<br>

<br>
          <img class="center-block" src="${static.url('funsite/images/proctoru/image014.jpg')}">
<br>


Pendant toute la durée de l’examen, vous êtes surveillé grâce à la retransmission vidéo de votre écran et de votre environnement. La technologie de partage d’écran permet au surveillant de voir tout ce qui se passe sur votre ordinateur. Le surveillant observe également votre environnement sonore, afin de s’assurer que vous ne vous faites pas aider par une tierce personne.
<br><br>
En cas de déconnexion ou de problèmes techniques, vous pouvez appeler ProctorU au 08 00 90 27 92 (France) ou +33  800 902 792 (International).

</li>

<li>L’examen est en temps limité. Une fois le mot de passe saisi par le surveillant, lorsque vous êtes prêt, vous pouvez cliquer sur « Commencer l’examen ». Ceci démarrera le décompte vous indiquant le temps restant pour répondre. A vous de surveiller l’heure !<br><br>
Le bouton « Terminer l’examen » servira à terminer l’examen avec l’accord de votre surveillant.</li>

<br>
          <img class="center-block" src="${static.url('funsite/images/proctoru/image015.jpg')}">
<br>

<li>Vous n’avez droit qu’à une seule tentative.<br><br>


N’oubliez pas de sauvegarder fréquemment vos réponses en cliquant sur le bouton « Enregistrer » pour éviter tout problème en cas de perte de connexion ou d’incident technique.<br><br>
Attention, ce bouton « Enregistrer » sauvegarde un brouillon de vos réponses. Pour soumettre vos réponses, cliquez sur le bouton « Vérification finale » lorsque vous avez fini. Attention, cette action est définitive.<br>

<br>
          <img class="center-block" src="${static.url('funsite/images/proctoru/image016.jpg')}">
<br>

</li>

<li>En accord avec votre surveillant, appuyez ensuite sur « Terminer l’examen ». Il est à noter que le fait d’appuyer sur ce bouton verrouillera l’accès à l’examen de manière permanente.
<br><br>
Si le temps est écoulé, l’examen se terminera de lui-même. Attention à bien valider vos réponses avant la fin de l’examen.<br><br>
Vous êtres alors informé que votre examen a été soumis avec succès.  Les résultats seront affichés sur votre tableau de bord apprenant.<br><br>
</li>

          <img class="center-block" src="${static.url('funsite/images/proctoru/image017.png')}">
</ol>

<h3>Des questions ?</h3>

<p>
Utilisez le chat en ligne sur <a href="https://proctoru.com" target="_blank">proctoru.com</a>, ou appelez ProctorU 08 00 90 27 92 (France) ou +33  800 902 792 (International).
</p>



        </article>
    </section>

  </%block>
