## mako
<%!
from django.core.urlresolvers import reverse
from staticfiles.storage import staticfiles_storage
from django.utils.translation import ugettext as _
%>

<%inherit file="/funsite/parts/simple-content.html" />

<%block name="title">${_(u"Welcome to FUN")}</%block>
<%namespace name="breadcrumbs" file="/funsite/parts/breadcrumbs.html"/>
<%block name="page_content">

    ${breadcrumbs.breadcrumbs(_("Welcome to FUN"))}
    <section>
        <h2>${_("Welcome to FUN")}</h2>

        <p>${_("Registering with FUN gives you access to all of our current and future free courses. Not ready to take a course just yet? Registering puts you on our mailing list - we will update you as courses are added.")}</p>


        <p>${_("As part of joining FUN, you will receive an activation email.  You must click on the activation link to complete the process.  Don't see the email?  Check your spam folder and mark FUN emails as 'not spam'.  At FUN, we communicate mostly through email.")}</p>
        <hr>
        <h2>${_("Confidentiality")}</h2>
        <p>
            ${_(u"Collected data are subjected to automatic processing intended to enable user registration, learning activities, evaluations, and certificate delivery.")}<br>
            ${_(u"Data recipients are:")}

            <ul>
                <li>${_(u"Teachers and their teams as well as data controllers representatives in organizations issuing courses.")}</li>
                <li>${_(u"Research teams authorized by the Ministry of higher education, collecting anonymized data."}</li>
            </ul>
        </p>
        <p>
            ${_(u"In accordance with the law «&nbsp;informatique et libertés&nbsp;» (data protection act) of  January 6th, 1978, modified in 2004, you have the right to access and modify information related to you, and might exert this right by contacting:")}

        </p>

        <p>
            <%include file="fun-address.html"/>
        </p>

        <p>
            ${_(u"You hold the right, for any legitimate needs, to oppose the processing of any of your personal data.")}
        </p>
    </section>
</%block>
