/* Override lms forum rich editor buttons */
body.discussion {
    .wmd-spacer1 {
      left: 100px;
    }
    .wmd-spacer2 {
      left: 225px;
    }
    .wmd-spacer3 {
      left: 350px;
    }

    .container .discussion-body {  /* Reply to a comment */
        .wmd-button {
          span {
            background-image: url("../images/wmd-buttons-transparent.png");
          }
        }
    }
    /* Enlarge action button zone in response header to allow french transalation which is wider than english*/
    .discussion-response {
        .response-header-content {
            width: 65%;
        }
        .response-header-actions {
            width: 35%;
        }
    }
    .new-post-body {  /* New comment  */
        .wmd-button > span {
            background-image: url("../images/new-post-icons-full.png");
        }
    }
    .new-post-article {
        .wmd-button > span {
            background-image: url("../images/new-post-icons-full.png");
        }
    }

}

/* course embeded forum topic */
.discussion-module {
    .new-post-body {  /* new comment */
        .wmd-spacer1 {
          left: 100px;
        }
        .wmd-spacer2 {
          left: 225px;
        }
        .wmd-spacer3 {
          left: 350px;
        }
        .wmd-button > span {
            background-image: url("../images/wmd-buttons-transparent.png");
        }
    }
    .wmd-spacer1 {
      left: 100px;
    }
    .wmd-spacer2 {
      left: 225px;
    }
    .wmd-spacer3 {
      left: 350px;
    }
    .wmd-button span { /* reply to a comment */
        background-image: url("../images/wmd-buttons.png");
    }
}

/* forum special users colors */
.user-label-active {
    font-size: 12px;
    vertical-align: middle;
    border-radius: 2px;
    padding: 0;
    background: #98b3ff;
    font-style: normal;
    text-transform: uppercase;
    color: white;

}
.user-label-recommended {
    font-size: 12px;
    vertical-align: middle;
    border-radius: 2px;
    padding: 0;
    background: #618aff;
    font-style: normal;
    text-transform: uppercase;
    color: white;
}
.user-label-official {
    font-size: 12px;
    vertical-align: middle;
    border-radius: 2px;
    padding: 0;
    background: #0747ff;
    font-style: normal;
    text-transform: uppercase;
    color: white;
}
