/***** This file is included both in funsite and edx-platform/lms base templates. *****/

.funsite-footer-width {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.fun-footer {
    background-color: #08223C;
}

.courseware-width {
    padding-left: 15px;
    padding-right: 15px;
}

/* Top footer */

ul.top-footer {
    padding: 15px 0px 15px 0px;
    margin: 0px;
    list-style: none;
    font-weight: bold;
    font-family: 'Raleway';
}

/* Top footer items */

ul.top-footer li {
    font-size: 15px;
}

ul.top-footer li a,
ul.top-footer li a:hover,
ul.top-footer li a:focus,
ul.top-footer li a:visited {
    color: white !important;
    text-decoration: none;
}

/* Bottom footer */

.bottom-footer {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;

    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;

    padding-top: 15px;
    padding-bottom: 15px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #374C61;
}

.bottom-footer a.logo-fun {
    display: inline-block;
}
.bottom-footer a.logo-edx img {
	vertical-align:bottom !important;
}
.bottom-footer ul.fun-footer-icons {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.bottom-footer ul.fun-footer-icons li {
    float: left;
    margin-right: 20px;
}
.bottom-footer .fun-footer-icons li a.logo-social {
    margin-top: 5px;
}

.bottom-footer .fun-footer-icons a {
    display: inline-block;
}

/* Responsiveness */

/* > 1280 top-footer is just one centered block of links. */

.top-footer {
    text-align: center;
    }

.top-footer .left-md-footer,
.top-footer .right-md-footer {
    display: inline-block;
}


.top-footer li {
    display: inline;
    margin-right: 15px;
}

/* < 1280
   top-footer is composed of two columns.
   In the the bottom-footer socials networks logos are on the right side.
*/

@media (max-width: 1279px) {

    .top-footer {
	text-align: left;
    }

    .top-footer .left-md-footer,
    .top-footer .right-md-footer {
	display: inline-block;
	width: 50%;
    }

    .top-footer .right-md-footer {
	vertical-align: top;
    }

    .top-footer li {
	margin-bottom: 25px;
	margin-right: 0px;
	display: block;
    }

    .top-footer li:last-child {
	margin-bottom: 0px;
    }
}

/* < 767
   top-footer is composed of just one column.
*/

@media (max-width: 767px) {
    .top-footer {
	text-align: left;
    }

    .top-footer .left-md-footer,
    .top-footer .right-md-footer {
	display: block;
	width: 100%;
    }

    .top-footer li {
	display: block;
    }

    .top-footer li:last-child {
	margin-bottom: 25px;
    }
    .top-footer .right-md-footer li:last-child {
	margin-bottom: 0px;
    }
}
