
/** Site wide CSS **/

body {
    background-color: #edeeef
}

.main-width {
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    font-family: 'Raleway', sans-serif;
}

.container-fluid.drop-down {
    margin-top: 60px;  /* top-menu's height */
}

#top-menu {
    width: inherit;
    margin: auto;
    background-color: white;
    height: 60px;
}

.light-shadow {
    -webkit-box-shadow: 0 6px 6px -6px #aaa;
       -moz-box-shadow: 0 6px 6px -6px #aaa;
            box-shadow: 0 6px 6px -6px #aaa;
}

.space-40px {
    clear: both;
    height: 40px;
}

.blue-cell {
    display: inline-block;
    background-color: #08223C;
    padding: 4px 8px 2px 8px;
    font-size: 12px;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: 300;
}
.blue-cell.closable {
    padding-left: 18px;
}

.clickable {
    cursor: pointer;
}

.white {
    color: white;
}
.no-padding {
    padding: 0;
}


/* Sandwich menu */

#top-menu img.logo {
    vertical-align: top;
    margin-left: 20px;
    margin-right: 16px
}
#top-menu span.slogan {
    font-size: 17px;
    font-weight: 600;
    color: #3877BC;
    display: inline-block;
}


#top-menu .login {
    color: white;
    background: #F72C30 url('/static/funsite/images/icones/user.png') 14px 14px no-repeat;
    height: 60px;
    width: 170px;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 60px;
}
#top-menu .login>a,#top-menu .login>a:hover,#top-menu .login>a:visited {
    text-decoration: none;
    color: white;
}

#login-overlay {
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
    max-width: 430px;
    min-width: 320px;
    height: 400px;
    background: white;
    display: none;
    top: 60px;
    right: 0;
    z-index: 2000;
}
#login-overlay div.content {
    width: 240px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
#login-overlay div.content .all-items-button {
    margin-top: 10px;
}

#login-overlay div.parts {
    display: table-row;
    text-align: center;
}
#login-overlay h3 {
    color: #0C3D72;
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 8px;
}
#login-overlay .forgotten-password {
    text-align: right !important;
    font-size: 12px;
}
#login-overlay .forgotten-password a {
    color: #CBCCCD;
}
.login-form .error {
    vertical-align: middle;
    height: 22px;
    color: #F72B2F;
    font-size: 12px;
}

.borderme {
    border : solid black 1px;;
}
#login-overlay input {
    width: 234px;
    margin-top: 12px;
    margin-bottom: 5px;
    border: 1px solid #F1F2F3;
    padding: 8px 8px 8px 40px ;
}
#login-overlay input[name="email"] {
    background: url('/static/funsite/images/icones/login-email.png') 8px 8px no-repeat #F1F2F3;

}
#login-overlay input[name="password"] {
    background: url('/static/funsite/images/icones/login-password.png') 8px 8px no-repeat #F1F2F3;
}

#login-overlay input.loginerror {
    border-color: #F72B2F;
}


#sandwich-menu {
    display: inline-block;
    width: 40px;
    height: 36px;
    background: url('/static/funsite/images/icones/sandwich.png') 14px 14px no-repeat;
    cursor: pointer;
}

.close-overlay {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    cursor: pointer;
}
.close-overlay.blue {
    margin-top: 4px;
    color: #0C3D72;
    font-size: 16px;
}

#sandwich-overlay {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: #3D79BE;
    z-index: 2000;
}
#sandwich-overlay ul {
    list-style-type: none;
    margin-top: 7%;
    margin-bottom: 7%;
    text-align: center;
}
#sandwich-overlay li {
    font-size: 2.5em;
    margin-bottom: 0.8em;
}
#sandwich-overlay li a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: -1px 1px 8px #57A1E7, 1px -1px 8px #57A1E7; /* light blue glow */

}
#sandwich-overlay li a.selected {
    border: 1px solid white;
    padding: 16px;
}
#sandwich-overlay li a {
    color: white;
}



/* Page footer */
.fun-footer {
    background-color: #08223C;
}

ul.footer-links {
    list-style-type: none;
    font-weight: 500;
    background-color: #08223C;
    float: left;
    margin-bottom: 0;
    padding-left: 16px;
}
ul.footer-links li {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    line-height: 40px;
}
ul.footer-links li a {
    color: white;
}
ul.footer-links.right {
    padding-left: 16px;
}
.fun-footer .bottom-footer {
    margin: 20px 20px 0 20px;
    padding: 20px 0 20px 0;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #374C61;
}
.fun-footer .bottom-footer div.left {
    padding-left: 0;
}
.fun-footer .bottom-footer div.right {
    text-align: right;
    padding-right: 0;
}


/* Big title */
.big-title h1, h1.big-title {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: #2B2B2B;
}

.big-title h2, h2.big-title {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: #2B2B2B;
}

.line {
}
.line span {
    display: inline-block;
    width: 136px;
    height: 5px;
    border-bottom: 1px solid #C0C1C2;
    margin-bottom: 20px;
}

/* big button */
.all-items-button {
    background-color: white;
    border: 1px solid #3877BC;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #3877BC;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
    width: 232px;
}
.all-items-button a:hover {
    text-decoration: none;
    color: #3877BC;   /* TODO: find out if we have a rollover effect */
}
.all-items-button.blue {
    color: white;
    background-color: #3877BC;
}
.all-items-button.blue a {
    text-decoration: none;
    color: white;
}
.all-items-button.transparent {
    background-color: transparent;
}

.social-networks span {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-top: 30px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 30px;
    background: url('/static/funsite/images/icones/social-networks.png') 0px 0px no-repeat;
}
.social-networks span:hover {
    background: url('/static/funsite/images/icones/social-networks-hover.png') 0px 0px no-repeat;
}
.social-networks span.facebook {
}
.social-networks span.twitter {
    background-position: -44px 0;
}
.social-networks span.email {
    background-position: -88px 0;
}


/* Responsive */
@media (min-width: 1900px) {
    .main-width {
        width: 1900px;
    }

    .hidden-1900 {
        display: none !important;
    }
    .visible-1900 {
        display: block !important;
    }

    .criteria-overlay ul {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }

    ul.primary-highlight li {
        margin-left: 47px;
        margin-right: 47px;
    }

    ul.secondary-highlight li {
        margin-left: 16px;
        margin-right: 16px;
    }
    .no-gutter-right-1900 {
        padding-right: 0 !important;
    }

    div.page-image {
        width: 1900px;
        height: 450px;
    }
    div.page-image.home-page {
        background-image: url('/static/funsite/images/homepage1900_draft.png');
    }

    div.page-image.courses-page {
        background-image: url('/static/funsite/images/homepage1900_draft.png');
    }

    div.page-image.home-page h1 {
        padding-top: 200px;
        font-size: 50px;
        margin-bottom: 70px;
    }
    .main-content .right {
        width: 730px;
    }

    .course-list .list ul li {
        margin-right: 39px;
    }

    .course-about .right .register-course-button {
        height: 68px;
        padding-top: 20px;
        cursor: pointer;
    }
    .course-about .right .course-image img {
        width: 730px;
        height: 412px;
    }
}



@media (max-width: 1900px) {
    .main-width {
        width: 1280px;
    }
    .hidden-1280 {
        display: none !important;
    }
    .visible-1280 {
        display: block !important;
    }


    .criteria-overlay ul {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;

    }
    ul.primary-highlight li {
        margin-left: 16px;
        margin-right: 16px;
    }

    ul.secondary-highlight li {
        margin-left: 18px;
        margin-right: 18px;
    }

    div.page-image {
        width: 1280px;
        height: 360px;
    }

    div.page-image.home-page {
        background-image: url('/static/funsite/images/homepage1280_draft.png')
    }
    div.page-image.courses-page {
        background-image: url('/static/funsite/images/homepage1280_draft.png')
    }

    div.page-image.home-page h1 {
        padding-top: 140px;
        font-size: 44px;
        margin-bottom: 50px;
    }
    div.page-image.home-page img.logo-fun {
        width: 195px;
        height: 180px;
    }
    .main-content .right {
        width: 354px;
    }

    .course-list .list ul li {
        margin-right: 39px;
    }

    .course-about .right .register-course-button {
        height: 58px;
        padding-top: 14px;
    }
    .course-about .left .course-image img {
        width: 730px;
        height: 412px;
    }

}
@media (max-width: 1279px) {
    .main-width {
        width: 960px;
    }

    .criteria-overlay ul {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    .hidden-960 {
        display: none !important;
    }
    .visible-960 {
        display: block !important;
    }
    .footer-links {
        width: 50%;
    }
    .footer-links li {
        width: 100%;
    }
    .footer-links.right {
        padding-left: 16px;
    }
    div.page-image {
        width: 960px;
        height: 320px;
    }
    div.page-image.home-page {
        background-image: url('/static/funsite/images/homepage960_draft.png')
    }
    div.page-image.courses-page {
        background-image: url('/static/funsite/images/homepage960_draft.png')
    }
    div.page-image.home-page h1 {
        padding-top: 140px;
        font-size: 40px;
        margin-bottom: 36px;
    }
    div.page-image.home-page img.logo-fun {
        width: 156px;
        height: 144px;
    }

    .course-list .list ul li {
        margin-right: 28px;
    }


}

@media (max-width: 959px) {
    .main-width {
        width: 768px;
    }
    .slogan {
        display: none;
    }
    .hidden-768 {
        display: none !important;
    }
    .visible-768 {
        display: block !important;
    }

    div.page-image.home-page {
        background-image: url('/static/funsite/images/homepage768_draft.png')
    }
    div.page-image.courses-page {
        background-image: url('/static/funsite/images/homepage768_draft.png')
    }
    div.page-image.home-page h1 {
        padding-top: 110px;
        font-size: 36px;
        margin-bottom: 28px;
    }
    div.page-image.home-page img.logo-fun {
        width: 137px;
        height: 126px;
    }
    .course-list .list ul li {
        margin-left: 55px;
    }
    #top-menu span.slogan {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .main-width {
        width: 320px;
    }
    .slogan {
        display: none;
    }

    .hidden-320 {
        display: none !important;
    }
    .visible-320 {
        display: block !important;
    }

    .footer-links {
        width: 100%;
    }
    div.page-image {
        width: 320px;
        height: 260px;
    }
    div.page-image.home-page {
        background-image: url('/static/funsite/images/homepage320_draft.png')
    }
    div.page-image.courses-page {
        background-image: url('/static/funsite/images/homepage320_draft.png')
    }

    div.page-image.home-page h1 {
        padding-top: 110px;
        font-size: 30px;
        margin-bottom: 20px;
    }
    div.page-image.home-page img.logo-fun {
        width: 98px;
        height: 90px;
    }

    #top-menu .login {
        width: 60px;
    }
    #top-menu .login>span {
        display: none;
    }
    #top-menu span.slogan {
        display: none;
    }
}

div.page-image.home-page {
    margin-bottom: 60px;
    text-align: center;
}

div.page-image.home-page h1 {
    margin-top: 0;
    font-weight: 500;
    color: white;
}

div.page-image.home-page img.logo-fun {
    display: inline-block;
}


/* Courses */
ul.primary-highlight {
    list-style-type: none;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

ul.secondary-highlight {
    list-style-type: none;
    margin: 0 auto;
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;


}
ul.primary-highlight li {
    float: left;
    display: inline-block;

}

ul.secondary-highlight li {
    float: left;
    display: inline-block;

}

/* Small course block */

.course-block div.type.empty {
    background-color: transparent;
}

.small-course {
    width: 270px;
    height: 340px;
    background-color: white;
    margin-bottom: 30px;
}

.small-course div.top {
    text-align: center;
    height: 172px;
}
.small-course img.main {
    position: relative;
    top: -32px;
    margin: 0px;
    width: 270px;
    height: 152px;
    margin-bottom: 20px;
}
.small-course div.type {
    position: relative;
    top: 128px;
    left: 60px;
    background-color: #CBCCCD;
    color: #08223B;
    width: 150px;
    height: 32px;
    padding-top: 8px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    z-index: 10;
    text-transform: uppercase;
}

.small-course div.middle {
    text-align: center;
    height: 120px;
}

.small-course div.bottom {
}

.small-course div.title {
    position relative
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #08223B;
    margin-bottom: 8px;
}
.small-course div.universities {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #656667;
}
.small-course div.footer {
    margin-left: 0;
    position: relative;
    width: 270px;
    border-top: 1px solid #CBCCCD;
}
.small-course div.footer .date {
    padding-left: 46px;
    padding-top: 4px;
    background: url('/static/funsite/images/icones/calendar.png') 10px 8px no-repeat;
    font-weith: 500;
    color: #656667;
}
.small-course div.footer .register {
    padding-top: 12px;
    background-color: #3877BC;
    color: white;
    text-align: center;
    font-size: 14px;
    height: 47px;
    font-weight: 600;
}


/* Big course block */

.big-course {
    width: 370px;
    height: 386px;
    background-color: white;
    margin-bottom: 36px;
}

.big-course div.top {
    text-align: center;
    height: 232px;
}
.big-course img.main {
    margin: 16px 16px 20px 16px;
    position: relative;
    top: -40px;
    width: 338px;
    height: 192px;
}
.big-course div.type {
    position: relative;
    top: 184px;
    left: 100px;
    background-color: #CBCCCD;
    color: #08223B;
    width: 170px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    z-index: 10;
    text-transform: uppercase;
}

.big-course div.middle {
    text-align: center;
    height: 99px;
}

.big-course div.bottom {
}

.big-course div.title {
    position relative
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #08223B;
    margin-bottom: 8px;
}
.big-course div.universities {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #656667;
}
.big-course div.footer {
    margin-left: 0;
    position: relative;
    width: 370px;
    border-top: 1px solid #CBCCCD;
}
.big-course div.footer .date {
    padding-left: 48px;
    padding-top: 16px;
    background: url('/static/funsite/images/icones/calendar.png') 12px 14px no-repeat;
    font-weight: 600;
    color: #656667;
    line-height: 24px;
}
.big-course div.footer .register {
    padding-top: 16px;
    background-color: #3877BC;
    color: white;
    text-align: center;
    font-size: 16px;
    height: 54px;
    font-weight: 600;
}


.simple-content-page {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
    padding: 40px;
}

.university-page .university {
}
.university-page .university h1 {
    text-align: center;
}
.university-page .university .description {

}
.university-page .courses {

}


/** Page specific CSS **/


/* FUN home page funsite/index.html */
.universities {
    background-color: white;
}

/* special modifier for universities page */
.universities-page .introduction {
    padding-left: 20px;
    padding-right: 20px;
}

ul.universities-list {
    list-style-type: none;
}
.universities-page .universities-list li {
    margin: 12px;
}

.universities-list li {
    float: left;
    margin: 4px;
}
.universities-list .university-logo {
    border: 1px solid #E6E6E6;
}
.university-logo {
    width: 185px;
    height: 105px;
    position: relative;
}
.university-logo img {
    /*verticaly centered in parent div */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.fun-news {
    background-color: #2B2B2B;

}
.fun-news .primary {
    margin-left: auto;
    margin-right: auto;
    width: 575px;
    height: 335px;
    border: 1px solid white;
    margin-bottom: 30px;
}
.fun-news .secondary {
    margin-left: auto;
    margin-right: auto;
    width: 575px;
    height: 152px;
    border: 1px solid white;
    margin-bottom: 30px;
}

.fun-themes .item h3 {
    position: absolute;
    top: 100px;
    z-index: 100;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}
.fun-themes .item a:hover,
.fun-themes .item a:visited {
    text-decoration: none;
    color: white;
}



/* Courses filtering and searching courses/index.html */

.course-list {
    position: relative;

}
.course-list .list {
    margin-left: 38px;
}
.course-list .list ul {
    list-style-type: none;
    margin: 0 auto;
    display: inline-block;
    padding-left: 0;
}
.course-list .list ul li {
    float: left;
    display: inline-block;
}

.filters {
    background-color: #08223C;
    width: 325px;
    padding-left: 48px;
    overflow: visible;
}
/*
.filters.affix {
    position: fixed;
    top: 0px;
}
.filters.affix-top {
    position: static;
}
.filters.affix-bottom {
    position: absolute;
}
*/
.criteria-overlay {
    border-left: 1px solid #B6BDC5;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    display: none;
    position: absolute;
    background-color: #08223C;
    z-index: 20;
}
.criteria-block.criteria-overlay h2 {
    color: white;
    font-weight: 400;
    font-size: 24px;
    padding-left: 6px;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-bottom: 8px;
    width: 100%;
    border: none;
}
.criteria-block-bottom {
    background-color: red;
    rop
}
.criteria-overlay ul {
}
.criteria-overlay ul li {
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.filters div.title {
    color: #3976BC;
    font-size: 32px;
    font-weight: 200;
}
.criteria-block h2 {
    color: white;
    font-weight: 400;
    font-size: 20px;
    padding-left: 6px;
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 8px;
    border-bottom-color: #aaa;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 232px;
}

.criteria-block ul.criteria {
    list-style-type: none;
    padding-left: 0;
}

.criteria-block ul.criteria li {
    font-size: 14px;
    color: #ccc;
    padding-left: 6px;
    border-bottom-color: #aaa;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 232px;
    cursor: pointer;
}
.criteria-overlay  ul.criteria li {
    width: auto;
}

.criteria-block ul.criteria li .badge {
    font-size: 11px;
    background-color: #F32A2E;
    border-radius: 10px;
    /* line-height: 20px;
    border-radius: 20px; */
    font-weight: 200;
}
.filters .all-items-button {
    margin-top: 6px;
}
.criteria li.icon {
    padding-left: 36px !important;
    height: 36px;
}
.criteria li.icon.french-flag {
    background: url('/static/funsite/images/icones/french-flag.png') 6px 2px no-repeat;
}
.criteria li.icon.english-flag {
    background: url('/static/funsite/images/icones/english-flag.png') 6px 2px no-repeat;
}
.criteria li.icon.german-flag {
    background: url('/static/funsite/images/icones/german-flag.png') 6px 2px no-repeat;
}
.criteria li.icon.spanish-flag {
    background: url('/static/funsite/images/icones/spanish-flag.png') 6px 2px no-repeat;
}

.criteria li.filter-checkbox {
    padding-left: 36px !important;
    height: 36px;
    background: url('/static/funsite/images/icones/filter-checkbox.png') 6px 2px no-repeat;

}
.criteria li.filter-checkbox.checked {
    background: url('/static/funsite/images/icones/filter-checkbox-checked.png') 6px 2px no-repeat;
    }


.result-navigation {
    border: 1px solid #CBCCCD;
    margin: 0 38px 24px 38px;
    padding: 16px;
}

.result-navigation.hide-search-filter .search-filter{
    display: none;
}

.result-navigation h3 {
    margin: 0 16px;
    display: inline-block;
    color: #3877BC;
    font-size: 14px;
    font-weight: 600;
}


/* login page */

        .login-row {
          margin-top : 20px;
          background-color: white;
          padding : 20px 25px;
          margin-bottom: 20px;
        }

        .login-row h4 {
          text-align : center;
          color : #004170;
          margin-bottom: 20px;
        }

        .login-row label {
          font-weight: 300;
        }

        .login-row button {
          width : 270px;
          margin-left : auto;
          margin-right : auto;
          display : block;
        }
        @media (min-width: 768px) {
        .login-row {
          width: 610px;
          margin-left : auto;
          margin-right : auto;
        }
        .login-row button {
           width : 560px;
         }
        }


/* Register page */
    .global-row {
        text-align : center;
        background-color: white;
        margin-top : 40px;
        padding-top: 10px;
        margin-bottom: 40px;
     }

   .register-row {
       display:inline-block;
       vertical-align : top;
       text-align : left;
       padding-left: 20px;
       padding-right: 20px;
       margin-left : auto;
       margin-right : auto
       padding : 20px 10px 25px 10px;
       background-color: white;
     }

   .tos-row {
       display:inline-block;
       text-align : left;
       margin-left : auto;
       padding-left: 20px;
       padding-right: 20px;

       margin-right : auto
       padding : 20px 25px;
       background-color: #08223C;
       color: white;
     }

     .register-row #field-yob, .register-row #field-gender {
         display: inline-block;
     }

    .register-row button {
        margin-left : auto;
        margin-right : auto;
        display : block;
     }

     #field-field-tos input {
         vertical-align : top;
     }

    .global-row h4.register-title {
        color : #004170;
        margin-bottom: 20px;
        padding-left : 20px;
        padding-right : 20px;
     }

   .register-row .form-inline {
      margin-bottom: 15px;
     }

   .submission-error {
         padding : 20px 25px;
         margin-left : auto;
         margin-right : auto;
         margin-top : 20px;
         display: none;
     }

    label.required:after {
        content:" *";
        color:red;
     }

     @media (max-width: 767px) {
         .register-row button {
             width : 280px;
         }
         .register-row #field-yob, .register-row #field-gender {
             display:block;
         }
         #field-field-tos label {
             width: 240px;
         }
     }

     @media (min-width: 768px) {
         .register-row, .submission-error {
             width: 512px;
         }
         .tos-row {
             width: 250px;
         }
         #field-field-tos lapbel {
             width: 240px;
         }
         .register-row button {
             width : 270px;
         }

         .register-row #field-yob, .register-row #field-gender {
             width : 230px;
         }
         #field-field-tos label {
             width: 360px;
         }
     }
     @media (min-width: 960px) {
         .register-row, .submission-error {
             width: 640px;
         }
         .tos-row {
             width: 314px;
        }
         .register-row button {
             width : 600px;
         }

         .register-row #field-yob, .register-row #field-gender {
             width : 298px;
         }
     }
     @media (min-width: 1280px) {
         .register-row, .submission-error {
             width: 840px;
         }
         .tos-row {
             width: 416px;
        }
         .register-row button {
             width : 800px;
         }

         .register-row #field-yob, .register-row #field-gender {
             width : 398px;
         }
     }



/* static content pages */
.simple-content {
    background-color: #EDEEEF;
    padding-top: 60px;
}
.typographic-content {
    padding-top: 24px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
    margin-left: 60px;
    background-color: white;
}
.small-blue-column {
    background-color: #08223C;
    color: white;
    padding: 24px 8px 24px 8px;
    margin-right: 60px;
}

.no-gutter-right {
    padding-right: 0 !important;
}
.no-gutter-left {
    padding-left: 0 !important;
}

/* Course about */
.main-content {
    background-color: #EDEEEF;
    padding-top: 60px;
}

.main-content .left {
    padding-top: 24px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
    margin-left: 60px;
    background-color: white;
}

.main-content .right {
    background-color: white;
    color: white;
    padding: 24px 8px 24px 8px;
    margin-right: 60px;
    padding: 0;
}


.course-about .right .university-logo {
    height: 180px;
    width: 100%;
    text-align: center;
    border-left: 1px solid #E6E7E8;
}
.course-about .right .university-logo img {
    margin: auto;
    height: 120px;
}

.course-about .right .course-image {
    text-align: center;
}

.course-about .right .register-course-button {
    background-color: #3877BC;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.course-about .right .register-course-button span {
    top: 25%;
    left: 45%;
    padding-top: 4px;
    padding-left: 30px;
    background: url('/static/funsite/images/icones/register.png') 0px 0px no-repeat;
}
.course-about .right .register-course-button:hover {
    background-color: #F72D30;
}
.course-about .right .register-course-button:hover>span {
    background: url('/static/funsite/images/icones/register-hover.png') 0px 0px no-repeat;
}

.course-about .right .blue-zone {
    background-color: #08223C;
}

.course-about .right .social-networks {
    text-align: center;
}

.course-about .course-image {
    position: relative;
}
.course-about .course-image .video-button {
    position: absolute;
    width: 100%;
    height: 128px;
    background-image: url('/static/funsite/images/icones/video-play-button.png');
    background-position: center;
    top: 40%;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.course-about .course-image .video-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#video-modal .modal-dialog {
    width: 60%;
}
#video-modal .modal-content {
    background-color: #4F4F4F;
    padding: 14px;
}
#video-modal .inner-wrapper {
    border: 1px solid black;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
#video-modal iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.course-about .right .course-info {
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    width: 252px;
    border-top: 1px solid #9BA4AB;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.course-about .right .course-info.exclamation {
    background: url('/static/funsite/images/icones/exclamation-red.png') 0px 20px no-repeat;
}
.course-about .right .course-info.calendar {
    background: url('/static/funsite/images/icones/calendar-red.png') 0px 20px no-repeat;
}
.course-about .right .course-info.clock{
    background: url('/static/funsite/images/icones/clock-red.png') 0px 20px no-repeat;
}
.course-about .right .course-info.diploma {
    background: url('/static/funsite/images/icones/diploma-red.png') 0px 20px no-repeat;
}
.course-about .right .course-info.accessibility {
    background: url('/static/funsite/images/icones/accessibility-red.png') 0px 20px no-repeat;
}
.course-about .right .course-info.buble {
    background: url('/static/funsite/images/icones/bubble-red.png') 0px 20px no-repeat;
}
.course-about .right .course-info.letter {
    background: url('/static/funsite/images/icones/letter-red.png') 0px 20px no-repeat;
}

.course-about .left .subjects {
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.course-about .right .course-info ul {
    list-style: none;
    padding-left: 0;
}
.course-about .subjects ul {
    list-style: none;
    padding-left: 0;
}
.course-about .subjects ul li:first-child {
    padding-top: 3px;
    margin-right: 20px;
    font-size: 14px

}
.course-about .subjects ul li {
    float: left;
}


.course-about .description h1 {
    font-weight: 600;
    font-size: 28px;
}
.course-about .description h2 {
    font-weight: 600;
    font-size: 28px;
}
.course-about .description h3 {
    font-weight: 400;
    font-size: 20px;
}
.course-about .description p {
    font-weight: 600;
    font-size: 28px;
}

.course-about .description p {
    font-size: 15px;
}
.course-about .description section.about {
}
.course-about .description section.prerequisites {
}

.course-about .description section.course-staff {
    background-color: #EDEEEF;
    padding: 20px 30px 20px 30px;
    display: block;
}
    .course-about .description section.course-staff article.teacher {
        width: 100%;
        display: inline-block;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .course-about .description section.course-staff article.teacher h3 {
        text-transform: uppercase;
        color: #4381C4;
        font-size: 18px;
    }
    .course-about .description section.course-staff article.teacher div.teacher-image {

    }
    .course-about .description section.course-staff article.teacher div.teacher-image>img {
        width: 120px;
        height: 120px;
        margin-right: 20px;
    }
    .course-about .description section.course-staff article.teacher div.partner-image>img {
        width: 120px;
        height: 120px;
        margin-right: 20px;
    }

.course-about .description section.faq {
    margin-top: 40px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #EFF0F1;
    margin-bottom: 20px;

}
    .course-about .description section.faq article h3 {
        font-size: 18px;
        font-weight: 600;
    }
    .course-about .description section.faq article p {
        margin-left: 20px;
        font-size: 14px;
        font-weight: 400;
    }


.course-about .description section.plan {
    background-color: #3877BC;
    color: white;
    padding: 40px 70px 40px 70px;
    margin-left: -70px;
    margin-right: -70px;
}
    .course-about .description section.plan h2 {
        color: black;
        margin-top: 20px;
        margin-bottom: 40px;
    }


.course-about .description section.social-networks {
    border-bottom: 1px solid #CBCCCD;
    width: 80%;
    margin-top: 30px;
    padding-bottom: 8px;
    margin-bottom: 30px;
}
    .course-about .description section.social-networks h3 {
        border-bottom: 1px solid #CBCCCD;
        font-size: 16px;
        padding-bottom: 12px;
        margin-bottom: 18px

    }
    .course-about .description section.social-networks div {
        margin: 8px 0 8px 0;
    }
    .course-about .description section.social-networks div a {
        color: #F83336;
        text-decoration: none;
    }
    .course-about .description section.social-networks div.facebook {
        padding-left: 34px;
        background: url('/static/funsite/images/icones/small-facebook.png') 0px 0px no-repeat;
    }
    .course-about .description section.social-networks div.twitter {
        padding-left: 34px;
        background: url('/static/funsite/images/icones/small-twitter.png') 0px 0px no-repeat;
    }


.course-about .description section.licence {
}
    .course-about .description section.licence article {
        margin-bottom: 26px;
    }
    .course-about .description section.licence article.cc-by-nc {
        background: url('/static/funsite/images/icones/by-nc.eu.png') 0px 0px no-repeat;
        background-position: bottom left;
        padding-bottom: 40px;
    }
    .course-about .description section.licence article.cc-by-nc-sa {
        background: url('/static/funsite/images/icones/by-nc-sa.eu.png') 0px 0px no-repeat;
        background-position: bottom left;
        padding-bottom: 40px;
    }
    .course-about .description section.licence article.cc-by-nc-nd {
        background: url('/static/funsite/images/icones/by-nc-nd.eu.png') 0px 0px no-repeat;
        background-position: bottom left;
        padding-bottom: 40px;
    }

    .course-about .description section.licence h2 {
        font-size: 24px;
        font-weight: 600;
    }
    .course-about .description section.licence h3 {
        font-size: 18px;
        color: #3877BB;
    }
    .course-about .description section.licence h4 {
        font-size: 16px;
        margin-left: 20px;
    }
    .course-about .description section.licence p {
        font-weight: 300;
        margin-left: 20px;
    }
/* FAQ */

ul.faq-categories > li {
    list-style-type: none;
}
ul.faq-sections > li {
    list-style-type: none;
}
ul.faq-articles > li {
    list-style-type: disc;
    line-height: 24px;
}

.fun-faq h1 {
    text-align: left;
    font-size: 28px;
    color: #555;
    text-transform: uppercase;
    line-height: 20px;
    margin-top: 32px;
}

.fun-faq h2 {
    font-size: 22px;
    color: #888;
    line-height: 18px;
    margin-top: 26px;
}

.fun-faq a.article {
    color: black;
}

.faq-last-update {
    text-align: right
}
.faq-last-update label {
    font-size: 12px;
    color: #888;
}
.faq-last-update span {
    font-size: 12px;
    color: #666;
}

ul.faq-breadcrumb li {
    list-style-type: none;
    float: left;
    font-size: 14px;
}

div.article {
    margin-top: 44px;
    clear: both;
}


/* Courseware header customization */

header.global {
    padding-top: 0 !important;
    height: 60px;
    border-bottom-color: #CBCCCD;
}
header.global nav {
    padding-top: 0 !important;
}

header.global .user {
    margin-top: 0 !important;
    padding-left: 36px;
    background: #F72C30 url('/static/funsite/images/icones/user.png') 14px 14px no-repeat;
    color: white;
    height: 60px;
    min-width: 170px;
}
header.global .user>.primary {
    margin-top: 14px;
}
header.global .primary>a {
    color: white;
    text-shadow: none;
    font-weight: 400 !important;
}
header.global .user a.user-link, header.global .user a.dropdown {
    border: none;
    box-shadow: none;
}
header.global .user a.user-link i.icon.fa-home {
    display: none;
}
header.global h1.logo img {
    height: 36px;
    margin-top: 10px;
}
header.global .nav-global {
    margin-top: 18px;
}

/* Slim header */
header.global.slim .user {
    height: 50px;
}
header.global.slim .user>.primary {
    margin-top: 10px;
}

header.global .primary>a:hover, header.global .primary>a:focus, header.global .primary>a:active {
    background: none;
}
header.global .user .dropdown-menu {
    left: -130px;
    min-width: 200px;
}

header.global.slim h1.logo img {
    height: 36px !important;
    margin-top: 5px !important;
}

header.global.slim h1.logo:before {
    background: none !important;
}
header.global.slim h2 {
    padding-top: 9px !important;
}


.course-list-table {
    display: table;
}

.course-list-table .left {
    display: table-cell;
    vertical-align: top;
    width: 325px;
}

.course-list-table .right {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}