/***** This file is included both in funsite and edx-platform/lms base templates. *****/

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway-Light'), url(../fonts/Raleway-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway-Regular'), url(../fonts/Raleway-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway-SemiBold'), url(../fonts/Raleway-SemiBold.ttf) format('truetype');
}

/***** HEADER *****/

#top-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1030; /*z-index used by boostrap for fix headers*/
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

.slogan, .username {
    font-family: 'Raleway', sans-serif;
}

/* Left header */

#top-menu .left-nav {
    float : left;
}
#top-menu .left-nav a {
    text-decoration: none;
}

#top-menu .left-nav #sandwich-menu {
    float: left;
    width: 40px;
    height: 36px;
    background: url('../images/icones/sandwich.png') 14px 14px no-repeat;
    cursor: pointer;
}

#top-menu .left-nav img.logo {
    margin-left: 20px;
}

#top-menu .left-nav span.slogan {
    font-size: 17px;
    font-weight: 600;
    color: #3877BC;
}


/* Right header */

#top-menu .right-nav {
    float: right;
    cursor: pointer;
    height: 100%;
    line-height: 22.4px;
    background: #F72C30;
}

#top-menu .right-nav .signup-link {
    padding-right: 20px;
    color: #3877BC;
    background: white;
}

@media (min-width: 767px) {
    #top-menu .right-nav .toggle-dropdown-menu,
    #top-menu .right-nav .login-link {
        padding-right: 40px;
    }
}

#top-menu .right-nav .login-link {
    background: #F72C30;
}
#top-menu .right-nav .login-link img {
    margin-top: -10px;
    margin-right: 5px;
}

#top-menu .right-nav a.nav-link-block {
    display: inline-block;
    height: 60px;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    text-decoration: none;
}

#top-menu .right-nav a.dashboard-user-link {
    padding-left: 15px;
}

#top-menu .right-nav a.dashboard-user-link .user-icon {
    width: 30px;
    height: 25px;
}
#top-menu .right-nav a.dashboard-user-link .username {
    padding-left: 5px;
}
#top-menu .right-nav a.toggle-dropdown-menu {
    padding-left : 5px;
}

#top-menu .right-nav a.signup-link span {
    color: #F72C30;
}

#top-menu .right-nav a.signup-link,
#top-menu .right-nav a.login-link {
    font-weight: bold;
    padding-left : 10px;
}

#top-menu .right-nav a.dashboard-user-link .username,
#top-menu .right-nav a.toggle-dropdown-menu span.vertical-arrow,
#top-menu .right-nav a.login-link span {
    color: white;
}


/* Dropdown menu */

#top-menu .fun-dropdown-menu {
    min-width: 200px;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #c8c8c8;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
    list-style: none;
    list-style-image: none;
    border-radius: 4px;
    position: absolute;
    right: 0px;
    top: 60px
    z-index: 3;
    display: none;
}

#top-menu .fun-dropdown-menu:before {
    /* Arrow on the top of the dropdown menu */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    display: block;
    width: 12px;
    height: 12px;

    position: absolute;
    right: 6px;
    top: -7px;

    background: #fcfcfc;
    border: 1px solid #646464;
    border-bottom-color: transparent;
    border-left-color: transparent;
    content: '';
}

#top-menu .fun-dropdown-menu li {
    border-bottom: 1px dotted #c8c8c8;
}

#top-menu .fun-dropdown-menu li:last-child {
    border-bottom: none;
}

#top-menu .fun-dropdown-menu li>a {
    display: block;
    padding: 3px 5px 4px;
    margin: 5px 0px;
    font-size: 15px;
}

#top-menu .fun-dropdown-menu li>a:hover {
    color: #3c3c3c;
    text-decoration: none;
}

/* Header responsiveness:
 < 767px slogan, 'login' text and username disappear.
*/

@media (max-width: 767px) {
    #top-menu .left-nav span.slogan {
	    display: none;
    }

    #top-menu .right-nav .dashboard-user-link span.username,
    #top-menu .right-nav .nav-link-block.signup-link,
    #top-menu .right-nav .nav-link-block.login-link span {
	    display: none;
    }
}

/** SANDWICH MENU **/

#sandwich-overlay {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(61, 121, 190, 0.95);
    font-family: 'Raleway', sans-serif;
    z-index: 2000;
}

#sandwich-overlay ul {
    list-style-type: none;
    margin: 7% 0 7% 0;
    padding: 0;
    text-align: center;
}

#sandwich-overlay li {
    font-size: 2.5em;
    margin-bottom: 0.8em;
}

#sandwich-overlay li a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: -1px 1px 8px #57A1E7, 1px -1px 8px #57A1E7; /* light blue glow */

}

#sandwich-overlay li a.selected {
    border: 1px solid white;
    padding: 16px;
}

#sandwich-overlay li a {
    color: white;
    text-decoration: none;
}

.close-overlay {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.close-overlay.blue {
    margin-top: 4px;
    color: #0C3D72;
    font-size: 16px;
}

/* Main content positioning in courseware */
.content-wrapper {
    margin: 60px auto;
}

/** EXTRA **/

.light-shadow {
    -webkit-box-shadow: 0 6px 6px -6px #aaa;
       -moz-box-shadow: 0 6px 6px -6px #aaa;
            box-shadow: 0 6px 6px -6px #aaa;
}
