/***** This file is included both in funsite and edx-platform/lms base templates. *****/

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway-Light'), url(../fonts/Raleway-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway-Regular'), url(../fonts/Raleway-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway-SemiBold'), url(../fonts/Raleway-SemiBold.ttf) format('truetype');
}

/********************************* HEADER *************************************/

#top-menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 3030; /*z-index used by boostrap for fix headers*/
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

.slogan, .username {
    font-family: 'Raleway', sans-serif;
}

/********** Left header **********/

#top-menu .left-nav {
}

#top-menu .left-nav a {
    text-decoration: none;
}


/* Sandwich-menu icon*/

#sandwich-menu-icon {
    display : inline-block;
    vertical-align: middle;
    width: 35px;
    height: 60px;
    cursor: pointer;
}

#sandwich-menu-icon span {
    display: block;
    position: absolute;
    width: 23px;
    height: 4px;
    background: #3877BC;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#sandwich-menu-icon span {
   left: 18px;
}
#sandwich-menu-icon span:nth-child(1) {
    top: 20px;
}
#sandwich-menu-icon span:nth-child(2) {
    top: 27px;
    width: 15px;
}
#sandwich-menu-icon span:nth-child(3) {
    top: 34px;
}

/* Sandwich menu icon rotation */

#sandwich-menu-icon.open span:nth-child(2) {
    opacity: 0;
}

#sandwich-menu-icon.open span:nth-child(1),
#sandwich-menu-icon.open span:nth-child(3) {
    top: 30px;						
}
											
#sandwich-menu-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

}
#sandwich-menu-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Logo */

#top-menu .left-nav img.logo {
    vertical-align: middle;
    margin-left: 20px;
    margin-top: 2px;
    width: 61px;
    height: auto;
}

/* Slogan */

#top-menu .left-nav span.slogan {
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    font-weight: 600;
    color: #3877BC;
}


/********** Right header **********/

#top-menu .right-nav {
    cursor: pointer;
    line-height: 22.4px;
    background: #F72C30;
}

#top-menu .right-nav .signup-link {
    padding-right: 20px;
    color: #3877BC;
    background: white;
}

#top-menu .right-nav .login-link {
    padding-right: 15px;
}

#top-menu .right-nav .login-link img {
    margin-top: -10px;
    margin-right: 5px;
}

#top-menu .right-nav a.nav-link-block {
    display: inline-block;
    height: 60px;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    text-decoration: none;
}

#top-menu .right-nav a.dashboard-user-link {
    padding-left: 15px;
}

#top-menu .right-nav a.dashboard-user-link .user-icon {
    width: 30px;
    height: 25px;
}

#top-menu .right-nav a.dashboard-user-link .username {
    padding-left: 5px;
}

#top-menu .right-nav a.toggle-dropdown-menu {
    /* Right padding of the arrow should be more or less equal to the left padding of the dropdown arrow
       (see #top-menu .fun-dropdown-menu:before right)
       |joe    ↓ (right-padding)|
       ________↑__              |
       | settings |             |
       | profile  |             |
       -----------              |
     */
    padding-right : 20px;
    padding-left : 10px;
}

#top-menu .right-nav a.signup-link span {
    color: #F72C30;
}

#top-menu .right-nav a.signup-link,
#top-menu .right-nav a.login-link {
    font-weight: bold;
    padding-left : 10px;
}

#top-menu .right-nav a.dashboard-user-link .username,
#top-menu .right-nav a.toggle-dropdown-menu span.vertical-arrow,
#top-menu .right-nav a.login-link span {
    color: white;
}


/* Dropdown menu */

#top-menu .fun-dropdown-menu {
    min-width: 200px;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #c8c8c8;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
    list-style: none;
    list-style-image: none;
    border-radius: 4px;
    position: absolute;
    right: 0px;
    top: 60px
    z-index: 3;
    display: none;
}

#top-menu .fun-dropdown-menu:before {
    /* Arrow on the top of the dropdown menu */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    display: block;
    width: 12px;
    height: 12px;

    position: absolute;
    right: 17px;
    top: -7px;

    background: #fcfcfc;
    border: 1px solid #646464;
    border-bottom-color: transparent;
    border-left-color: transparent;
    content: '';
}

#top-menu .fun-dropdown-menu li {
    border-bottom: 1px dotted #c8c8c8;
}

#top-menu .fun-dropdown-menu li:last-child {
    border-bottom: none;
}

#top-menu .fun-dropdown-menu li>a {
    display: block;
    padding: 3px 5px 4px;
    margin: 5px 0px;
    font-size: 15px;
}

#top-menu .fun-dropdown-menu li>a:hover {
    color: #3c3c3c;
    text-decoration: none;
}

/* Header responsiveness:
 < 767px slogan, 'login' text and username disappear.
*/

@media (max-width: 767px) {
    #top-menu .left-nav span.slogan {
	display: none;
    }

    #top-menu .right-nav .dashboard-user-link span.username,
    #top-menu .right-nav .nav-link-block.signup-link,
    #top-menu .right-nav .nav-link-block.login-link span {
	display: none;
    }

    #top-menu .right-nav .login-link {
	padding-left: 15px;
	padding-right: 8px;
    }
}

/***************************** SANDWICH MENU *******************************/

#sandwich-overlay {
    width: 100%;
    position: fixed;
    padding-top:100px;
    top: 0px;
    display: none;
    background-color: rgba(61, 121, 190, 0.95);
    z-index: 2000;
}

#sandwich-overlay ul li a {
    font-family: 'Raleway', sans-serif;
    color: white;
}

#sandwich-overlay ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10;
    text-align: center;
}

#sandwich-overlay li {
    font-size: 2.5em;
    margin-bottom: 0.8em;
}

#sandwich-overlay ul li a {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

#sandwich-overlay li a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: -1px 1px 8px #57A1E7, 1px -1px 8px #57A1E7; /* light blue glow */
}

#sandwich-overlay li a.selected {
    border: 1px solid white;
    padding: 16px;
}

.close-overlay {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.close-overlay.blue {
    margin-top: 4px;
    color: #0C3D72;
    font-size: 16px;
}

/* Main content positioning in courseware */
.content-wrapper {
    margin: 60px auto !important;
}



/** EXTRA **/

.light-shadow {
    -webkit-box-shadow: 0 6px 6px -6px #aaa;
       -moz-box-shadow: 0 6px 6px -6px #aaa;
            box-shadow: 0 6px 6px -6px #aaa;
}
