/***** This file is included both in funsite and edx-platform/lms base templates. *****/

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway-Light'), url(../fonts/Raleway-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway-Regular'), url(../fonts/Raleway-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway-SemiBold'), url(../fonts/Raleway-SemiBold.ttf) format('truetype');
}
.light-shadow {
    -webkit-box-shadow: 0 6px 6px -6px #aaa;
       -moz-box-shadow: 0 6px 6px -6px #aaa;
            box-shadow: 0 6px 6px -6px #aaa;
}
.heavy-weight {
    font-weight: 600;
}
.color-fun-red {
    color: #F72B2F;
}
.color-fun-blue {
    color: #3877BC;
}
.color-fun-white {
    color: white;
}
.color-black {
    color:  black !important;
}
.clickable {
    cursor: pointer;
}

a.no-decoration,
a.no-decoration:hover,
a.no-decoration:focus,
a.no-decoration:active,
a.no-decoration:visited {
    text-decoration: none !important;
    color: inherit !important;
}

/********************************* HEADER *********************************/

#top-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3030; /*z-index used by boostrap for fixed headers*/
    background-color: white;
    font-family: 'Raleway', sans-serif;
}


#top-menu * {
    box-sizing: border-box;
}

.slogan, .username {
    font-family: 'Raleway', sans-serif;
}
.slogan {
    line-height: 25px;
}
.username {
    line-height: 20px;
}

/********** header block **********/

/* header blocks are 60px height block with centered content (vertically and horizontally).*/
.header-block {
    display:inline-block;
    vertical-align: top;
    height: 60px;
    text-align: center;
    padding-top: 17.5px;
    margin-right: -4px; /* see https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
}



/******************** Left header ********************/

#top-menu .left-header {
    white-space : nowrap;
}

/***** Sandwich-menu icon *****/
#sandwich-menu-icon {
    width: 60px;
    position: relative;
}
#sandwich-menu-icon span {
    display: block;
    position: absolute;
    width: 23px;
    height: 4px;
    background: #3877BC;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#sandwich-menu-icon span:nth-child(1) {
    top: 20px;
}
#sandwich-menu-icon span:nth-child(2) {
    top: 27px;
    width: 15px; /* middle layer is sligtly smaller */
}
#sandwich-menu-icon span:nth-child(3) {
    top: 34px;
}

/***** Sandwich-menu icon rotation *****/
#sandwich-menu-icon.open span:nth-child(2) {
    opacity: 0;
}
#sandwich-menu-icon.open span:nth-child(1),
#sandwich-menu-icon.open span:nth-child(3) {
    top: 30px;
}
#sandwich-menu-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

}
#sandwich-menu-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/***** Logo *****/
#top-menu .left-header .fun-logo-link {
    padding: 0px;
}

/***** Slogan (in funsite),  course display name (in courseware) *****/
#top-menu .left-header .course-org,
#top-menu .left-header .course-display-name,
#top-menu .left-header .slogan {
    font-size: 17px;
}

#top-menu .left-header span.course-display-name {
    overflow-x: hidden;
    white-space: nowrap;
}

/***** Various light horizontal alignments. *****/
#top-menu .left-header #sandwich-menu-icon span {
    left: 18px;
}
#top-menu .left-header .course-org,
#top-menu .left-header .course-display-name,
#top-menu .left-header .slogan {
    margin-left: 5px;
}



/******************** Right header ********************/

#top-menu .right-header {
    position: absolute;
    top:0;
    right: 0;
    background: #F72C30;
}

#top-menu .right-header .white-header-block {
    background : white;
    width: 20px;
}

#top-menu .right-header .toggle-dropdown-menu {
    width: 40px;
}
#top-menu .vertical-arrow {
    font-size : 21px;
    line-height: 30px;
}
#top-menu .right-header .toggle-dropdown-menu:focus {
    outline: 0; /* Override edx focus on `a` tag behaviour. */
}
#top-menu .right-header .signup-link {
    background: white;
}

/***** Various light vertical alignments. *****/

#top-menu .right-header .user-icon-sign-in-link,
#top-menu .right-header .user-icon-dashboard-link  {
    display: inline-block;
    padding-top : 15px;
}
#top-menu .right-header .toggle-dropdown-menu {
    padding-top : 12px;
}

/***** Various light horizontal alignments. *****/

#top-menu .right-header .dashboard-user-link {
    padding-left: 15px;
}
#top-menu .right-header .signup-link {
    padding-right: 20px;
}
#top-menu .right-header .user-icon-sign-in-link {
    padding-left: 15px;
}
#top-menu .right-header .user-icon-dashboard-link {
    padding-left: 15px;
}
#top-menu .right-header .login-link {
    padding-left: 10px;
    padding-right: 15px;
}

/* global course search */
.search-site-block {
    padding-top: 10px;
    padding-right: 20px;
    background-color: white;
    margin-right: -5px;
    line-height: 20px;
}

#search-site {
    width: 200px;
    border: 1px solid #F1F2F3;
    padding: 8px 8px 8px 40px;
    background: url('../images/icones/search.png') 3px 3px no-repeat white;
}
#search-site:focus {
    outline: none;
    border: 1px solid #FB453E;
}


/********************  Header responsiveness: ********************/

@media (max-width: 767px) {
    /***** < 767px the username in right header disappears. *****/
    #top-menu .right-header .dashboard-user-link,
    #top-menu .left-header .slogan,
    #top-menu .left-header .course-org,
    #top-menu .left-header .course-display-name,
    #top-menu .right-header .signup-link,
    #top-menu .right-header .login-label
    {
	   display: none;
    }
    #top-menu .right-header .user-icon-sign-in-link {
	   padding-right: 15px;
    }
}

@media (max-width: 500px) {
    #search-site {
        width: 76px;
    }
}


/***** Dropdown menu ******/
#top-menu .fun-dropdown-menu {
    min-width: 200px;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #c8c8c8;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
    list-style: none;
    list-style-image: none;
    border-radius: 4px;
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 3;
    display: none;
}

/***** Arrow on the top of the dropdown menu ******/
#top-menu .fun-dropdown-menu:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    display: block;
    width: 12px;
    height: 12px;

    position: absolute;
    right: 9px;
    top: -7px;

    background: #fcfcfc;
    border: 1px solid #646464;
    border-bottom-color: transparent;
    border-left-color: transparent;
    content: '';
}

#top-menu .fun-dropdown-menu li {
    border-bottom: 1px dotted #c8c8c8;
}

#top-menu .fun-dropdown-menu li:last-child {
    border-bottom: none;
}

#top-menu .fun-dropdown-menu li>a {
    display: block;
    padding: 3px 5px 4px;
    margin: 5px 0px;
    font-size: 15px;
}

#top-menu .fun-dropdown-menu li>a:hover {
    color: #3c3c3c;
    text-decoration: none;
}


/********************************* SANDWICH MENU *********************************/

#sandwich-overlay {
    width: 100%;
    position: fixed;
    padding-top:100px;
    top: 0px;
    display: none;
    background-color: rgba(61, 121, 190, 0.95);
    z-index: 2000;
}

#sandwich-overlay ul li a {
    font-family: 'Raleway', sans-serif;
    color: white;
}

#sandwich-overlay ul {
    margin-top: 0;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#sandwich-overlay li {
    font-size: 35px;
    margin-bottom: 28px;
    line-height: 40px;
}

#sandwich-overlay ul li a {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

#sandwich-overlay li a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: -1px 1px 8px #57A1E7, 1px -1px 8px #57A1E7; /* light blue glow */
}

#sandwich-overlay li a.selected {
    border: 1px solid white;
    padding: 16px;
}

.close-overlay {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.close-overlay.blue {
    margin-top: 4px;
    color: #0C3D72;
    font-size: 16px;
}

/* Main content positioning in courseware */
.content-wrapper {
    margin: 60px auto !important;
}

/** Payment terms and conditions **/


.display-fun-payment-terms {
    padding-top: 20px;
    color: black;
    font-family: 'Raleway', sans-serif;

}

.display-fun-payment-terms-header {
    height: 36px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    background-color: #F83336;
    margin-top: 12px;
    padding: 10px;
}
.fun-wrapper-make-payment-step ul,.fun-wrapper-make-payment-step li, .fun-wrapper-make-payment-step p {
    color: black !important;
    line-height: 120%;
    font-size: 0.95em;
}
.fun-wrapper-make-payment-step h3 {
    color: #F83336 !important;
    font-weight: 600;
    line-height: 200%;
}
.display-fun-payment-terms-text {
    text-align: left;
    padding: 12px 6px 6px;
    font-weight: 300;
    height: 300px;
    overflow-y: scroll;
    font-size: 13px;
    background-color: white;
}
.display-fun-payment-terms-text h1 {
    font-size: 28px;
    text-align: left;
    line-height: 26px;
}
.display-fun-payment-terms-text h2 {
    font-size: 24px;
}
.display-fun-payment-terms-text h3 {
    font-size: 20px;
}

section.terms-and-conditions .display-fun-payment-terms-text {
    height: inherit;  /* do not force container height */
    overflow-y: inherit;
}

.display-fun-payment-terms-footer {
    height: 48px;
    text-align: right;
    background-color: #3877BC;
    padding: 7px 14px;
    margin-bottom: 18px;
}

.btn-terms {
    padding: 4px 12px 4px 12px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    background-color: #3877BC;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
}

.dashboard .my-courses .course .wrapper-messages-primary .message.message-upsell .action-upgrade .copy {
    margin-left: 20px;
}

/* FUN special forum roles colors */
body.discussion .fun-forum-role {
    font-size: 9px;
    vertical-align: middle;
    border-radius: 2px;
    padding: 0;
    font-style: normal;
    text-transform: uppercase;
    color: white;
    padding: 0 4px;
}

body.discussion .user-label-active {
    background: #98b3ff;
}

body.discussion .user-label-recommended {
    background: #618aff;
}

body.discussion .user-label-official {
    background: #0747ff;
}