body {
    margin: 0;
}

.top-block {
    width: 100%;
    height: 130px;
}

.top-block div {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.top-block div img.logo {
    margin-left: 36px;
    margin-top: 18px;
}

.banner-block {
    width: 100%;
    top: 132px;
    left: 0px;
    height: 100px;
    background: url("/static/selftest/images/blue_banner.png")
                no-repeat scroll center 0px #0e4586;
}
.banner-block div {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.banner-block div h1 {
    padding-top: 20px;
    padding-left: 36px;
    color: white;
    text-transform: uppercase;
    font-family: arial;
    font: normal 16px "Arial","Helvetica",sans-serif;
}

.menu-block {
    width: 100%;
    height: 52px;
    background-color: #333333;
}
.menu-block h1 {
    margin-top: 0;
    padding-top: 16px;
    color: white;
    text-transform: uppercase;
    font: normal 20px "Arial","Helvetica",sans-serif;
    text-align: center;
}

.message-block {
    width: 100%;
}
.message-block div {
    padding-top: 24px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
}

.message-block h1 {
    text-transform: uppercase;
    font: normal 20px "Arial","Helvetica",sans-serif;
    text-align: center;
    margin-bottom: 20px;

}

.message-block p {
    font: normal 16px "Arial","Helvetica",sans-serif;
    line-height: 22px;
}

