## mako
<%!
from django.core.urlresolvers import ugettext as _
%>

<%inherit file="/payment/base.html" />


<%block name="title">Abandon du paiement</%block>
<%block name="breadcrumb_current_page">Abandon du paiement</%block>

<%block name="message">
    <h2>Abandon du paiement</h2>
    <p>
    ${_("Payment order for the course <strong>{title}</strong> has been interrupted.").format(title=order_course.title)}
    </p>
    <p>
    ${_("This was for the payment order <strong>{number}</strong>.").format(number=order['number'])}
    </p>

</%block>
