## mako
<%! from django.core.urlresolvers import reverse %>

<html>
<head><title>Payment Form</title>
</head>
<body>

<p>Payment page</p>

<form name="input" action="${fields['PBX_EFFECTUE']}" method="post">
	% for field, value in fields.items():
	<input type="hidden" name="${field}" value="${value}">
	% endfor
    <input type="submit" value="Submit">
</form>

<form name="frm_decline" action="${fields['PBX_REFUSE']}" method="post">
    <input type="submit" value="Decline" id="decline">
</form>


</body>
</html>


