## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<%inherit file="/funsite/parts/simple-content.html" />

<%block name="title">${_("Verified exam terms and conditions")}</%block>
<%namespace name="breadcrumbs" file="/funsite/parts/breadcrumbs.html"/>

<%block name="page_content">
    ${breadcrumbs.breadcrumbs(_("Verified exam terms and conditions"))}

    <section class="terms-and-conditions">
        <div class='hidden-320 hidden-768 cartouche_overlay'>
	        ${_("In this page")}
	        <ul>
		        <li>
			        <a class=anchor href=#honor >${_("Usage policy")}</a>
		        </li>
		        <li>
			        <a class=anchor href=#tos >${_("Terms of use")}</a>
		        </li>
		        <li>
			        <a class=anchor href=#privacy >${_("Privacy policy")}</a>
		        </li>
		        <li>
			        <a class=anchor href=#legal >${_("Terms and conditions")}</a>
		        </li>
	        </ul>
        </div>

      <article>

        % if force:
        <br><br>

            <div class="display-fun-payment-terms">
              <div class="display-fun-payment-terms-header">
                ${_("Please read and accept terms and conditions")}
              </div>

              <div class="display-fun-payment-terms-text">

                  ${terms.text|n}

              </div>

              <div class="display-fun-payment-terms-footer">
                <form action="${reverse('payment:accept-terms')}" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
                    <button type="submit" id="validate-terms" class="btn-terms">${_("Accept")}</button>
                </form>
              </div>

            </div>
        % else:
            ${terms.text|n}
        % endif

        </article>
    </section>

  </%block>
