## mako
<%!
from django.utils.translation import ugettext as _
%>

<%inherit file="/funsite/parts/simple-content.html" />

<%block name="title">${_("Verified exam terms and conditions")}</%block>
<%namespace name="breadcrumbs" file="/funsite/parts/breadcrumbs.html"/>

<%block name="page_content">
    ${breadcrumbs.breadcrumbs(_("Verified exam terms and conditions"))}

    <section>
      <article>

        <div class="display-fun-payment-terms">
          <div class="display-fun-payment-terms-header">
            ${_("Please read and accept terms and conditions")}
          </div>

          <div class="display-fun-payment-terms-text">

              ${terms.text}

          </div>

          <div class="display-fun-payment-terms-footer">
            <span id="validate-terms" class="btn-terms" href="">${_("Accept")}</span>
          </div>

        </div>


        </article>
    </section>

  </%block>
