<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
from django.conf import settings
from django.core.urlresolvers import reverse

import django.utils.translation
with django.utils.translation.override('fr'):
    fun_certificate_date_issued = u"{day} {month} {year}".format(
        day=certificate_modified_date.day,
        month=_(certificate_modified_date.strftime("%B")),
        year=certificate_modified_date.year
    )

from fun_certificates.utils import get_encoded_cert_id

from courses.models import Course
fun_course = Course.objects.get(key=unicode(course_id))
fun_university = fun_course.get_first_university()

fun_logo_src = None
if organization_logo:
    fun_logo_src = organization_logo.url
elif url in fun_university.certificate_logo:
    fun_logo_src = fun_university.certificate_logo.url
elif url in fun_university.logo:
    fun_logo_src = fun_university.logo.url

accomplishment_course_title =  accomplishment_copy_course_name
if certificate_data and certificate_data.get('course_title', ''):
    accomplishment_course_title =  certificate_data.get('course_title', '')

%>

<main class="accomplishment accomplishment-main">

    <div class="wrapper-accomplishment-rendering">
        <div class="accomplishment-rendering">
            <img src="${STATIC_URL}fun_certificates/images/palmes.png" alt="Palmes" class="centered">
            <img src="${STATIC_URL}fun_certificates/images/certificat.png" alt="Certificat" class="centered" style="margin-top: -8px;">

            <p style="float: right; margin-right: 215px; margin-top: 6px; font-size: 17.5px;">Délivré le ${fun_certificate_date_issued}</p><br>
            <p style="margin-top: 34px; margin-bottom: 10px; font-size: 38px;" class="centered">${accomplishment_copy_name}</p>
            <p style="font-size: 17px; margin-bottom: 0;" class="centered">a suivi avec succès le MOOC</p>
            <p style="font-size: 32px;" class="centered">${accomplishment_course_title}</p>
            <div style="float: left; width: 50%;">
                <p style="font-size: 20px; margin-bottom: 10px;" class="centered">${fun_course.university_name}</p>
                <img src="${fun_logo_src}" alt="Logo établissement" class="centered" style="max-width: 340px; max-height: 85px;">
                % if certificate_data['signatories']:
                    ## For now, we display only the first of the signatories. This will probably have to change whenever we'll generate attestation in html format.
                    <div class="centered" style="max-width: 250px;">
                        <img src="${certificate_data['signatories'][0]['signature_image_path']}" alt="signature" class="centered" style="margin-top: 28px; max-height: 50px;">
                        <hr>
                        <p class="centered" style="font-size: 12px; font-style: italic;">
                            ${certificate_data['signatories'][0]['name']}<br>
                            ${certificate_data['signatories'][0]['title']}<br>
                            ${certificate_data['signatories'][0]['organization']}
                        </p>
                    </div>
                % endif
            </div>
            <div style="float: right; width: 50%;">
                <p class="centered" style="font-size: 13px; margin-bottom: 5px;">L'identité de la personne<br>a été vérifiée durant<br>l'examen final surveillé</p>
                <img class="centered" src="${STATIC_URL}fun_certificates/images/tampon-fun.png" alt="Certificat vérifié">
                <p class="centered" style="font-size: 12px;">
                %if request.GET.get("preview", False):
                    Une URL de vérification apparaîtra içi.
                %else:
                    Vérifier la validité de ce certificat et les informations associées :<br>
                    ${request.build_absolute_uri(reverse('short-cert-url', args=[get_encoded_cert_id(settings.SECRET_KEY, course_id, accomplishment_user_id)]))}
                % endif
                </p>
            </div>
        </div>
    </div>
</main>
